<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
        <%- include ../templates/head.ejs %>

        <link href='https://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	</head>

<body class="smoothscroll enable-animation">

<!-- wrapper -->
    <div id="wrapper">
        <!-- HEADER -->
        <div id="header" class="clearfix text-center">

            <!-- Logo -->
            <div class="col-md-2 col-md-offset-5 col-sm-12">
                <a class="logo logo-responsive" href="/">
                    <img src="/assets/images/landing_logo.png" alt="cocoa couriers logo" />
                </a>
            </div>
            <div class="col-sm-12 col-md-2 text-center margin-top-30">
                <a href="https://www.facebook.com/cocoacouriers/" class="social-icon social-icon-round social-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                    <i class="icon-facebook"></i>
                    <i class="icon-facebook"></i>
                </a>
                <a href="https://twitter.com/CocoaCouriers" class="social-icon social-icon-round social-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                    <i class="icon-twitter"></i>
                    <i class="icon-twitter"></i>
                </a>
                <a href="https://www.instagram.com/cocoacouriers" class="social-icon social-icon-round social-instagram" data-toggle="tooltip" data-placement="top" title="Instagram">
                    <i class="icon-instagram"></i>
                    <i class="icon-instagram"></i>
                </a>
                <a href="https://www.pinterest.com/Cocoa_Couriers/" class="social-icon social-icon-round social-pinterest" data-toggle="tooltip" data-placement="top" title="Pinterst">
                    <i class="icon-pinterest"></i>
                    <i class="icon-pinterest"></i>
                </a>
            </div>
        </div>
        <!-- /HEADER -->
        <!--BODY-->
        <div class="container">
            <div class="col-sm-12 margin-top-20 text-center">
                <h1 class="font-patua color-cocoa-brown landing-header">
                    The Best Mother's Day Gifts
                </h1>
                <h3 class="color-cocoa-secondary font-oswald">Start with Chocolate!</h3>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-12 text-center">
                    <img class="img-responsive" src="/assets/images/landing_pages/best-mothers-day-gift.png" alt="mothers day gift from cocoa couriers best mothers day gift"/>

                    <div class="col-sm-4 col-sm-offset-4 margin-top-10 col-xs-12 margin-bottom-40">
                        <a href="/store/cart?p=MDBOX" class="btn btn-xlg btn-default btn-bordered size-25">
                           SEND A GIFT NOW
                            <span class="block font-lato">Delivered Right to Mom!</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 bg-yellow">
            <div class="container">
                <div class="col-sm-7 margin-top-60">
                    <h1 class="color-cocoa-brown font- font-patua landing-sub">100% Organic Cacao</h1>
                    <p class="color-cocoa-secondary sub-para">
                        All of the chocolate found in our gifts and stores are purchased from organic cacao producers. The beans used to craft
                        this chocolate are simply the best cacao in the world and provide the most
                        complex flavor profile found in any chocolate in the world!
                    </p>
                    <a href="/store/cart?p=MDBOX" class="btn btn-3d btn-xlg btn-reveal btn-purple">
                        <i class="icon-shopping-cart"></i>
                        <span>Send A Gift Now</span>
                    </a>

                </div>
                <div id="theobromocontainer" class="col-sm-5 margin-top-60">
                    <img id="theobromo" class="img-responsive" src="/assets/images/landing_pages/theobromo.png" alt="chocolate mother's day gift"/>
                </div>
            </div>
        </div>

        <div class="col-sm-12 height-50">

        </div>

        <div class="col-sm-12 bg-soft-green">
            <div class="container">
                <div class="col-sm-5 margin-top-60 margin-bottom-60">
                    <img id="chocolate-gift" class="img-responsive" src="/assets/images/landing_pages/chocolate-gift.png" alt="chocolate mother's day gift"/>
                </div>
                <div class="col-sm-7 margin-top-60">
                    <h1 class="color-cocoa-brown font- font-patua landing-sub">Infused with organic fruit, nuts and much more!</h1>
                    <p class="color-cocoa-secondary sub-para ">
                        With so many bars to choose from, there is a flavor for everyone. Whether you enjoy plain chocolate or chocolate infusions, we have your combination!
                    </p>
                    <a href="/store/cart?p=MDBOX" class="btn btn-3d btn-xlg btn-reveal btn-purple">
                        <i class="icon-shopping-cart"></i>
                        <span>Send A Gift Now</span>
                    </a>

                </div>

            </div>
        </div>
        <div class="col-sm-12 height-50">

        </div>

        <div class="col-sm-12 bg-soft-purple">
            <div class="container">

                <div class="col-sm-7 margin-top-60 margin-bottom-60">
                    <h1 class="color-cocoa-brown font- font-patua landing-sub">Award Winning Bars!</h1>
                    <p class="color-cocoa-secondary sub-para ">
                        So many award winning chocolate bars are stocked in our store an in our subscription boxes! Good food awards and world chocolate awards are common occurrences in our family of products!
                        These bars are the perfect gift for your mother! She appreciates the finer things in life!
                    </p>
                    <a href="/store/cart?p=MDBOX" class="btn btn-3d btn-xlg btn-reveal btn-purple">
                        <i class="icon-shopping-cart"></i>
                        <span>Send A Gift Now</span>
                    </a>
                </div>
                <div class="col-sm-5 margin-top-60">
                    <img id="madecasse-bar-raw" class="img-responsive" src="/assets/images/landing_pages/madecasse-toasted-coconut.png" alt="chocolate mother's day gift"/>
                </div>
            </div>
        </div>
        <div class="col-sm-12 height-50">

        </div>
        <div class="col-sm-12 bg-soft-blue">
            <div class="container">
                <div class="col-sm-5">
                    <img id="mom-img" class="img-responsive" src="/assets/images/landing_pages/mom.png" alt="chocolate mother's day gift"/>
                </div>

                <div class="col-md-7 col-sm-12 margin-top-60">
                    <h1 class="color-cocoa-brown font- font-patua landing-sub">Thanks Mom!</h1>
                    <p class="color-cocoa-secondary sub-para">
                        To all the moms in our lives that add so much love and joy we treat you to something truly
                         special and hope you have a wonderful Mother's Day! Add a mother's day hand written card to your gift for FREE! We know this Mother's Day will be super special for mom!
                    </p>
                    <a href="/store/cart?p=MDBOX" class="btn btn-3d btn-xlg btn-reveal btn-purple">
                        <i class="icon-shopping-cart"></i>
                        <span>Send A Gift Now</span>
                    </a>
                </div>

            </div>
        </div>
        <div class="col-sm-12 height-50">

        </div>
        <div class="col-sm-12 text-center">
            <h3 class=" font-oswald margin-bottom-10">Follow Us</h3>
                <a href="https://www.facebook.com/cocoacouriers/" class="social-icon social-icon-round social-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                    <i class="icon-facebook"></i>
                    <i class="icon-facebook"></i>
                </a>
                <a href="https://twitter.com/CocoaCouriers" class="social-icon social-icon-round social-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                    <i class="icon-twitter"></i>
                    <i class="icon-twitter"></i>
                </a>
                <a href="https://www.instagram.com/cocoacouriers" class="social-icon social-icon-round social-instagram" data-toggle="tooltip" data-placement="top" title="Instagram">
                    <i class="icon-instagram"></i>
                    <i class="icon-instagram"></i>
                </a>
                <a href="https://www.pinterest.com/Cocoa_Couriers/" class="social-icon social-icon-round social-pinterest" data-toggle="tooltip" data-placement="top" title="Pinterst">
                    <i class="icon-pinterest"></i>
                    <i class="icon-pinterest"></i>
                </a>
        </div>
        <div class="col-sm-12 text-center margin-top-10">
            <a href="/"><h3 class=" font-oswald">MORE FROM COCOA COURIERS</h3></a>

        </div>

    </div>

</body>
</html>