<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>
    <%- include ../templates/head.ejs %>
</head>


<body class="smoothscroll enable-animation">

<!-- wrapper -->
<div id="wrapper">

    <!-- HOME -->
    <section id="home">

        <div class="text-center">
            <div class="row margin-bottom-40 margin-left-10 margin-right-10">

                <div class="visible-lg">
                    <div class="col-lg-1" style="margin-top:-70px;">
                        <img src="/assets/images/email-logo.png" />
                    </div>
                    <div class="col-lg-8 col-lg-offset-1">
                        <h1 class="nomargin size-100 weight-800 font-journal wow fadeInDown" data-wow-delay="0.2s">The Best Mothers Day Gift</h1>
                    </div>
                </div>

                <div class="visible-md">
                    <div class="col-md-2" style="margin-top:-70px;">
                        <img height="100" src="/assets/images/email-logo.png" />
                    </div>
                    <div class="col-md-8">
                        <h1 class="nomargin size-90 weight-800 font-spin wow fadeInDown" data-wow-delay="0.2s">The Best Mothers Day Gift</h1>
                    </div>
                </div>

                <div class="visible-sm">
                    <div class="col-sm-2" style="margin-top:-70px;">
                        <img height="75" src="/assets/images/email-logo.png" />
                    </div>
                    <div class="col-sm-8">
                        <h1 class="nomargin size-80 weight-800 font-spin wow fadeInDown" data-wow-delay="0.2s">The Best Mothers Day Gift</h1>
                    </div>
                </div>

                <div class="visible-xs">
                    <div class="col-xs-12" style="margin-top:-70px;">
                        <img height="50" class="pull-left" src="/assets/images/email-logo.png" />
                    </div>
                    <div class="col-xs-12">
                        <h1 class="nomargin size-70 weight-800 font-spin wow fadeInDown" data-wow-delay="0.2s">The Best Mothers Day Gift</h1>
                    </div>
                </div>

            </div>

            <div class="margin-top-30 visible-lg">
                <a href="#" class="btn btn-3d btn-xlg btn-purple size-25">Buy Gift Now&nbsp;&nbsp;<span class="fa fa-shopping-cart"></span></a>
            </div>
            <div class="margin-top-30 visible-md">
                <a href="#" class="btn btn-3d btn-lg btn-purple size-25">Buy Gift Now&nbsp;&nbsp;<span class="fa fa-shopping-cart"></span></a>
            </div>
            <div class="margin-top-30 visible-sm">
                <a href="#" class="btn btn-3d btn-lg btn-purple size-20">Buy Gift Now&nbsp;&nbsp;<span class="fa fa-shopping-cart"></span></a>
            </div>

            <div class="row margin-left-10 margin-right-10 margin-bottom-40">

                <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

                    <img class="img-responsive hidden-xs" src="/assets/images/landing_pages/best-mothers-day-gift.png" alt="" />
                    <img class="img-responsive visible-xs" style="margin-top:-40px;" src="/assets/images/landing_pages/best-mothers-day-gift.png" alt="" />

                    <div class="visible-xs margin-top-20">
                        <a href="#" class="btn btn-3d btn-lg btn-purple size-17">Buy Gift Now&nbsp;&nbsp;<span class="fa fa-shopping-cart"></span></a>
                    </div>

                    <h1 class="lead font-lato size-50 wow fadeInUp visible-lg visible-md margin-top-30" data-wow-delay="0.3s">Give the Unique Gift of the World's Best Organic Chocolate!</h1>
                    <h1 class="lead font-lato size-30 wow fadeInUp visible-sm margin-top-30" data-wow-delay="0.3s">Give the Unique Gift of the World's Best Organic Chocolate!</h1>
                    <h1 class="lead font-lato size-20 wow fadeInUp visible-xs margin-top-30" data-wow-delay="0.3s">Give the Unique Gift of the World's Best Organic Chocolate!</h1>

                </div>

            </div>

            <div class="row bg-emerald-green margin-bottom-100 margin-top-100">
                <div class="col-lg-4 col-lg-offset-4">
                    <h2 class="text-white text-center font-spin size-40 margin-top-20">All For Only 29.99!</h2>
                </div>
                <div class="col-lg-4">
                    <a href="#" class="btn btn-lg btn-default btn-3d margin-top-20 pull-left"><strong>Buy Now!</strong></a>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                    <div class="col-lg-6">
                        <img class="img-responsive pull-left" src="/assets/images/landing_pages/best-mothers-day-gift-2.png" />
                    </div>
                    <div class="col-lg-6">
                        <h4 class="text-right font-lato size-30 wow fadeInRight margin-top-100" data-wow-delay="0.2s">
                            Four of the finest artisan bars, made in small batches from only the best organic cocoa beans, harvested all around the globe.<br/><br/>
                            All bars contain only all natural ingredients, and pure cocoa solids. <br/><br/>
                            No fillers guaranteed!
                        </h4>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                    <div class="col-lg-7">
                        <h4 class="text-left font-lato size-30 wow fadeInLeft margin-top-100" data-wow-delay="0.2s">
                            The included bars have been customly catered for this special mother's day gift, to offer a variety of flavor infusions, keeping your palette guessing and wanting more smooth taste after each bite. <br/><br/>
                            The infusions include black fig, blueberry, toasted coconut, and mint, which are sure to please any chocolate loving mom out there.
                        </h4>
                    </div>
                    <div class="col-lg-3 col-lg-offset-2">
                        <img class="img-responsive pull-left" src="/assets/images/landing_pages/best-mothers-day-gift-3.png" />
                    </div>
                </div>
            </div>

            <div class="row bg-brown margin-top-50">
                <div class="col-lg-4 col-lg-offset-4">
                    <h2 class="text-white text-center font-spin size-40 margin-top-20">What's Included?</h2>
                </div>
            </div>

            <div class="row padding-top-50 padding-bottom-50" style="background-color: rgba(172, 120, 131, 1.0)">

                <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                    <div class="col-lg-5">
                        <img class="img-responsive pull-left" src="/assets/images/landing_pages/dick-taylor-black-fig.png" />
                    </div>
                    <div class="col-lg-7">
                        <h4 class="text-right text-white font-lato size-30 wow fadeInRight margin-top-100" data-wow-delay="0.2s">
                            The Dick Taylor Black Fig  bar features a delightful blend of 72% Madagascar Origin Cacao and dried black mission figs grown in California.<br/><br/>
                            This bar is remarkably beautiful, as most of the Dick Taylor bars however the combination of the fig sprinkled along the back of the bar adds an element of color that makes the bar look very special. The fig adds a great sweetness as well which is great for infusion lovers!
                        </h4>
                    </div>
                </div>

            </div>

            <div class="row" style="background-color: #ecf0f1">

                <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                    <div class="col-lg-6">
                        <h4 class="text-right font-lato size-30 wow fadeInLeft margin-top-100" data-wow-delay="0.2s">
                            This particular bar is 56% cacao sourced from Dominican Republic and Eastern Congo, contains no milk, has a higher concentration of cane sugar, coconut, and cocoa butter.<br/><br/> This makes a slightly sweeter bar which pairs very eloquently with the organic peppermint oil listed on the packaging.
                        </h4>
                    </div>
                    <div class="col-lg-6">
                        <img class="img-responsive" src="/assets/images/landing_pages/raaka-mint-nibs.png" />
                    </div>
                </div>

            </div>

            <div class="row" style="background-color: #0041C2">

                <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                    <div class="col-lg-5">
                        <img class="img-responsive pull-left" src="/assets/images/landing_pages/brasstown-blueberry.png" />
                    </div>
                    <div class="col-lg-7">
                        <h4 class="text-right text-white font-lato size-30 wow fadeInRight margin-top-100" data-wow-delay="0.2s">
                            This 75% dark bar from Brasstown is one smooth customer. The strong chocolaty flavors are well paired with the real blueberries that are embedded in the chocolate.<br/><br/>
                            The Ecuador cacao gives an amazing richness to the chocolate you're guaranteed to love.
                        </h4>
                    </div>
                </div>

            </div>

            <div class="row" style="background-color: #ecf0f1">

                <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                    <div class="col-lg-9">
                        <h4 class="text-left font-lato size-30 wow fadeInLeft margin-top-100" data-wow-delay="0.2s">
                            Madecasse Toasted Coconut is a very tasty infusion bar which takes 70% dark Madegascarian cacao and pairs it up with a layer of toasted coconut. This adds a crunch to the bar that typically isn't often found in our chocolate bars.<br/><br/>
                            Madecasse also infuses natural vanilla into these bars which adds subtle undertones that are a nice complement of the chocolate.
                        </h4>
                    </div>
                    <div class="col-lg-3">
                        <img class="img-responsive pull-left" src="/assets/images/landing_pages/madecasse-toasted-coconut.png" />
                    </div>
                </div>

            </div>

        </div>

    </section>
    <!-- /HOME -->


    <%- include ../templates/footer.ejs %>

    </div>
</body>
</html>