<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>

    <%- include ../templates/head.ejs %>

    <!--Facebook Moderation ID -->
    <meta property="fb:app_id" content="1667937230127095" />
    <!--Facebook Moderation ID -->

</head>

<body class="smoothscroll enable-animation font-spin">

    <!-- wrapper -->
    <div id="wrapper">

        <%- include ../templates/header.ejs %>

        <section>
            <div class="container">

                <div class="row margin-top-60">

                    <!-- LEFT -->
                    <div class="col-md-8 col-sm-12">

                        <h1 class="blog-post-title">Cocoa Couriers First Annual Tasting Event</h1>
                        <ul class="blog-post-info list-inline">
                            <li>
                                <i class="fa fa-clock-o"></i>
                                <span class="font-lato">December 10, 2015 - Joseph Grande - Co-Founder | CocoaCouriers</span>
                            </li>
                            <li>
                                <!-- AddToAny BEGIN -->
                                <div class="a2a_kit a2a_default_style">
                                    <a class="a2a_dd" href="https://www.addtoany.com/share">Share</a>
                                    <span class="a2a_divider"></span>
                                    <a class="a2a_button_facebook"></a>
                                    <a class="a2a_button_twitter"></a>
                                    <a class="a2a_button_google_plus"></a>
                                    <a class="a2a_button_google_gmail"></a>
                                    <a class="a2a_button_linkedin"></a>
                                    <a class="a2a_button_whatsapp"></a>
                                </div>
                                <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
                                <!-- AddToAny END -->
                            </li>
                        </ul>

                        <div class="blog-single-small-media">
                            <div class="owl-carousel buttons-autohide controlls-over nomargin" data-plugin-options='{"items": 1, "autoPlay": 4500, "autoHeight": false, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "progressBar":"false"}'>
                                <a class="lightbox" href="/assets/images/blog_images/tasting1.png" data-plugin-options='{"type":"image"}'>
                                    <img class="img-responsive" src="/assets/images/blog_images/tasting1.png" alt="" />
                                </a>
                                <a class="lightbox" href="/assets/images/blog_images/tasting2.png" data-plugin-options='{"type":"image"}'>
                                    <img class="img-responsive" src="/assets/images/blog_images/tasting2.png" alt="" />
                                </a>
                            </div>
                        </div>

                        <!-- article content -->
                        <p>The first annual CocoaCouriers tasting event is put together for our customers as a way to input their feedback on our  supplier selection over the next year by tasting and rating the newest creations on the market. </p>
                        <p>We decided the best way to get people involved in loving artisan chocolate is to actually taste the difference for themselves! Our guests got to taste a wide variety of chocolate makers select the ones they liked best. </p>
                        <h3>The Start</h3>
                        <p>To start the event we introduced our guests to the world of craft chocolate and why it was so much different than the shelved products
                        you can buy at the grocery store. We explained the process makers go through to make their hand crafted goods and why they taste so much better than normal
                        chocolate bars.</p>

                        <h3>Get the tasting underway!!</h3>
                        <p>After a quick introduction of Cocoa Couriers and how they deliver artisan bean to bar chocolate directly to homes, we began the tasting! This was not a blind taste test
                        either, we found it particularly important for our guests to see the beautiful packaging our makers decided to brand their products with. Our method of finding the audience's
                        favorite chocolate began by handing out scorecards which prompted the guests to rate the chocolate across 5 categories</p>
                        <h4>Touch</h4>
                        <p>The Texture of the chocolate</p>
                        <h4>Smell</h4>
                        <p>The aroma of the chocolate</p>
                        <h4>Sound</h4>
                        <p>The sound of the chocolate when breaking</p>
                        <h4>Sight</h4>
                        <p>The packaging and press of the chocolate</p>
                        <h4>Taste</h4>
                        <p>Most importantly how delicious was the chocolate (according to their taste)</p>

                        <h3>The Findings</h3>
                        <p>After exposing 15 people who had never had artisan chocolate before to the wide range of makers available through Cocoa Couriers we realised a few things:</p>
                        <ul>
                            <li>People who have had little exposure to dark chocolate did not like the powerful taste it presented</li>
                            <li>People who typically liked dark chocolate, absolutely loved the infused dark chocolates</li>
                            <li>Despite having quite a few non-dark chocolate eaters, the highest overall score was awarded to a dark (72%) chocolate bar infused with cranberries</li>
                            <li>People love milk chocolate infused with mint!!!</li>
                            <li>Packaging was very important to how people perceived the chocolate they were eating</li>
                        </ul>

                        <p>Overall our guests were thrilled to be able to taste such a wide range of chocolates from all over the world and found the background on sustainable culture and fair trade interesting.</p>
                        <!-- BLOCKQUOTE -->
                        <blockquote>
                            <p>This event was really cool! I'd never had chocolate like this before there was so many I loved it was hard to pick a favorite</p>
                            <cite>Amanda K (Event Guest)</cite>
                        </blockquote>

                        <p>Cocoa Couriers wants to give a special thank you to all of the makers who sent us their new creations, they were such a huge hit! Special Thanks to:</p>
                        <ul>
                            <li>Starchild Chocolate</li>
                            <li>SoulRoasters Chocolate</li>
                            <li>Ritual Chocolate</li>
                            <li>Raaka Chocolate</li>
                            <li>Pitch Dark Chocolate</li>
                            <li>Maverick Chocolate</li>
                            <li>Marsatta Chocolate</li>
                            <li>Letterpress Chocolate</li>
                            <li>Kyya Chocolate</li>
                            <li>Hello Cocoa</li>
                            <li>Habitual Chocolate</li>
                            <li>Burnt Fork Bend</li>
                            <li>Brasstown Chocolate</li>
                            <li>Acalli Chocolate</li>
                            <li>The Chocolate Conspiracy</li>
                            <li>Undone Chocolate</li>
                        </ul>
                        <p>They provided some of the best chocolate our guests have ever tasted, and the art work on the packaging is simply beautiful</p>
                        <!-- /article content -->

                        <div class="divider divider-dotted"><!-- divider --></div>

                    </div>
                    <div class="col-md-2 col-sm-12">
                        <div class="fb-comments" data-href="https://www.cocoacouriers.com/blog/Cocoa-Couriers-First-Annual-Tasting-Event" data-width="400" data-numposts="5"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- / -->

        <%- include ../templates/footer.ejs %>

    </div>
    <!-- /wrapper -->

    <!-- Facebook -->
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1667937230127095";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

</body>
</html>