<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>

    <%- include ../templates/head.ejs %>

    <!--Facebook Moderation ID -->
    <meta property="fb:app_id" content="1667937230127095" />
    <!--Facebook Moderation ID -->

</head>

<body class="smoothscroll enable-animation font-spin">

    <div class="wrapper">

        <%- include ../templates/header.ejs %>

        <section>
            <div class="container">

                <div class="row margin-top-60">

                    <!-- LEFT -->
                    <div class="col-md-10 col-sm-12">

                        <h1 class="blog-post-title">December 2015 Box Review</h1>
                        <ul class="blog-post-info list-inline">
                            <li>
                                <i class="fa fa-clock-o"></i>
                                <span class="font-lato">December 22, 2015 - Frank Pento - Co-Founder | CocoaCouriers</span>
                            </li>
                        </ul>

                        <div class="blog-single-small-media">
                            <div class="owl-carousel buttons-autohide controlls-over nomargin" data-plugin-options='{"items": 1, "autoPlay": 4500, "autoHeight": false, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "progressBar":"false"}'>
                                <a class="lightbox" href="/assets/images/blog_images/box1-image-1.png" data-plugin-options='{"type":"image"}'>
                                    <img class="img-responsive" src="/assets/images/blog_images/box1-image-1.png" alt="" />
                                </a>
                                <a class="lightbox" href="/assets/images/blog_images/box1-image-2.png" data-plugin-options='{"type":"image"}'>
                                    <img class="img-responsive" src="/assets/images/blog_images/box1-image-2.png" alt="" />
                                </a>
                            </div>
                        </div>

                        <!-- article content -->
                        <p>These are very exciting times for Cocoa Couriers with the launch of our First Months Box of Artisan Chocolate.
                            We have four different companies in this first box, and here is a little bit about them.</p>


                            <h4>Chocosol’s “Sinful Raw Vanilla”</h4>
                            <p>This months first featured bar is Chocosol’s “Sinfully Raw Vanilla”.
                                Chocosol was founded in 2004 in Oaxaca, Mexico. They are now in their tenth year of operation.  They like to think of themselves as a “learning community/social
                                enterprise that focuses on making the ‘food of the gods’ – commonly known as cacao – into fresh, whole food, stone ground chocolate on an artisanal scale.
                            </p>
                            <p>Chocosol Sinfully Raw Vanilla is an amazing tasting dark chocolate bar (like all of the bars they make) but they infused vanilla to make these bars
                            exceptionally flavorful. The subtle taste of vanilla takes a bit of edge of the dark chocolate for those who don't typically love dark chocolate and that makes it a nice
                            treat for anyone! We love what these guys are doing and would definitely recommend checking out their shop in Toronto, Canada!</p>

                            <h4>Vintage Plantations “Vegan Milk Chocolate”</h4>
                            <p>Located in New Jersey, Vintage plantations Mission is “To support the small chocolate industry
                                in countries where the chocolate originates by re-designing the cocoa commodity chain, thereby aiding farmers to
                                adopt better farm management practices, protect the environment, ensure crops are free of harmful chemicals,
                                and maximize their income in order to encourage the farmers’ optimal re-investment in the development of high-quality chocolate.”</p>

                        <p> Vintage Plantation's Vegan Milk Chocolate is different in the sense that it is made from rice milk instead of dairy milk. This creates a very smooth and sweet flavor in the
                        chocolate. We specifically included one milk chocolate bar in box number one so that our customers could see the difference between a milk bar and a dark chocolate bar, hopefully
                        allowing them to define their preferences.</p>

                            <h4>Hummingbird’s “Hispaniola” bar</h4>
                            <p>Located in Almonte, Ontario, Hummingbird Chocolate “started out casually; a private hobby really. Friends wanted their bars and so they experimented more. From there,
                                chocolate became a passion. Soon enough,
                                some insanely talented people joined them, considerably raising their game in the process.
                                Hummingbird has become crazily obsessed with making the best possible chocolate they can.”</p>
                        <p>Hummingbird's Hispaniola bar boasts single sourced beans from the Dominican Republic. This very bar won Gold at the chocolate awards 2015 for the category of Canada.
                        It also won Silver in the world in the category of micro-batch. We know there are so many flavors being developed at Hummingbird and we are excited to see what they come up with next.</p>



                            <h4>Hello Cocoa’s “70% Dominican Republic”</h4>
                            <p>Hello Cocoa, is a small batch chocolate producer located in Arkansas.  Their goal as bean to bar chocolate makers is “to develop great relationships with people all over the world and to
                                do good business together.   They currently source ethically and sustainably traded beans.
                                As they grow, we will begin to directly source more and more beans from small farmers in unique locations around the world. Hello Cocoa is passionate about travel and meeting people;
                                this is an essential foundation of the Hello Cocoa experience and was the original inspiration of our company.
                                They want to introduce fans and chocolate-lovers to friends, lifestyles, cultures & landscapes around the world.  And it all starts with a simple greeting, hello.</p>
                                <p>Hello Cocoa's Dominican Republic bar is exceptional! We liked it so much we needed to include it in our first month's box so you could taste it too! Our <a href="/blog/Cocoa-Couriers-First-Annual-Tasting-Event">First Annual Cocoa Couriers
                                Tasting Event</a> ended with Hello Cocoa performing ahead of the pack on both their "Holiday Bar" and "Dominican Bars".</p>

                        <p>We hope you loved your first month's subscription to Cocoa Couriers and we want to continue to make your experience with us be a positive one!
                        Please send us feedback about your experiences to info@cocoacouriers.com</p>
                        <!-- /article content -->

                        <div class="divider divider-dotted"><!-- divider --></div>

                    </div>
                </div>
            </div>
        </section>

        <%- include ../templates/footer.ejs %>

    </div>
    <!-- /wrapper -->

</body>
</html>