<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>

    <%- include ../templates/head.ejs %>

    <!--Facebook Moderation ID -->
    <meta property="fb:app_id" content="1667937230127095" />
    <!--Facebook Moderation ID -->

</head>

<body class="smoothscroll enable-animation font-spin">

    <%- include ../templates/header.ejs %>

    <div class="wrapper">

        <section>
            <div class="container">

                <div class="row">

                    <!-- LEFT -->
                    <div class="col-md-10 col-sm-12">

                        <h1 class="blog-post-title">The Perfect Valentine's Day Gift!</h1>
                        <ul class="blog-post-info list-inline">
                            <li>
                                <i class="fa fa-clock-o"></i>
                                <span class="font-lato">February 2, 2016 - Joseph Grande - Co-Founder | CocoaCouriers</span>
                            </li>
                            <li>
                                <!-- AddToAny BEGIN -->
                                <div class="a2a_kit a2a_default_style">
                                    <a class="a2a_dd" href="https://www.addtoany.com/share">Share</a>
                                    <span class="a2a_divider"></span>
                                    <a class="a2a_button_facebook"></a>
                                    <a class="a2a_button_twitter"></a>
                                    <a class="a2a_button_google_plus"></a>
                                    <a class="a2a_button_google_gmail"></a>
                                    <a class="a2a_button_linkedin"></a>
                                    <a class="a2a_button_whatsapp"></a>
                                </div>
                                <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
                                <!-- AddToAny END -->
                            </li>
                        </ul>
                        <!-- article content -->

                        <div class="col-sm-12">
                            <img class="img-responsive" src="../assets/images/blog_images/Valentines-facebook-promo-2.png" alt=""/>
                        </div>

                        <div class="col-sm-12">
                        <div class="callout alert alert-info margin-top-60 margin-bottom-60">

                            <div class="row">

                                <div class="col-md-8 col-sm-8"><!-- left text -->
                                    <h4>Send The Gift of  <strong>Artisan Chocolate!</strong></h4>
                                    <p>
                                        Buy now and have it delivered before Valentine's Day!
                                    </p>
                                </div><!-- /left text -->


                                <div class="col-md-4 col-sm-4 text-right"><!-- right btn -->
                                    <a href="/subscribe?gift" rel="nofollow" target="_blank" class="btn btn-info btn-lg">PURCHASE NOW</a>
                                </div><!-- /right btn -->

                            </div>

                        </div>
                        </div>

                    </div>
                    <div class="col-md-2 col-sm-12">
                        <div class="fb-comments" data-href="https://www.cocoacouriers.com/blog/valentines-day-gift" data-width="400" data-numposts="5"></div>
                    </div>

                </div>
                <div class="divider divider-dotted"><!-- divider --></div>
            </div>

        </section>

        <%- include ../templates/footer.ejs %>

    </div>
    <!-- end wrapper -->

    <!-- Facebook -->
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1667937230127095";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

</body>
</html>