<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>

    <%- include ../templates/head.ejs %>

    <!--Facebook Moderation ID -->
    <meta property="fb:app_id" content="1667937230127095" />
    <!--Facebook Moderation ID -->

</head>

<body class="smoothscroll enable-animation font-spin">

    <div class="wrapper">

        <%- include ../templates/header.ejs %>

        <section>
            <div class="container">

                <div class="row">

                    <!-- LEFT -->
                    <div class="col-md-10 col-sm-12">

                        <h1 class="blog-post-title">What's The Deal with Chocolate Infusions?</h1>
                        <ul class="blog-post-info list-inline">
                            <li>
                                <i class="fa fa-clock-o"></i>
                                <span class="font-lato">January 26, 2015 - Joseph Grande - Co-Founder | CocoaCouriers</span>
                            </li>
                            <li>
                                <!-- AddToAny BEGIN -->
                                <div class="a2a_kit a2a_default_style">
                                    <a class="a2a_dd" href="https://www.addtoany.com/share">Share</a>
                                    <span class="a2a_divider"></span>
                                    <a class="a2a_button_facebook"></a>
                                    <a class="a2a_button_twitter"></a>
                                    <a class="a2a_button_google_plus"></a>
                                    <a class="a2a_button_google_gmail"></a>
                                    <a class="a2a_button_linkedin"></a>
                                    <a class="a2a_button_whatsapp"></a>
                                </div>
                                <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
                                <!-- AddToAny END -->
                            </li>
                        </ul>

                        <div class="blog-single-small-media">
                            <div class="owl-carousel buttons-autohide controlls-over nomargin" data-plugin-options='{"items": 1, "autoPlay": 4500, "autoHeight": false, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "progressBar":"false"}'>
                                <a class="lightbox" href="/assets/images/blog_images/whats-the-deal-with-infusions-1.jpg" data-plugin-options='{"type":"image"}'>
                                    <img class="img-responsive" src="/assets/images/blog_images/whats-the-deal-with-infusions-1.jpg" alt="" />
                                </a>
                                <a class="lightbox" href="/assets/images/blog_images/whats-the-deal-with-infusions-2.jpg" data-plugin-options='{"type":"image"}'>
                                    <img class="img-responsive" src="/assets/images/blog_images/whats-the-deal-with-infusions-2.jpg" alt="" />
                                </a>
                            </div>
                        </div>

                        <!-- article content -->
                        <p>What’s the deal with Infusions?</p>
                        <p>For the last few months we at Cocoa Couriers have been getting amazing chocolate samples coming from finest cocoa beans and artisanal chocolatiers around the world.
                        It is slowly becoming apparent through our chocolate tasting events that a common denominator among our customers was their love for infusions.</p>
                        <p>It’s no doubt that dark chocolate is an acquired taste to the average Joe. Infusions however, have a way of complimenting dark chocolate whereby the multitude of
                        flavours that can be added to a bar allow chocolatiers to satisfy tasters from all across the chocolate spectrum. For the dark chocolate lover, they are happy
                        to have the natural strong and rich taste of the dark chocolate with gentle hints of fruity infusions. We've noticed that our milk chocolate lovers are slowly converting
                        or “expanding their taste buds,”. We find that many people who have traditionally disliked dark chocolate are excited to explore dark chocolate because of the
                            mixture of sweet and salty flavors that infusions provide.</p>

                        <blockquote>
                            <p>Infusions give the dark-chocolate newbie an added aroma which in turn increases their willingness to step outside their comfort
                        zone and try dark-chocolate for all its glory.</p>
                            <cite>Val Berbenetz | Co-founder</cite>
                        </blockquote>

                        <p>Infusions are a huge part of artisanal chocolate as they give manufacturers the opportunity to be creative, to think outside the box and to
                        really cater to the needs and wants of their customers. Finding the right combination and taking risks is half the challenge. Some of the bars we have
                        tested have quite peculiar combinations that are definitely an acquired taste even for the dark chocolate lover. Cardamom and Chili are examples of
                        those infusions that require an open mind where as the more familiar flavours of Almonds, Pink Himalayan Sea Salt or Raspberry are infusions that are
                        more preferred by the GP (General Population). </p>
                        <p>The  beauty of it all is that regardless of whether you prefer milk chocolate over dark; orange over mint, or whether you just enjoy a
                        little something sweet after dinner...breakfast...or lunch, infusions give you that opportunity to try new flavours and ‘further expand your taste buds.’</p>

                        <p>So go ahead and start exploring the wide range of infusions out there, we are positive you will love them!</p>

                        <h2>Here's Some of Our Favorites</h2>
                        <ul>
                            <li>Blueberry</li>
                            <li>Pink Sea Salt</li>
                            <li>Toasted Coconut</li>
                            <li>Almonds</li>
                            <li>Bananas</li>
                            <li>Granola</li>
                            <li>Dried Fruits</li>
                            <li>Black Fig</li>
                            <li>Bourbon</li>
                            <li>Quinoa</li>
                            <li>Orange Peels</li>
                            <li>Chili</li>
                            <li>Ginger</li>
                        </ul>
                        <!-- article content -->

                        <div class="col-sm-12">
                            <img class="img-responsive" src="/assets/images/blog_images/infusion-bot-1.png">
                        </div>

                        <div class="col-sm-12 margin-bottom-40">
                            <img class="img-responsive" src="/assets/images/blog_images/infusion-bot-2.png">
                        </div>

                        <div class="col-sm-8 margin-bottom-40">
                            <img class="img-responsive" src="/assets/images/blog_images/infusion-bot-3.png">
                        </div>

                        <div class="col-sm-12">
                            <img class="img-responsive" src="/assets/images/blog_images/infusion-bot-4.png">
                        </div>

                        <div class="divider divider-dotted"><!-- divider --></div>

                    </div>
                    <div class="col-md-2 col-sm-12">
                        <div class="fb-comments" data-href="https://www.cocoacouriers.com/blog/whats-the-deal-with-chocolate-infusions" data-width="400" data-numposts="5"></div>
                    </div>
                </div>
            </div>
        </section>

        <%- include ../templates/footer.ejs %>

    </div>
    <!-- /wrapper -->

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

</body>
</html>