<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>

    <%- include ../templates/head.ejs %>

    <!--Facebook Moderation ID -->
    <meta property="fb:app_id" content="1667937230127095" />
    <!--Facebook Moderation ID -->

</head>

<body class="smoothscroll enable-animation font-spin">

    <!-- wrapper -->
    <div id="wrapper">

        <%- include ../templates/header.ejs %>

        <section>
            <div class="container">

                <div class="row margin-top-60">

                    <!-- LEFT -->
                    <div class="col-md-8 col-sm-12">

                        <h1 class="blog-post-title">What is Fair Trade?</h1>
                        <ul class="blog-post-info list-inline">
                            <li>
                                <i class="fa fa-clock-o"></i>
                                <span class="font-lato">January 14, 2016 - Joseph Grande - Co-Founder | CocoaCouriers </span>
                            </li>
                            <li>
                                <!-- AddToAny BEGIN -->
                                <div class="a2a_kit a2a_default_style">
                                    <a class="a2a_dd" href="https://www.addtoany.com/share">Share</a>
                                    <span class="a2a_divider"></span>
                                    <a class="a2a_button_facebook"></a>
                                    <a class="a2a_button_twitter"></a>
                                    <a class="a2a_button_google_plus"></a>
                                    <a class="a2a_button_google_gmail"></a>
                                    <a class="a2a_button_linkedin"></a>
                                    <a class="a2a_button_whatsapp"></a>
                                </div>
                                <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
                                <!-- AddToAny END -->
                            </li>
                        </ul>

                        <div class="blog-single-small-media">
                            <div class="owl-carousel buttons-autohide controlls-over nomargin" data-plugin-options='{"items": 1, "autoPlay": 4500, "autoHeight": false, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "progressBar":"false"}'>
                                <a class="lightbox" href="/assets/images/blog_images/number_of_farmers.jpg" data-plugin-options='{"type":"image"}'>
                                    <img class="img-responsive" src="/assets/images/blog_images/number_of_farmers.jpg" alt="" />
                                </a>
                                <a class="lightbox" href="/assets/images/blog_images/women_workers.jpg" data-plugin-options='{"type":"image"}'>
                                    <img class="img-responsive" src="/assets/images/blog_images/women_workers.jpg" alt="" />
                                </a>
                            </div>

                        </div>

                        <!-- article content -->
                        <p>Ok, so lets finally look a little bit into what fair trade means to us in North America. For those of you who haven't seen "The Dark Side of Chocolate" (It's a
                            documentary) do yourself a favor and watch it, it's a great look into how the cacao industry works in South Africa; it's not pretty. </p>
                        <p>To explain it simply, the cacao industry has been synonomys with exploitation and use of child labour to harvest chocolate. About 10 years ago a movement began to happen
                        in the chocolate industry because of the way the large corporations were indirectly mistreating the source of their cacao beans. It's not like Hershey went to the plantations and
                        hired children, but turning a blind eye to the issue is just as bad. The movement was towards bean to bar chocolate where independent chocolate makers would work directly with farmers
                        primarily in south America and parts of Africa to purchase the beans directly. Purchasing the beans directly gives the farmers more money than if they were to sell to the mass distributors
                        since the mass distributors will only buy cacao at a set rate which is far below it's actual worth! For example for the past 10 years farmers in the Ivory Coast attained only 40%-50% of
                        the global market rate for their cacao<small>(Source: makechocolatefair.org)</small></p>

                        <blockquote>
                            <h4 class="color-emerald-green">Quick Fact</h4>
                            <p class="">Most farmers in South Africa cannot cover their living expenses with their income. This leads them to employ children and spend less developing their farming infrastructure.</p>
                        </blockquote>

                        <p>You can imagine large corporations stretched their definition of fair in order to increase the value of their pockets. Take a look the infographic below and get a sense for where your money
                        goes when you go and buy a Mars bar or Lint bar.</p>

                        <img class="img-responsive" src="/assets/images/blog_images/chocolate_bar_graphic.jpg">


                        <p>When you look at this value chain you should be surprised that only 6% of the total price you pay at the checkout counter makes it's way into the farmers pocket
                        to help maintain their cacao plantations, pay their workers and feed their families.</p>

                        <h3>How Has Fair Trade Made Things Better?</h3>
                        <p>By selecting fair trade products you are helping entire villages to become self sufficient and gain the basic necessities we take for granted in the western world.
                        For example the fair trade organization shares with us a success story which is being powered by fair trade practices: </p>

                        <blockquote class="quote">
                            <p>Farmers in the 85,000-strong Fairtrade certified Kuapa Kokoo co-operative in Ghana have spent their premium on building wells for drinking water, building public toilets, and a mobile clinic to visit member’s villages. They have also invested in training in leadership and management and set up other ways for women especially to earn more money, making soap and palm oil, milling corn and breeding snails.
                                In addition to the Minimum Price and Premium, Fairtrade provides essential training and support to farmer organisations to help them become successful business organisations. In Côte d’Ivoire, Fairtrade undertook training workshops so farmers know how to negotiate their contracts with traders and get a better deal for their members.</p>
                            <cite>fairtrade.org</cite>
                        </blockquote>
                            <!-- end Atricle content-->

                        <p>By looking for fairtrade product you are making sure that along the entire process of sourcing our products that everyone is being treated fairly and is being given
                        adequate compensation to support a sustainable supply chain. By treating people fairly we have are building better futures for cacao farming, which typically is seen as
                        a dead end career because of what has been happening thanks to the large corporations placing pressure on farmers.</p>

                        <p>Thank you for supporting fair trade chocolate! Paying a small premium allows our suppliers to get their hands on the worlds most premium cacao first, and thats
                        why so many of our suppliers have won good food awards and dominate the world chocolate awards.</p>

                        <p>We know you will taste the difference too!</p>

                        <div class="row">
                        <div class="col-md-4 col-sm-6"><img class="img-responsive" src="/assets/images/blog_images/women_workers.jpg"> </div>
                        <div class="col-md-4 col-sm-6"><img class="img-responsive" src="/assets/images/blog_images/number_of_fairtrade.jpg"> </div>
                        <div class="col-md-4 col-sm-6"><img class="img-responsive" src="/assets/images/blog_images/plot_size.jpg"> </div>
                        <div class="col-md-4 col-sm-6"><img class="img-responsive" src="/assets/images/blog_images/quality_fairtrade.jpg"> </div>
                        <div class="col-md-4 col-sm-6"><img class="img-responsive" src="/assets/images/blog_images/number_of_farmers.jpg"> </div>
                            <cite>fairtrade.org</cite>
                        </div>
                        <div class="divider divider-dotted"><!-- divider --></div>

                    </div>
                    <div class="col-md-2 col-sm-12">
                        <div class="fb-comments" data-href="https://www.cocoacouriers.com/blog/what-is-fair-trade" data-width="400" data-numposts="5"></div>
                    </div>
                </div>
            </div>
        </section>

        <%- include ../templates/footer.ejs %>

    </div>
    <!-- /wrapper -->

    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1667937230127095";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>