<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>

    <%- include ../templates/head.ejs %>

    <!--Facebook Moderation ID -->
    <meta property="fb:app_id" content="1667937230127095" />
    <!--Facebook Moderation ID -->

</head>

<body class="smoothscroll enable-animation font-spin">

    <div class="wrapper">

        <%- include ../templates/header.ejs %>

        <section>
            <div class="container">

                <div class="row">

                    <!-- LEFT -->
                    <div class="col-md-10 col-sm-12">

                        <h1 class="blog-post-title">Why Does Chocolate Cost So Much!?</h1>
                        <ul class="blog-post-info list-inline">
                            <li>
                                <i class="fa fa-clock-o"></i>
                                <span class="font-lato">December 10, 2015 - Joseph Grande - Co-Founder | CocoaCouriers</span>
                            </li>
                            <li>
                                <!-- AddToAny BEGIN -->
                                <div class="a2a_kit a2a_default_style">
                                    <a class="a2a_dd" href="https://www.addtoany.com/share">Share</a>
                                    <span class="a2a_divider"></span>
                                    <a class="a2a_button_facebook"></a>
                                    <a class="a2a_button_twitter"></a>
                                    <a class="a2a_button_google_plus"></a>
                                    <a class="a2a_button_google_gmail"></a>
                                    <a class="a2a_button_linkedin"></a>
                                    <a class="a2a_button_whatsapp"></a>
                                </div>
                                <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
                                <!-- AddToAny END -->
                            </li>
                        </ul>

                        <div class="blog-single-small-media">
                            <div class="owl-carousel buttons-autohide controlls-over nomargin" data-plugin-options='{"items": 1, "autoPlay": 4500, "autoHeight": false, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "progressBar":"false"}'>
                                <a class="lightbox" href="/assets/images/blog-why-cost-so-much.png" data-plugin-options='{"type":"image"}'>
                                    <img class="img-responsive" src="/assets/images/blog-why-cost-so-much.png" alt="" />
                                </a>
                                <a class="lightbox" href="/assets/images/blog-why-cost-so-much-2.png" data-plugin-options='{"type":"image"}'>
                                    <img class="img-responsive" src="/assets/images/blog-why-cost-so-much-2.png" alt="" />
                                </a>
                            </div>
                        </div>

                        <!-- article content -->
                        <p>I’m sure we’re all pretty familiar with the days where we could go to the corner store and get a king sized mars bar for 75 cents.
                            Fast forward 20 years and we are at a time where chocolate prices have begun to spike higher and higher and the trend continues as we move forward.</p>
                        <p>There’s a few reasons why your sweet tooth is costing more these days:</p>


                            <h4>Price of the raw ingredients</h4>
                            <p>The price of cacao (the source of all thigs chocolate) has been rising steadily in international markets,
                                some large manufacturers have combatted the rise in prices by changing their recipes to make smaller treats or adding more milk.</p>

                            <h4>Yield Issues</h4>
                            <p>Did you know all of the world’s cacao (the magical chocolate bearing fruit) is grown within 20 degrees of the equator? This is the only climate that supports the growth of temperamental cacao trees! So farmers in this part of the world are extremely susceptible to crop destroying issues like drought and disease such as
                                Witches’ Broom (Moniliophthora perniciosa) which had a devastating impact on Brazil’s crops in the region of Bahia for the past 10 years where production was reduced by 70%.</p>

                            <h4>Increased Demand</h4>
                            <p>Has your taste for chocolate matured since you were 6? Ours has,
                                and world trends are showing we’re not the only ones. With a higher demand for richer flavors and higher percentages in our chocolates we consume more cocoa.</p>
                        <div class="col-sm-7 pull-right">
                            <img class="img-responsive blog-image" src="/assets/images/world-consumption.png">
                        </div>


                            <h4>Increased Chinese Buying Power</h4>
                            <p>The middle class in China has been growing quite quickly, today they are now seen as the biggest middle class in the world and are growing at a
                                faster rate than America’s according to research by Credit Suisse. Their changing tastes also include fine chocolate which
                                has now become affordable for millions more in this growing economy.</p>
                                <p>With such a huge economy adding demand to the cocoa industry the prices have continued to rise and will continue to do so in the future.</p>

                        <p>However this is no call for alarm or panic if you feel like you can’t live without chocolate. Commodities typically balance their selves out as the price of them rise,
                            the demand to purchase them at the higher price lowers, and the market adjusts for the change in purchasing habits.</p>
                        <!-- /article content -->

                        <div class="divider divider-dotted"><!-- divider --></div>

                    </div>
                    <div class="col-md-2 col-sm-12">
                        <div class="fb-comments" data-href="https://www.cocoacouriers.com/blog/Why-Does-Chocolate-Cost-So-Much" data-width="400" data-numposts="5"></div>
                    </div>
                </div>
            </div>
        </section>

        <%- include ../templates/footer.ejs %>

    </div>
    <!-- /wrapper -->

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1667937230127095";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

</body>
</html>