<div>
    <section class="page-header page-header-xs">
        <div class="container">

            <h1>SHOPPING CART</h1>

            <!-- breadcrumbs -->
            <ol class="breadcrumb">
                <li><a ui-sref="home">Store</a></li>
                <li class="active">Shop Cart</li>
            </ol><!-- /breadcrumbs -->

        </div>
    </section>
    <!-- /PAGE HEADER -->


    <!-- CART -->
    <section>
        <div class="container">


            <!-- EMPTY CART -->
            <div class="panel panel-default" ng-show="$parent.cart.length==0">
                <div class="panel-body">
                    <div class="text-center">
                        <h4>Shopping cart is empty!</h4>
                        You have no items in your shopping cart.<br />
                    </div>
                </div>
                <div class="text-center margin-bottom-30">
                    <button ui-sref="home" class="btn btn-green btn-lg"><span class="fa fa-reply"></span> Please Visit The Store</button>
                </div>
            </div>
            <!-- /EMPTY CART -->

            <!-- CART -->
            <div class="row" ng-show="$parent.cart.length>0">

                <!-- LEFT -->
                <div class="col-lg-9 col-sm-8">

                    <!-- CART -->
                    <div class="cartContent clearfix">

                        <!-- cart content -->
                        <div id="cartContent">
                            <!-- cart header -->
                            <div class="item head clearfix">
                                <span class="cart_img"></span>
                                <span class="product_name size-13 bold">PRODUCT NAME</span>
                                <span class="remove_item size-13 bold"></span>
                                <span class="total_price size-13 bold">TOTAL</span>
                                <span class="qty size-13 bold">QUANTITY</span>
                            </div>
                            <!-- /cart header -->

                            <!-- cart item -->
                            <div class="item" ng-repeat="i in $parent.cart">
                                <div class="cart_img pull-left width-100 padding-10 text-left"><img ng-src="{{ $parent.basePath + '/' + i.product.id + '-' + '1.png' }}" alt="Picture 1" width="80" /></div>
                                <a ui-sref="product({productId: i.product.id})" class="product_name">
                                    <span>{{ i.product.name }}</span>
                                    <small></small>
                                </a>
                                <a ng-click="removeFromCart(i.product.id)" class="remove_item"><i class="fa fa-times"></i></a>
                                <div class="total_price">$<span>{{ (Math.round(i.product.cadPrice * i.quantity * 100)/100).toFixed(2) }}</span></div>
                                <div class="qty"><input type="number" ng-model="$parent.cart[$index].quantity" maxlength="2" max="50" min="1" /> &times; ${{ i.product.cadPrice }}</div>
                                <div class="clearfix"></div>
                            </div>
                            <!-- /cart item -->

                            <div class="clearfix"></div>
                        </div>
                        <!-- /cart content -->

                    </div>
                    <!-- /CART -->

                </div>


                <!-- RIGHT -->
                <div class="col-lg-3 col-sm-4">

                    <div class="margin-bottom-30">
                        <span class="clearfix">
                            <span class="pull-right">${{ calcSubtotal() }}</span>
                            <strong class="pull-left">Subtotal:</strong>
                        </span>
                        <span class="clearfix">
                            <span class="pull-right">${{ discount }}</span>
                            <span class="pull-left">Discount:</span>
                        </span>

                        <hr />

                        <span class="clearfix">
                            <span class="pull-right size-20">${{ (Math.round( (subtotal - discount)*100 )/100).toFixed(2) }}</span>
                            <strong class="pull-left">TOTAL:</strong>
                        </span>

                        <hr />

                        <a ui-sref="checkout" class="btn btn-green btn-xlg btn-block size-15"><i class="fa fa-shopping-cart"></i> Proceed to Checkout</a>
                    </div>

                    <div>
                        <uib-accordion>
                            <uib-accordion-group>
                                <uib-accordion-heading>
                                    <span class="fa fa-chevron-down"></span> Discount Code
                                </uib-accordion-heading>
                                <p>Enter your discount coupon code.</p>
                                <input type="text" class="form-control text-center margin-bottom-10" placeholder="Coupon Code" />
                                <button class="btn btn-primary pull-right">Apply</button>
                            </uib-accordion-group>
                        </uib-accordion>
                    </div>

                </div>
            </div>
            <!-- /CART -->

        </div>
    </section>
    <!-- /CART -->

</div>