<div>
    <section class="page-header page-header-xs">
        <div class="container">

            <h1>SHOPPING CART</h1>

            <!-- breadcrumbs -->
            <ol class="breadcrumb">
                <li><a ui-sref="home" class="size-15">Store</a></li>
                <li class="size-15 active">Shop Cart</li>
            </ol><!-- /breadcrumbs -->

        </div>
    </section>
    <!-- /PAGE HEADER -->


    <!-- CART -->
    <section>
        <div class="container">

            <!-- EMPTY CART -->
            <div class="panel panel-default" ng-if="$parent.cart.length==0 && !$parent.planToSub">
                <div class="panel-body">
                    <div class="text-center">
                        <h4>Shopping cart is empty!</h4>
                        You have no items in your shopping cart.<br />
                    </div>
                </div>
                <div class="text-center margin-bottom-30">
                    <button ui-sref="home" class="btn btn-green btn-lg"><span class="fa fa-reply"></span> Please Visit The Store</button>
                </div>
            </div>
            <!-- /EMPTY CART -->

            <!-- CART -->
            <div class="row" ng-if="$parent.cart.length>0 || $parent.planToSub">

                <!-- LEFT -->
                <div class="col-lg-9 col-sm-8">

                    <!-- CART -->
                    <div class="cartContent clearfix">

                        <!-- cart content -->
                        <div id="cartContent">
                            <!-- cart header -->
                            <div class="item head clearfix">
                                <span class="cart_img"></span>
                                <span class="product_name size-13 bold">PRODUCT NAME</span>
                                <span class="remove_item size-13 bold"></span>
                                <span class="total_price size-13 bold">TOTAL</span>
                                <span class="qty size-13 bold">QUANTITY</span>
                            </div>
                            <!-- /cart header -->

                            <!-- subscription -->
                            <div class="item" ng-show="$parent.planToSub">
                                <div class="cart_img pull-left width-100 padding-10 text-left">
                                    <img ng-src="{{ '/assets/images/subscription_box.png' }}" width="80" />
                                </div>
                                <a ui-sref="subscribe" class="product_name">
                                    <span>{{ $parent.planToSub.name }}</span>
                                    <br/>
                                    <small>{{ ( ($parent.planToSub.amount - $parent.subscriptionDiscount) / $parent.planToSub.intervalCount / 100).toFixed(2) }} / Month</small>
                                </a>
                                <a ng-click="removeSubscriptionFromCart()" class="remove_item"><i class="fa fa-times"></i></a>
                                <div class="total_price">
                                    $ <span>{{ ( ($parent.planToSub.amount - $parent.subscriptionDiscount) / 100 ).toFixed(2) }}</span>
                                </div>
                                <div class="qty">1</div>
                                <div class="clearfix"></div>
                            </div>

                            <!-- cart item -->
                            <div class="item" ng-repeat="i in $parent.cart">
                                <div class="cart_img pull-left width-100 padding-10 text-left">
                                    <img ng-src="{{ $parent.basePath + '/' + $parent.thumbnailSubPath + '/' + i.product.id + '-' + 'T' + '-' + '1.png' }}" width="80" />
                                </div>
                                <a ui-sref="product({urlSubPath: i.product.urlSubPath})" class="product_name">
                                    <span ng-hide="i.product.productType==='gift-box'">{{ i.product.m_name }} - </span><span>{{ i.product.name }}</span>
                                    <small ng-hide="i.product.productType==='gift-box'">{{ i.product.cocoaPercent }}% Cocoa</small>
                                    <small ng-show="(i.product.stockQuantity <= 5) && (i.product.stockQuantity > 0)" class="text-danger margin-top-10">Low Stock {{ i.product.stockQuantity }} remaining</small>
                                    <small ng-show="(i.product.stockQuantity == 0)" class="text-danger margin-top-10">Sold Out. More arriving shortly.</small>
                                </a>
                                <a ng-click="removeFromCart(i.product.id)" class="remove_item"><i class="fa fa-times"></i></a>
                                <div class="total_price">
                                    <span ng-show="$parent.userCountry=='CA'">${{ ( (i.product.cadPrice * i.quantity) / 100 ).toFixed(2) }}</span>
                                    <span ng-show="$parent.userCountry=='US'">${{ ( (i.product.usPrice * i.quantity) / 100 ).toFixed(2) }}</span>
                                </div>
                                <div class="qty"><input type="number" ng-model="$parent.cart[$index].quantity" maxlength="2" max="{{i.product.stockQuantity}}" min="1" /> &times;
                                    <span ng-show="$parent.userCountry=='CA'">${{ i.product.cadPrice / 100 }}</span>
                                    <span ng-show="$parent.userCountry=='US'">${{ i.product.usPrice / 100 }}</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <!-- /cart item -->

                            <div class="clearfix"></div>
                        </div>
                        <!-- /cart content -->
                    </div>
                    <!-- /CART -->
                </div>

                <!-- RIGHT -->
                <div class="col-lg-3 col-sm-4">

                    <div class="margin-bottom-30">
                        <a ui-sref="home" class="btn btn-blue btn-lg btn-block size-13"><i class="fa fa-reply"></i> Continue Shopping</a>

                        <hr/>

                        <span class="clearfix">
                            <span class="pull-right size-18">{{ calcSubtotal() }}</span>
                            <strong class="pull-left">Subtotal:</strong>
                        </span>
                        <span class="clearfix">
                            <span class="pull-right size-18">- {{ (discount.amount / 100).toFixed(2) }}</span>
                            <strong class="pull-left">Discount:</strong>
                            <br />
                            <em class="text-green">{{ discount.code }}</em>
                        </span>

                        <hr />

                        <span class="clearfix">
                            <span class="pull-right size-18">{{ ( (subtotal - discount.amount) / 100).toFixed(2) }}</span>
                            <strong class="pull-left">Total:</strong>
                        </span>

                        <hr />

                        <!--<a ui-sref="checkout" class="btn btn-flat-green btn-lg btn-block size-17 margin-top-20">Proceed to Checkout <i class="fa fa-shopping-cart"></i></a>-->
                        <a ui-sref="summer-vacation" class="btn btn-flat-green btn-lg btn-block size-17 margin-top-20">Proceed to Checkout <i class="fa fa-shopping-cart"></i></a>
                    </div>

                    <div>
                        <uib-accordion>
                            <uib-accordion-group>
                                <uib-accordion-heading>
                                    <span class="fa fa-chevron-down"></span> Discount Code
                                </uib-accordion-heading>
                                <p>Enter your discount coupon code.</p>
                                <input type="text" class="form-control text-center margin-bottom-10" ng-model="form.userCouponCode" placeholder="Coupon Code" />
                                <button class="btn btn-primary pull-right" ng-click="applyCoupon()">Apply</button>
                            </uib-accordion-group>
                        </uib-accordion>
                    </div>

                </div>
            </div>
            <!-- /CART -->

        </div>
    </section>
    <!-- /CART -->

</div>