<div>
    <section class="page-header page-header-xs">
        <div class="container">

            <h1>SHOPPING CART</h1>

            <!-- breadcrumbs -->
            <ol class="breadcrumb">
                <li><a ui-sref="home">Store</a></li>
                <li class="active">Shop Cart</li>
            </ol><!-- /breadcrumbs -->

        </div>
    </section>
    <!-- /PAGE HEADER -->


    <!-- CART -->
    <section>
        <div class="container">


            <!-- EMPTY CART -->
            <div class="panel panel-default" ng-show="$parent.cart.length==0">
                <div class="panel-body">
                    <div class="text-center">
                        <h4>Shopping cart is empty!</h4>
                        You have no items in your shopping cart.<br />
                    </div>
                </div>
                <div class="text-center margin-bottom-30">
                    <button ui-sref="home" class="btn btn-green btn-lg"><span class="fa fa-reply"></span> Please Visit The Store</button>
                </div>
            </div>
            <!-- /EMPTY CART -->

            <!-- CART -->
            <div class="row" ng-show="$parent.cart.length>0">

                <!-- LEFT -->
                <div class="col-lg-9 col-sm-8">

                    <!-- CART -->
                    <div class="cartContent clearfix">

                        <!-- cart content -->
                        <div id="cartContent">
                            <!-- cart header -->
                            <div class="item head clearfix">
                                <span class="product_name size-13 bold col-md-4">PRODUCT NAME</span>
                                <span class="qty size-13 bold">QUANTITY</span>
                                <!--<span class="total_price size-13 bold">TOTAL</span>-->
                            </div>
                            <!-- /cart header -->

                            <div class="divider double-line margin-top-neg-20"></div>

                            <!-- cart item -->
                            <div ng-repeat="i in $parent.cart">
                                <div class="row">
                                    <div class="item">
                                        <div class="col-md-2 col-xs-1">
                                            <a ng-click="removeFromCart(i.product.id)" class="remove_item margin-top-50 margin-left-10 pull-left"><i class="fa fa-times"></i></a>
                                        </div>
                                        <div class="col-xs-6">
                                            <a ui-sref="product({urlSubPath: i.product.urlSubPath})">
                                                <div class="cart_img pull-left width-100 padding-10 text-left"><img ng-src="{{ $parent.basePath + '/' + i.product.id + '-' + '1.png' }}" alt="Picture 1" width="80" /></div>
                                            </a>
                                            <h5 class="margin-left-10 margin-top-50">
                                                <a ui-sref="product({urlSubPath: i.product.urlSubPath})" >
                                                    {{ i.product.name }}
                                                </a>
                                            </h5>
                                        </div>
                                        <div class="col-md-4 col-xs-5">
                                            <div class="margin-top-40">
                                                <div class="qty pull-right"><input type="number" ng-model="$parent.cart[$index].quantity" maxlength="2" max="50" min="1" /> &times; ${{ i.product.cadPrice / 100 }}</div>
                                                <!--<div class="total_price pull-left">$<span>{{ ( (i.product.cadPrice * i.quantity) / 100 ).toFixed(2) }}</span></div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr/>

                            </div>
                            <!-- /cart item -->

                        </div>
                        <!-- /cart content -->

                    </div>
                    <!-- /CART -->

                </div>


                <!-- RIGHT -->
                <div class="col-lg-3 col-sm-4">

                    <div class="margin-bottom-30">
                        <span class="clearfix">
                            <span class="pull-right">${{ calcSubtotal() }}</span>
                            <strong class="pull-left">Subtotal:</strong>
                        </span>
                        <span class="clearfix">
                            <span class="pull-right">${{ discount / 100 }}</span>
                            <span class="pull-left">Discount:</span>
                        </span>

                        <hr />

                        <span class="clearfix">
                            <span class="pull-right size-20">${{ ( (subtotal - discount) / 100).toFixed(2) }}</span>
                            <strong class="pull-left">TOTAL:</strong>
                        </span>

                        <hr />

                        <a ui-sref="checkout" class="btn btn-green btn-xlg btn-block size-15"><i class="fa fa-shopping-cart"></i> Proceed to Checkout</a>
                    </div>

                    <div>
                        <uib-accordion>
                            <uib-accordion-group>
                                <uib-accordion-heading>
                                    <span class="fa fa-chevron-down"></span> Discount Code
                                </uib-accordion-heading>
                                <p>Enter your discount coupon code.</p>
                                <input type="text" class="form-control text-center margin-bottom-10" placeholder="Coupon Code" />
                                <button class="btn btn-primary pull-right">Apply</button>
                            </uib-accordion-group>
                        </uib-accordion>
                    </div>

                </div>
            </div>
            <!-- /CART -->

        </div>
    </section>
    <!-- /CART -->

</div>