<div>
    <section>
        <div class="container">

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Congratulations!</h3>

                    <p>
                        Your order has been successfully placed. <br/>
                        <span ng-if="$parent.recentShipmentId">Order Number: <strong>{{ $parent.recentShipmentId }}</strong> <br/><br/></span>

                        If you would like to check on the status of your order, or modify your information, please go to the <a href="/My-Account">management panel</a><br />
                    </p>

                    <hr />

                    <p>
                        Enjoy your premium, fair trade chocolate !<br /><br />

                        Best Regards, <br />
                        <strong>Cocoa Couriers</strong>
                    </p>
                </div>
            </div>
            <!-- /CHECKOUT FINAL MESSAGE -->

        </div>
    </section>
</div>