<div>
    <section>
        <div class="container">

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Thank You For Your Order</h3>

                    <p ng-show="recentSub">
                        You have successfully subscribed to the <strong>{{ recentSub.plan.name }}</strong><br/><br/>
                        <span ng-show="cartStillFull">The remainder of your items are ready for checkout.</span><br/>
                        <a ng-show="cartStillFull" href="/store/checkout" class="btn btn-sm bg-emerald-green text-white margin-top-20"><span class="fa fa-reply"></span> Return To Checkout <span class="fa fa-shopping-cart"></span></a>
                        <span ng-show="!cartStillFull">If you would like to check on the status of your order, or modify your information, please go to the <a href="/My-Account">Management Panel</a></span><br />
                        <br/>
                    </p>
                    <p ng-hide="recentSub">
                        Your order has been successfully placed. <br/>
                        <span ng-if="$parent.recentShipmentId">Order Number: <strong>{{ $parent.recentShipmentId }}</strong> <br/><br/></span>

                        If you would like to check on the status of your order, or modify your information, please go to the <a href="/My-Account">Management Panel</a><br />
                    </p>

                    <hr />

                    <p>
                        Enjoy your premium, fair trade chocolate !<br /><br />

                        Best Regards, <br />
                        <strong>Cocoa Couriers</strong>
                    </p>
                </div>
            </div>
            <!-- /CHECKOUT FINAL MESSAGE -->

        </div>
    </section>
</div>