<div ng-show="uncloak">
    <section class="page-header page-header-xs">
        <div class="container">

            <!-- breadcrumbs -->
            <ol class="breadcrumb">
                <li><a ui-sref="home" class="size-15">Store</a></li>
                <li class="size-15 active">{{ product.name }}</li>
            </ol><!-- /breadcrumbs -->

        </div>
    </section>
    <!-- /PAGE HEADER -->

    <!-- -->
    <section>
        <div class="container" itemscope itemtype="https://schema.org/Product">

            <div class="visible-lg visible-md row margin-bottom-neg-20 margin-top-neg-50">
                <div class="col-lg-6 col-md-8">
                    <h1 class="margin-right-20 margin-left-20">
                        <span class="text-black" itemprop="brand">{{ product.m_name }}</span> - <span class="text-black" itemprop="name">{{ product.name }}</span>
                    </h1>
                </div>
                <div class="col-lg-6 col-md-4">
                    <img ng-repeat="fp in thisProductProfiles" ng-hide="fp.profileType!=='flavor'" class="product-profile-thumbnail pull-right" ng-src="{{ $parent.basePath + '/' + $parent.flavorProfileImagePath + '/' + fp.productProfileId + '.png' }}" />
                </div>
            </div>

            <div class="hidden-lg hidden-md row margin-bottom-neg-20 margin-top-neg-50 text-center">
                <h1 class="margin-right-20 margin-left-20">
                    <span class="text-black" itemprop="brand">{{ product.m_name }}</span> - <span class="text-black" itemprop="name">{{ product.name }}</span>
                </h1>
                <div class="col-xs-12">
                    <img ng-repeat="fp in thisProductProfiles" ng-hide="fp.profileType!=='flavor'" class="product-profile-thumbnail margin-top-neg-30 " ng-src="{{ $parent.basePath + '/' + $parent.flavorProfileImagePath + '/' + fp.productProfileId + '.png' }}" />
                </div>
            </div>

            <div class="divider double-line"></div>

            <div class="row">

                <!-- IMAGE -->
                <div class="col-md-4 col-sm-5 col-xs-12 text-center">
                    <a ng-click="openProductImage(productImages[activeImageIndex])">
                        <img itemprop="image" class="resize-shop-product" ng-src="{{ productImages[activeImageIndex] }}" alt="{{ product.name }}"/>
                    </a>

                    <div class="row text-center margin-top-30">
                        <a ng-repeat="pi in productImages" href="" ng-click="$parent.activeImageIndex=$index">
                            <img style="border: solid 1px;" class="resize-shop-item-thumbnail" ng-src="{{ productImages[$index] }}" ng-class="{'image-bw opacity-6' : $index!==activeImageIndex}" />
                        </a>
                    </div>
                </div>
                <!-- /IMAGE -->

                <!-- IMAGE ZOOMED IN MODAL -->
                <script type="text/ng-template" id="fullProductImage.html">
                    <div class="modal-body">
                        <button class="pull-right text-black" ng-click="cancel()"><span class="fa fa-times fa-2x"></span></button>
                        <div class="text-center">
                            <img class="img-responsive" ng-src="{{ imgUrl }}" width="650" />
                        </div>
                    </div>
                </script>
                <!-- /IMAGE ZOOMED IN MODAL -->

                <!-- ITEM DESC -->
                <div class="col-md-8 col-sm-7 col-xs-12">

                    <!-- price -->
                    <div class="row">
                        <div class="col-sm-6 col-xs-12 margin-bottom-10 text-center" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                            <div class="col-xs-12">
                                <div class="shop-item-price" ng-if="$parent.userCountry==='CA'">
                                    <meta itemprop="priceCurrency" content="CAD" />
                                    <div itemprop="price">$ {{ ($parent.product.cadPrice / 100).toFixed(2) }} CAD</div>
                                </div>
                                <div class="shop-item-price" ng-if="$parent.userCountry==='US'">
                                    <meta itemprop="priceCurrency" content="USD" />
                                    <div itemprop="price">$ {{ ($parent.product.usPrice / 100).toFixed(2) }} USD</div>
                                </div>

                                <span ng-if="product.stockQuantity > 20" class="text-success">
                                    <i class="fa fa-check"></i><link itemprop="availability" href="https://schema.org/InStock" /> In Stock
                                </span>
                                <span ng-if="(product.stockQuantity > 0) && (product.stockQuantity < 20)" class="text-danger">
                                    <strong><link itemprop="availability" href="https://schema.org/LimitedAvailability" /> Low Stock</strong> ({{ $parent.product.stockQuantity }} remaining)
                                </span>
                                <span ng-if="product.stockQuantity < 1" class="text-danger">
                                    <i class="glyphicon glyphicon-remove"></i><link itemprop="availability" href="https://schema.org/OutOfStock" /> Out of Stock
                                </span>
                            </div>
                            <div class="col-xs-12 margin-top-20">
                                <input class="product-qty-select" type="number" ng-model="quantity" maxlength="2" max="{{ product.stockQuantity }}" min="1" />
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12 margin-bottom-10 hidden-xs">
                            <button ng-show="product.stockQuantity > 0" ng-click="addToCart()" class="btn btn-lg btn-green pull-right noradius"><span class="fa fa-shopping-cart"></span>&nbsp;&nbsp;&nbsp;ADD TO CART</button>
                            <button ng-hide="product.stockQuantity > 0" ng-disabled="true" class="btn btn-lg btn-danger pull-right noradius"><span class="fa fa-shopping-cart"></span>&nbsp;&nbsp;&nbsp;OUT OF STOCK</button>
                        </div>
                        <div class="col-sm-6 col-xs-12 margin-bottom-40 margin-top-40 text-center visible-xs">
                            <button ng-show="product.stockQuantity > 0" ng-click="addToCart()" class="btn btn-green btn-xlg noradius size-20"><span class="fa fa-shopping-cart"></span>&nbsp;&nbsp;&nbsp;ADD TO CART</button>
                            <button ng-hide="product.stockQuantity > 0" ng-disabled="true" class="btn btn-danger btn-xlg noradius size-20"><span class="fa fa-shopping-cart"></span>&nbsp;&nbsp;&nbsp;OUT OF STOCK</button>
                        </div>
                    </div>
                    <!-- /price -->

                    <hr class="hidden-xs"/>

                    <uib-tabset>
                        <uib-tab heading="Description">
                            <span itemprop="description">{{ product.description }}</span>
                        </uib-tab>
                        <uib-tab heading="Specifications">
                            <div class="col-lg-4 col-xs-6">
                                <strong>Maker</strong> <br/><br/>
                                <strong>Maker Location</strong> <br/><br/>
                                <strong>Cocoa Origin</strong> <br/><br/>
                                <strong>Cocoa Percent</strong> <br /><br/>
                                <strong>Weight</strong> <br /><br/>
                            </div>
                            <div class="col-lg-8 col-xs-6 text-left">
                                {{ product.m_name }} <br/><br/>
                                {{ product.m_origin | isoCountryToName }} <br/><br/>
                                {{ product.cocoaOrigin | isoCountryToName }} <br/><br/>
                                {{ product.cocoaPercent }}% <br/><br/>
                                {{ product.weightImperial }} oz / {{ product.weightMetric }} grams <br/><br/>
                            </div>
                        </uib-tab>
                        <uib-tab heading="Reviews">

                        </uib-tab>
                    </uib-tabset>

                </div>
                <!-- /ITEM DESC -->

            </div>

        </div>
    </section>
    <!-- / -->

</div>
