<div ng-show="uncloak">
    <section class="page-header page-header-xs">
        <div class="container">

            <!-- breadcrumbs -->
            <ol class="breadcrumb">
                <li><a ui-sref="home">Store</a></li>
                <li class="active">{{ product.name }}</li>
            </ol><!-- /breadcrumbs -->

        </div>
    </section>
    <!-- /PAGE HEADER -->

    <!-- -->
    <section>
        <div class="container">

            <div class="row">

                <!-- IMAGE -->
                <div class="col-sm-4">
                    <img class="img-responsive" ng-src="{{ productImages[activeImageIndex] }}" alt="Image Not Found" />
                    <img ng-repeat="pi in productImages" class="resize-shop-item-thumbnail" ng-src="{{ productImages[$index] }}"  alt="Image Thumbnail Not Found" />
                </div>
                <!-- /IMAGE -->

                <!-- ITEM DESC -->
                <div class="col-sm-8">

                    <h1>{{ product.name }}</h1>

                    <!-- price -->
                    <div class="row margin-bottom-30">
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <div class="shop-item-price">
                                {{ (product.cadPrice / 100).toFixed(2) }}
                            </div>
                            <br/>
                            <div class="clearfix">
                                <span ng-if="product.stockQuantity > 20" class="text-success"><i class="fa fa-check"></i> In Stock</span>
                                <span ng-if="(product.stockQuantity > 0) && (product.stockQuantity < 20)" class="text-danger"><strong>Low Stock</strong> ({{ product.stockQuantity }} remaining)</span>
                                <span ng-if="product.stockQuantity < 1" class="text-danger"><i class="glyphicon glyphicon-remove"></i> Out of Stock</span>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-8 col-xs-6">
                            <h1>
                                <span class="ico-bordered ico-lg ico-hover et-camera"></span>
                                <span class="ico-bordered ico-lg ico-hover et-camera"></span>
                                <span class="ico-bordered ico-lg ico-hover et-camera"></span>
                                <span class="ico-bordered ico-lg ico-hover et-camera"></span>
                                <span class="ico-bordered ico-lg ico-hover et-camera"></span>
                                <span class="ico-bordered ico-lg ico-hover et-camera"></span>
                                <span class="ico-bordered ico-lg ico-hover et-camera"></span>
                                <span class="ico-bordered ico-lg ico-hover et-camera"></span>
                            </h1>
                        </div>
                    </div>
                    <!-- /price -->

                    <div class="row">
                        <div class="btn-group pull-left product-opt-qty">
                            <button type="button" class="btn btn-default dropdown-toggle product-qty-dd noradius" data-toggle="dropdown">
                                <span class="caret"></span>
                                Qty <small id="product-selected-qty">(<span>5</span>)</small>
                            </button>

                            <ul id="product-qty-dd" class="dropdown-menu clearfix" role="menu">
                                <li class="active"><a data-val="1" href="#">1</a></li>
                                <li><a data-val="2" href="#">2</a></li>
                            </ul>
                        </div><!-- /btn-group -->

                        <button ng-click="addToCart(product)" class="btn btn-lg btn-green pull-right noradius"><span class="fa fa-shopping-cart"></span>&nbsp;&nbsp;&nbsp;ADD TO CART</button>
                    </div>

                    <hr class="margin-top-40 margin-bottom-40"/>

                    <!-- short description -->
                    <p>{{ product.description }}</p>
                    <!-- /short description -->

                </div>
                <!-- /ITEM DESC -->
            </div>

            <hr class="margin-top-80 margin-bottom-80" />

            <div class="row">
                <!-- INFO -->
                <div class="col-sm-12">

                    <div class="col-sm-4">
                        <h4 class="size-18">
                            <i class="fa fa-paper-plane-o"></i>
                            FREE SHIPPING
                        </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla.</p>
                    </div>
                    <div class="col-sm-4">
                        <h4 class="size-18">
                            <i class="fa fa-clock-o"></i>
                            30 DAYS MONEY BACK
                        </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla.</p>
                    </div>
                    <div class="col-sm-4">
                        <h4 class="size-18">
                            <i class="fa fa-users"></i>
                            CUSTOMER SUPPORT
                        </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla.</p>
                    </div>
                </div>
                <!-- /INFO -->
            </div>

        </div>
    </section>
    <!-- / -->

</div>
