<div ng-show="uncloak">
    <section class="page-header page-header-xs">
        <div class="container">

            <!-- breadcrumbs -->
            <ol class="breadcrumb">
                <li><a ui-sref="home">Store</a></li>
                <li class="active">{{ product.name }}</li>
            </ol><!-- /breadcrumbs -->

        </div>
    </section>
    <!-- /PAGE HEADER -->

    <!-- -->
    <section>
        <div class="container">

            <div class="row text-center margin-bottom-neg-50 margin-top-neg-50">
                <h1>{{ product.m_name }} - {{ product.name }}</h1>
            </div>

            <div class="divider double-line"></div>

            <div class="row">

                <!-- IMAGE -->
                <div class="col-md-4 col-sm-5 col-xs-7 text-center">
                    <img class="resize-shop-product" ng-src="{{ productImages[activeImageIndex] }}" />
                    <div class="row text-center margin-top-30">
                        <a ng-repeat="pi in productImages" href="" ng-click="$parent.activeImageIndex=$index">
                            <img class="resize-shop-item-thumbnail" ng-src="{{ productImages[$index] }}" />
                        </a>
                    </div>
                </div>
                <!-- /IMAGE -->

                <!-- ITEM DESC -->
                <div class="col-md-8 col-sm-7 col-xs-5">

                    <!-- price -->
                    <div class="row">
                        <div class="col-sm-6 col-xs-12 margin-bottom-10">
                            <div class="col-xs-12 margin-left-10">
                                <div class="shop-item-price">
                                    <div ng-show="$parent.userCountry==='CA'">$ {{ (product.cadPrice / 100).toFixed(2) }} CAD</div>
                                    <div ng-show="$parent.userCountry==='US'">$ {{ (product.usPrice / 100).toFixed(2) }} USD</div>
                                </div>

                                <span ng-if="product.stockQuantity > 20" class="text-success"><i class="fa fa-check"></i> In Stock</span>
                                <span ng-if="(product.stockQuantity > 0) && (product.stockQuantity < 20)" class="text-danger"><strong>Low Stock</strong> ({{ product.stockQuantity }} remaining)</span>
                                <span ng-if="product.stockQuantity < 1" class="text-danger"><i class="glyphicon glyphicon-remove"></i> Out of Stock</span>
                            </div>
                            <div class="col-xs-12 margin-top-20 margin-left-10">
                                <input class="product-qty-select" type="number" ng-model="quantity" maxlength="2" max="{{ product.stockQuantity }}" min="1" />
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12 margin-bottom-10 hidden-xs">
                            <button ng-show="product.stockQuantity > 0" ng-click="addToCart()" class="btn btn-lg btn-green pull-right noradius"><span class="fa fa-shopping-cart"></span>&nbsp;&nbsp;&nbsp;ADD TO CART</button>
                            <button ng-hide="product.stockQuantity > 0" ng-disabled="true" class="btn btn-lg btn-danger pull-right noradius"><span class="fa fa-shopping-cart"></span>&nbsp;&nbsp;&nbsp;OUT OF STOCK</button>
                        </div>
                        <div class="col-sm-6 col-xs-12 margin-bottom-30 margin-top-20 visible-xs">
                            <button ng-show="product.stockQuantity > 0" ng-click="addToCart()" class="btn btn-green text-center noradius"><span class="fa fa-shopping-cart"></span>&nbsp;&nbsp;&nbsp;ADD TO CART</button>
                            <button ng-hide="product.stockQuantity > 0" ng-disabled="true" class="btn btn-danger text-center noradius"><span class="fa fa-shopping-cart"></span>&nbsp;&nbsp;&nbsp;OUT OF STOCK</button>
                        </div>
                    </div>
                    <!-- /price -->

                    <hr />

                    <div class="row text-center">
                        <img class="product-profile-thumbnail" src="/assets/media/flavor_profiles/strong.png" />
                        <img class="product-profile-thumbnail" src="/assets/media/flavor_profiles/fruity.png" />
                        <img class="product-profile-thumbnail" src="/assets/media/flavor_profiles/infused.png" />
                    </div>

                    <hr class="hidden-xs"/>

                    <!-- short description -->
                    <div class="row margin-left-10 margin-right-10 margin-top-20 hidden-xs">
                        <p class="margin-top-30">{{ product.description }}</p>
                    </div>
                    <!-- /short description -->

                </div>
                <!-- /ITEM DESC -->

                <div class="col-xs-12 visible-xs">
                    <hr class="margin-top-neg-20"/>
                </div>

                <div class="col-xs-12 margin-left-10 margin-right-10 margin-bottom-neg-20 visible-xs">
                    <p>{{ product.description }}</p>
                </div>
            </div>

        </div>
    </section>
    <!-- / -->

</div>
