<div>
    <section class="page-header page-header-xs">
        <div class="container">
            <h1>STORE</h1>
        </div>
    </section>

    <section>
        <div class="container">

            <div class="row">

                <!-- RIGHT -->
                <div class="col-md-9 col-xs-12 col-md-push-3">

                    <ul class="shop-item-list row list-inline nomargin">

                        <!-- ITEM -->
                        <li class="col-md-3 col-sm-4 col-xs-6" ng-repeat="p in $parent.products" ng-init="activeThumbnail[$index]=1">

                            <div class="shop-item">

                                <div class="thumbnail shop-thumbnail-fixed-size" ng-mouseover="activeThumbnail[$index]=2" ng-mouseleave="activeThumbnail[$index]=1">
                                    <!-- product image(s) -->
                                    <a ng-click="goToProduct(p)">
                                        <img ng-show="activeThumbnail[$index]==1" ng-src="{{ $parent.basePath + '/' + 'thumbnails' + '/' + p.id + '-' + 'T' + '-' + '1.png' }}" alt="Picture 1" />
                                        <img ng-hide="activeThumbnail[$index]==1" ng-src="{{ $parent.basePath + '/' + 'thumbnails' + '/' + p.id + '-' + 'T' + '-' + '2.png' }}" alt="Picture 2" />
                                    </a>
                                    <!-- /product image(s) -->

                                </div>

                                <a href="" ng-click="goToProduct(p)">
                                    <div class="shop-item-summary text-center">

                                        <h2 class="text-black size-15">{{ p.name }}</h2>

                                        <!-- price -->
                                        <div class="shop-item-price">
                                            <div class="text-black" ng-show="$parent.userCountry==='CA'">$ {{ (p.cadPrice / 100).toFixed(2) }} CAD</div>
                                            <div class="text-black" ng-show="$parent.userCountry==='US'">$ {{ (p.usPrice / 100).toFixed(2) }} USD</div>
                                        </div>
                                        <!-- /price -->
                                    </div>
                                </a>

                                <!-- buttons -->
                                <div class="shop-item-buttons text-center">
                                    <a class="btn btn-flat-green" ng-click="addToCart(p)"><i class="fa fa-cart-plus"></i> Add to Cart</a>
                                </div>
                                <!-- /buttons -->
                            </div>

                        </li>
                        <!-- /ITEM -->

                    </ul>

                    <hr />

                </div>

                <!-- LEFT -->
                <div class="col-md-3 col-xs-12 col-md-pull-9 col-xs-pull-9">

                    <!-- CATEGORIES -->
                    <div class="side-nav margin-bottom-60">

                        <uib-accordion close-others="false">
                            <uib-accordion-group class="no-border" is-open="filterMenu.g1">
                                <uib-accordion-heading>
                                    Manufacturers
                                    <span ng-show="!filterMenu.g1" class="fa fa-plus shop-filter-side-button pull-right"></span>
                                    <span ng-show="filterMenu.g1" class="fa fa-minus shop-filter-side-button pull-right"></span>
                                </uib-accordion-heading>
                                <ul>
                                    <li ng-repeat="m in manufacturers"><a href="">{{ m.name }}</a></li>
                                </ul>
                            </uib-accordion-group>
                            <uib-accordion-group class="no-border" is-open="filterMenu.g2">
                                <uib-accordion-heading>
                                    Chocolatier Location
                                    <span ng-show="!filterMenu.g2" class="fa fa-plus shop-filter-side-button pull-right"></span>
                                    <span ng-show="filterMenu.g2" class="fa fa-minus shop-filter-side-button pull-right"></span>
                                </uib-accordion-heading>
                                <ul>
                                    <li ng-repeat="po in metadata.producer_origins"><a href="">{{ po }}</a></li>
                                </ul>
                            </uib-accordion-group>
                            <uib-accordion-group class="no-border" is-open="filterMenu.g3">
                                <uib-accordion-heading>
                                    Cocoa Bean Origin
                                    <span ng-show="!filterMenu.g3" class="fa fa-plus shop-filter-side-button pull-right"></span>
                                    <span ng-show="filterMenu.g3" class="fa fa-minus shop-filter-side-button pull-right"></span>
                                </uib-accordion-heading>
                                <ul>
                                    <li ng-repeat="co in metadata.cocoa_origins"><a href="">{{ co }}</a></li>
                                </ul>
                            </uib-accordion-group>
                            <uib-accordion-group class="no-border" is-open="filterMenu.g4">
                                <uib-accordion-heading>
                                    Flavor Profiles
                                    <span ng-show="!filterMenu.g4" class="fa fa-plus shop-filter-side-button pull-right"></span>
                                    <span ng-show="filterMenu.g4" class="fa fa-minus shop-filter-side-button pull-right"></span>
                                </uib-accordion-heading>
                                <ul>
                                    <li ng-repeat="f in productProfiles.flavor"><a href="">{{ f.name }}</a></li>
                                </ul>
                            </uib-accordion-group>
                            <uib-accordion-group class="no-border" is-open="filterMenu.g5">
                                <uib-accordion-heading>
                                    Dietary Preferences
                                    <span ng-show="!filterMenu.g5" class="fa fa-plus shop-filter-side-button pull-right"></span>
                                    <span ng-show="filterMenu.g5" class="fa fa-minus shop-filter-side-button pull-right"></span>
                                </uib-accordion-heading>
                                <ul>
                                    <li ng-repeat="d in productProfiles.dietary"><a href="">{{ d.name }}</a></li>
                                </ul>
                            </uib-accordion-group>
                            <uib-accordion-group class="no-border" is-open="filterMenu.g6">
                                <uib-accordion-heading>
                                    Product Type
                                    <span ng-show="!filterMenu.g6" class="fa fa-plus shop-filter-side-button pull-right"></span>
                                    <span ng-show="filterMenu.g6" class="fa fa-minus shop-filter-side-button pull-right"></span>
                                </uib-accordion-heading>
                                <ul>
                                    <li ng-repeat="p in metadata.product_type"><a href="">{{ p }}</a></li>
                                </ul>
                            </uib-accordion-group>
                        </uib-accordion>

                    </div>
                    <!-- /CATEGORIES -->

                </div>

            </div>

        </div>
    </section>

</div>