<div>
    <section>
        <div class="container">

            <div class="row">

                <!-- RIGHT -->
                <div class="col-lg-9 col-md-9 col-sm-9 col-lg-push-3 col-md-push-3 col-sm-push-3">

                    <ul class="shop-item-list row list-inline nomargin">

                        <!-- ITEM -->
                        <li class="col-lg-3 col-sm-3" ng-repeat="p in $parent.products">

                            <div class="shop-item">

                                <div class="thumbnail">
                                    <!-- product image(s) -->
                                    <a class="shop-item-image" ng-click="goToProduct(p)">
                                        <img ng-src="{{ $parent.basePath + '/' + 'thumbnails' + '/' + p.id + '-' + 'T' + '-' + '1.png' }}" alt="Picture 1" />
                                        <img ng-src="{{ $parent.basePath + '/' + 'thumbnails' + '/' + p.id + '-' + 'T' + '-' + '2.png' }}" alt="Picture 2" />
                                    </a>
                                    <!-- /product image(s) -->

                                </div>

                                <a href="" ng-click="goToProduct(p)">
                                    <div class="shop-item-summary text-center">

                                        <h2 class="text-black size-15">{{ p.name }}</h2>

                                        <!-- price -->
                                        <div class="shop-item-price">
                                            <div class="text-black" ng-show="$parent.userCountry==='CA'">$ {{ (p.cadPrice / 100).toFixed(2) }} CAD</div>
                                            <div class="text-black" ng-show="$parent.userCountry==='US'">$ {{ (p.usPrice / 100).toFixed(2) }} USD</div>
                                        </div>
                                        <!-- /price -->
                                    </div>
                                </a>

                                <!-- buttons -->
                                <div class="shop-item-buttons text-center">
                                    <a class="btn btn-flat-green" ng-click="addToCart(p)"><i class="fa fa-cart-plus"></i> Add to Cart</a>
                                </div>
                                <!-- /buttons -->
                            </div>

                        </li>
                        <!-- /ITEM -->

                    </ul>

                    <hr />

                </div>

                <!-- LEFT -->
                <div class="col-lg-3 col-md-3 col-sm-3 col-lg-pull-9 col-md-pull-9 col-sm-pull-9">

                    <!-- CATEGORIES -->
                    <div class="side-nav margin-bottom-60">

                        <div class="side-nav-head">
                            <button class="fa fa-bars"></button>
                            <h2>FILTER</h2>
                        </div>

                        <uib-accordion close-others="false">
                            <uib-accordion-group heading="Bean-To-Bar Chocolatier">
                                <ul>
                                    <li ng-repeat="p in metadata.producers"><a href="">{{ p }}</a></li>
                                </ul>
                            </uib-accordion-group>
                            <uib-accordion-group heading="Chocolatier Location">
                                <ul>
                                    <li ng-repeat="po in metadata.producer_origins"><a href="">{{ po }}</a></li>
                                </ul>
                            </uib-accordion-group>
                            <uib-accordion-group heading="Cocoa Bean Origin">
                                <ul>
                                    <li ng-repeat="co in metadata.cocoa_origins"><a href="">{{ co }}</a></li>
                                </ul>
                            </uib-accordion-group>
                            <uib-accordion-group heading="Flavor Profiles">
                                <ul>
                                    <li ng-repeat="p in metadata.flavor_profiles"><a href="">{{ p }}</a></li>
                                </ul>
                            </uib-accordion-group>
                            <uib-accordion-group heading="Dietary Preferences">
                                <ul>
                                    <li ng-repeat="p in metadata.dietary_preferences"><a href="">{{ p }}</a></li>
                                </ul>
                            </uib-accordion-group>
                            <uib-accordion-group heading="Product Type">
                                <ul>
                                    <li ng-repeat="p in metadata.product_type"><a href="">{{ p }}</a></li>
                                </ul>
                            </uib-accordion-group>
                        </uib-accordion>

                    </div>
                    <!-- /CATEGORIES -->

                </div>

            </div>

        </div>
    </section>

</div>