<div class="row">
    <div class="img-wrapper">
        <img src="/assets/images/vacation_page/vacation_header_1920x200.jpg" />
    </div>
</div>

<div class="row">
    <div class="col-xs-12 text-center margin-top-60">
        <h1 class="font-amatica">SUMMER VACATION IS HERE!</h1>
        <hr/>
    </div>
</div>

<div class="row margin-top-40 margin-bottom-100">
    <div class="container">
        <div class="col-xs-12 margin-left-10, margin-right-10">
            <p class="font-maven-pro">
                As you hit pause to enjoy the outdoors this summer, your Cocoa Couriers subscription will hit the pause button too. You appreciate the finer things in life, and to make sure your chocolate selection continues to be of the highest quality, shipping will resume when it gets cooler.
            </p>
            <div ng-if="$parent.planToSub">
                <p class="font-maven-pro">
                    New members are always welcome to join the Cocoa Couriers club by signing up for the Waitlist.
                </p>
                <div class="text-center">
                    <a href="http://blog.cocoacouriers.com/" target="_self" class="btn btn-success btn-lg">Join The Waitlist</a>
                </div>
            </div>
            <div ng-if="!$parent.planToSub">
                <p class="font-maven-pro">
                    If you wish to proceed and have your order ship this September when the temperature cools down, please do so below.
                </p>
                <div class="text-center">
                    <button ui-sref="checkout" class="btn btn-success btn-lg">Checkout Anyways</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'/pages/templates/footer.html'"></div>
