<div>
    <h1>Change Email</h1>

    <div class="divider double-line"></div>


    <div class="col-lg-10 col-lg-offset-1">

        <div class="row">
            <div class="col-md-5 col-lg-3">
                <h4>Current Email</h4>
            </div>
            <div class="col-md-7 col-lg-9">
                <div class="row">
                    <div class="col-xs-6">
                        <h5>{{ $parent.account.email }}</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="divider"></div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <form class="row clearfix" novalidate>

                    <div class="box-static box-light-grey">
                        <div class="box-title">
                            <h4>Change Email</h4>
                        </div>
                        <fieldset class="margin-top-20">
                            <div class="row">
                                <div class="col-xs-12 form-group" ng-class="{ 'has-error' : validationErrors.newEmail }">
                                    <label for="account_email"><small>New Email *</small></label>
                                    <input id="account_email" name="billing[email]" type="text" class="form-control required" ng-model="formData.email" />
                                    <p class="text-danger" ng-show="validationErrors.newEmail">{{ validationErrors.newEmail }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 form-group" ng-class="{ 'has-error' : validationErrors.password }">
                                    <label for="account_password"><small>Current Password *</small></label>
                                    <input id="account_password" name="billing[email]" type="password" class="form-control required" ng-model="formData.currentPassword" />
                                    <p class="text-danger" ng-show="validationErrors.password">{{ validationErrors.password }}</p>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <a class="btn btn-default margin-left-10 pull-right" href="/My-Account/">Cancel</a>
                    <button class="btn btn-success pull-right" ng-click="changeEmail()">Save</button>

                </form>

            </div>
        </div>

    </div>


</div>
