<div>
    <h1>Change Email</h1>

    <form class="form-horizontal" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : validationErrors.currentPassword }">
            <label class="col-sm-2 control-label margin-top-20" for="currentPassword">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control input-normal" id="currentPassword" placeholder="" ng-model="account.currentPassword">
                <p class="text-danger" ng-show="validationErrors.currentPassword">{{ validationErrors.currentPassword }}</p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : validationErrors.newPassword }">
            <label class="col-sm-2 control-label margin-top-20" for="newPassword">New Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control input-normal" id="newPassword" placeholder="" ng-model="account.newPassword">
                <p class="text-danger" ng-show="validationErrors.newPassword">{{ validationErrors.newPassword }}</p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : validationErrors.confirmNewPassword }">
            <label class="col-sm-2 control-label margin-top-20" for="confirmNewPassword">Confirm New Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control input-normal" id="confirmNewPassword" placeholder="" ng-model="account.confirmNewPassword">
                <p class="text-danger" ng-show="validationErrors.confirmNewPassword">{{ validationErrors.confirmNewPassword }}</p>
            </div>
        </div>

        <button type="submit" class="btn btn-success margin-top-20 margin-right-10 pull-left" ng-click="saveNewPassword()">Save</button>
        <a class="btn btn-default margin-top-20 pull-left" href="/">Cancel</a>
    </form>
</div>