<div>
    <div class="divider double-line"></div>

    <h1 class="text-center"><a href="/My-Account"><button class="btn btn-green pull-left"><span class="fa fa-chevron-left"></span> Back</button></a> Change Password <button class="btn btn-default pull-right" ng-click="logout()">Logout</button></h1>

    <div class="divider double-line"></div>

    <div class="col-lg-10 col-lg-offset-1">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <form class="row clearfix" novalidate>

                    <div class="box-static box-light-grey">
                        <div class="box-title">
                            <h4>Change Password</h4>
                        </div>
                        <fieldset class="margin-top-20">
                            <div class="row">
                                <div class="col-xs-12 form-group" ng-class="{ 'has-error' : validationErrors.newPassword }">
                                    <label><small>New Password</small></label>
                                    <input type="password" class="form-control input-normal" placeholder="" ng-model="passwordData.newPassword">
                                    <p class="text-danger" ng-show="validationErrors.newPassword">{{ validationErrors.newPassword }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 form-group" ng-class="{ 'has-error' : validationErrors.newPasswordConfirm }">
                                    <label><small>Confirm New Password</small></label>
                                    <input type="password" class="form-control input-normal" placeholder="" ng-model="passwordData.newPasswordConfirm">
                                    <p class="text-danger" ng-show="validationErrors.newPasswordConfirm">{{ validationErrors.newPasswordConfirm }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 form-group" ng-class="{ 'has-error' : validationErrors.currentPassword }">
                                    <label><small>Current Password</small></label>
                                    <input type="password" class="form-control input-normal" placeholder="" ng-model="passwordData.currentPassword">
                                    <p class="text-danger" ng-show="validationErrors.currentPassword">{{ validationErrors.currentPassword }}</p>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <a class="btn btn-default margin-left-10 pull-right" href="/My-Account/">Cancel</a>
                    <button class="btn btn-success pull-right" ng-click="changePassword()">Update</button>
                </form>

                <div ng-show="successfullyChangedPassword" class="alert alert-success">
                    <h4>Successfully changed your password</h4>
                </div>
            </div>
        </div>
    </div>

</div>