<div>
    <div class="divider double-line"></div>

    <h1 class="text-center"><a href="/My-Account"><button class="btn btn-green pull-left"><span class="fa fa-chevron-left"></span> Back</button></a> Update Subscription <button class="btn btn-default pull-right" ng-click="logout()">Logout</button></h1>

    <div class="divider double-line"></div>

    <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 margin-bottom-180">
        <h5 class="text-center">Please contact us to modify or cancel your monthly subscription at <a class="text-green" href="mailto:info@cocoacouriers.com">info@cocoacouriers.com</a></h5>
    </div>
</div>