<div ng-show="loaded">
    <div class="divider double-line"></div>

    <h1 class="text-center"><a href="/My-Account"><button class="btn btn-green pull-left"><span class="fa fa-chevron-left"></span> Back</button></a> Update Plan <button class="btn btn-default pull-right" ng-click="logout()">Logout</button></h1>

    <div class="divider double-line"></div>
    <pre>
        {{ $parent.customerSubscription }}
    </pre>

    <div class="row margin-bottom-100">
        <div class="col-sm-offset-1 col-sm-10">
            <div class="col-md-4 col-sm-12 margin-bottom-40" ng-repeat="plan in plans">
                <div class="price-clean" ng-class="{'thick-pricing-box' : plan.id===$parent.customerSubscription.id}">

                    <div class="pricing-head">
                        <p class="font-maven-pro size-30 color-dark-brown hidden-md">
                            <span class="font-lobster size-25 border-top-1 border-bottom-1 border-dark-brown">
                                The
                            </span>
                            &nbsp;{{ plan.name.toUpperCase() }}
                        </p>
                        <p class="font-maven-pro size-25 color-dark-brown visible-md">
                            <span class="font-lobster size-20 border-top-1 border-bottom-1 border-dark-brown">
                                The
                            </span>
                            &nbsp;{{ plan.name.toUpperCase() }}
                        </p>
                    </div>

                    <div class="row visible-md visible-lg margin-left-20 margin-right-20 margin-top-15">
                        <img class="img-responsive" src="/assets/images/subscription_page/sub_box.png" />
                    </div>
                    <div class="row visible-xs visible-sm margin-left-50 margin-right-50 margin-top-15">
                        <img class="img-responsive" src="/assets/images/subscription_page/sub_box.png" />
                    </div>

                    <h4 class="margin-top-20 size-30 cc-color-teal">
                        <sup>$</sup>{{ (plan.amount/plan.intervalCount/100).toFixed(0) }}<em>/Month</em>
                    </h4>
                    <p ng-if="startsWith(plan.id, 'original')" class="cc-color-grey">Treat yourself to premium artisan chocolate bars</p>
                    <p ng-if="startsWith(plan.id, 'deluxe')" class="cc-color-grey">Enjoy artisan chocolate and luxurious products</p>
                    <p ng-if="startsWith(plan.id, 'chocoholic')" class="cc-color-grey">Satisfy your every craving with the ultimate selection</p>

                    <div ng-show="$parent.customerSubscription">
                        <a ng-show="plan.id!==$parent.customerSubscription.id" href="" ng-click="updatePlan(plan.id)" class="btn btn-3d btn-dark-brown margin-top-10">
                            <span class="font-maven-pro size-20">&nbsp;&nbsp;UPDATE&nbsp;&nbsp;</span>
                        </a>
                        <a ng-show="plan.id===$parent.customerSubscription.id" href="" class="btn btn-3d btn-default margin-top-10">
                            <span class="font-maven-pro size-20">&nbsp;&nbsp;CURRENT&nbsp;&nbsp;</span>
                        </a>
                    </div>

                    <div class="visible-xs visible-sm margin-top-20">
                        <div class="alert alert-danger" ng-show="updateError">
                            <strong>There was an error updating your subscription. Please try again, or contact us.</strong>
                        </div>
                        <div class="alert alert-success" ng-show="updateSuccess">
                            <strong>Successfully update your subscription!</strong>
                        </div>
                    </div>

                </div>
            </div>

            <div class="visible-lg visible-md col-md-12">
                <div class="alert alert-danger" ng-show="updateError">
                    <strong>There was an error updating your subscription. Please try again, or contact us.</strong>
                </div>
                <div class="alert alert-success" ng-show="updateSuccess">
                    <strong>Successfully update your subscription!</strong>
                </div>
            </div>

            <div class="col-xs-12 margin-top-50">
                <uib-accordion close-others="false">
                    <div uib-accordion-group class="panel-danger" heading="+ Cancel Subscription">
                        <h4>Are you sure you want to Cancel your Subscription?</h4>
                        <div class="pull-left">
                            <small>* Cancellations between the 14th and 16th of the month will incur the current month's charge, and will receive that month's box.</small>
                        </div>
                        <button class="btn btn-danger pull-right" ng-click="cancelSubscription()">Cancel Subscription</button>

                        <div class="col-xs-12 margin-top-30">
                            <div class="alert alert-danger" ng-show="cancelError">
                                <strong>There was an error cancelling your subscription. Please try again, or contact us.</strong>
                            </div>
                            <div class="alert alert-success" ng-show="cancelSuccess">
                                <strong>Successfully cancelled your subscription!</strong>
                            </div>
                        </div>
                    </div>
                </uib-accordion>
            </div>
        </div>
    </div>
</div>