<div>

    <div class="row">
        <img class="img-responsive" src="/assets/images/subscription_page/sub_header.jpg" style="width:100%;">
    </div>

    <div class="container margin-top-50">
        <div class="col-xs-12">
            <h1 class="text-center">
                <span class="font-lobster size-45 cc-color-dark-brown border-top-1 border-bottom-1 border-dark-brown font-style-italic">
                    The
                </span>
                <span class="size-50 cc-color-dark-brown">
                    &nbsp;DELUXE
                </span>
            </h1>
            <h3 class="text-center cc-color-grey size-25">
                <strong>Those who enjoy the finer things in life will be delighted by The Deluxe, which includes the following:</strong>
            </h3>
            <p class="text-center cc-color-grey size-20">
                <span class="size-11">&bull;&nbsp;</span>A unique selection of <strong class="cc-color-dark-brown">three</strong> deliciously crafted artisan chocolate bars from across the world.
            </p>
            <p class="text-center cc-color-grey size-20 margin-top-neg-20">
                <span class="size-11">&bull;&nbsp;</span>Highly curate luxurious products that perfectly complement your artisan chocolate selection.
            </p>
            <p class="text-center cc-color-grey size-20 margin-top-neg-20">
                <span class="size-11">&bull;&nbsp;</span>Pairing suggestions that inspire as you indulge and transform you into the perfect host.
            </p>
            <p class="text-center cc-color-grey size-20 margin-top-neg-20">
                <span class="size-11">&bull;&nbsp;</span>The Chocolate Passport, which you'll fill with stamps for each of your chocolate bars and show off your adventurous flavour profiles.
            </p>
            <p class="text-center cc-color-grey size-20 margin-top-neg-20">
                <span class="size-11">&bull;&nbsp;</span>Tickets for your +1 to exclusive chocolate tasting parties, where you'll get to sample creations from chocolate makers while mingling with other club members.
            </p>
            <p class="text-center cc-color-grey size-20 margin-top-neg-20">
                <span class="size-11">&bull;&nbsp;</span>Beautifully illustrated postcard created by a talented artist that you may collect or mail to a loved one.
            </p>
            <p class="text-center cc-color-grey size-20 margin-top-neg-20">
                <span class="size-11">&bull;&nbsp;</span>Access to special promotions and discounts so that you can stock up on your favourites from Cocoa Couriers and our partners.
            </p>
            <p class="text-center cc-color-grey size-20 margin-top-neg-20">
                <span class="size-11">&bull;&nbsp;</span>Free shipping on the 15th of every month, and 100% satisfaction guaranteed.
            </p>

            <div class="text-center">
                <a ng-click="selectPlan(planForThisPage)" href="" class="btn btn-3d cc-bg-teal text-white btn-bordered btn-lg margin-top-30 margin-bottom-80">
                    <span ng-show="isMonth(8)||isMonth(9)" class="size-25">&nbsp;Get Your October Box&nbsp;</span>
                    <span ng-hide="isMonth(8)||isMonth(9)" class="size-25">&nbsp;SUBSCRIBE NOW&nbsp;</span>
                </a>
            </div>

            <div class="col-xs-8 col-xs-offset-2">
                <hr class="border-cc-grey border-top-1" />
            </div>

            <div class="row">
                <div class="text-center col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 margin-top-60">
                    <div class="text-center col-md-10 col-md-offset-1">
                        <img class="img-responsive" src="/assets/images/subscription_page/CC_TheCCClub.png" />
                    </div>
                </div>
            </div>

            <p class="text-center cc-color-grey size-20">
                Organic and fair trade chocolate tastes better, and by joining the Cocoa Couriers Club you'll be able to easily enjoy artisan chocolate every month.
                Your selections are carefully curated by our team of chocoholics, and feature the best tasting chocolate bars full of high quality ingredients.
                Indulge in award-winning bars from craft chocolate makers and exotic flavours from around the world.
            </p>

            <div class="hidden-xs">

                <div class="col-sm-8 col-sm-offset-2">
                    <hr class="border-cc-grey border-top-1" />
                </div>

                <div class="col-sm-12 margin-top-20">
                    <h1 class="text-center font-lobster cc-color-teal font-style-italic size-50">
                        Bean to Bar to You
                    </h1>
                </div>
    
                <div class="col-sm-4">
                    <div class="col-sm-12 col-md-8 col-md-offset-2">
                        <img class="img-responsive img-circle" src="/assets/images/subscription_page/sub_circle_1.jpg" />
                    </div>
                    <div class="col-sm-12 col-md-10 col-md-offset-1">
                        <p class="text-center cc-color-grey size-20 margin-top-20">
                            Each chocolate bar is made with fair trade cocoa beans and high quality organic ingredients.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-sm-12 col-md-8 col-md-offset-2">
                        <img class="img-responsive img-circle" src="/assets/images/subscription_page/sub_circle_2.jpg" />
                    </div>
                    <div class="col-sm-12 col-md-10 col-md-offset-1">
                        <p class="text-center cc-color-grey size-20 margin-top-20">
                            Each chocolate bar is made with fair trade cocoa beans and high quality organic ingredients.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-sm-12 col-md-8 col-md-offset-2">
                        <img class="img-responsive img-circle" src="/assets/images/subscription_page/sub_circle_3.jpg" />
                    </div>
                    <div class="col-sm-12 col-md-10 col-md-offset-1">
                        <p class="text-center cc-color-grey size-20 margin-top-20">
                            Each chocolate bar is made with fair trade cocoa beans and high quality organic ingredients.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="row cc-bg-teal subscription-banner-height margin-top-50">
        <div class="col-xs-12">
            <p class="text-center margin-left-20 margin-right-20 cc-color-dark-brown size-30 margin-top-50">
                Discover the world's finest artisan chocolate delivered monthly right to your door.
            </p>
            <div class="text-center">
                <a href="" ng-click="selectPlan(planForThisPage)" class="btn btn-3d btn-default btn-bordered">
                    <span class="size-20">&nbsp;&nbsp;JOIN THE CLUB&nbsp;&nbsp;</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row cc-bg-teal subscription-banner-padding-md hidden-lg"></div>

</div>

<div ng-include="'/pages/templates/footer.html'"></div>