<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->


<!-- Include the head template -->
<head>
    <%- include pages/templates/head.ejs %>
</head>


<body class="smoothscroll enable-animation font-spin">

<!-- wrapper -->
<div id="wrapper">

    <%- include pages/templates/header.ejs %>

    <section class="nomargin nopadding">
        <img src="/assets/images/CC_index_header.jpg" style="width: 100%;" />
        <div class="col-xs-12 text-center">
            <div class="visible-xs">
                <a href="/store/subscribe" class="btn btn-3d btn-default btn-xs btn-bordered" style="margin-top:-60%;">
                    &nbsp;&nbsp;JOIN THE CLUB&nbsp;&nbsp;
                </a>
                <br/>
                <a href="/store" class="btn btn-3d btn-xs btn-default btn-bordered" style="margin-top:-50%;">
                    &nbsp;&nbsp;OUR SELECTION&nbsp;&nbsp;
                </a>
            </div>
            <div class="visible-sm">
                <a href="/store/subscribe" class="btn btn-3d btn-default btn-bordered border-white btn-translucid" style="margin-top:-15%;">
                    <strong>&nbsp;&nbsp;JOIN THE CLUB&nbsp;&nbsp;</strong>
                </a>
                <a href="/store" class="btn btn-3d btn-default btn-bordered border-white btn-translucid" style="margin-top:-15%;">
                    <strong>&nbsp;&nbsp;OUR SELECTION&nbsp;&nbsp;</strong>
                </a>
            </div>
            <div class="visible-md">
                <a href="/store/subscribe" class="btn btn-3d btn-lg btn-default btn-bordered border-white btn-translucid" style="margin-top:-15%; border-width: 3px;">
                    <span class="size-20"><strong>&nbsp;&nbsp;JOIN THE CLUB&nbsp;&nbsp;</strong></span>
                </a>
                <a href="/store" class="btn btn-3d btn-lg btn-default btn-bordered border-white btn-translucid" style="margin-top:-15%; border-width: 3px;">
                    <span class="size-20"><strong>&nbsp;&nbsp;OUR SELECTION&nbsp;&nbsp;</strong></span>
                </a>
            </div>
            <div class="visible-lg">
                <a href="/store/subscribe" class="btn btn-3d btn-xlg btn-default btn-bordered border-white btn-translucid" style="margin-top:-15%; border-width: 5px;">
                    <span class="size-25"><strong>&nbsp;&nbsp;JOIN THE CLUB&nbsp;&nbsp;</strong></span>
                </a>
                <a href="/store" class="btn btn-3d btn-xlg btn-default btn-bordered border-white btn-translucid" style="margin-top:-15%; border-width: 5px;">
                    <span class="size-25"><strong>&nbsp;&nbsp;OUR SELECTION&nbsp;&nbsp;</strong></span>
                </a>
            </div>
        </div>
    </section>

    <section id="other_features" class="nopadding nomargin">
        <div class="container">

            <!-- FEATURED BOXES 3 -->
            <!-- FEATURED -->
            <section id="index-featured-products" class="padding-bottom-100">
                <div class="container">

                    <h2 class="owl-featured noborder"><strong>FEATURED</strong> PRODUCTS</h2>
                    <div class="owl-carousel featured nomargin owl-padding-10" data-plugin-options='{"singleItem": false, "items": "4", "stopOnHover":false, "autoPlay":4000, "autoHeight": false, "navigation": true, "pagination": false}'>

                        <!-- item -->
                        <div id="featured-item-1" class="shop-item nomargin">

                            <div class="thumbnail">
                                <!-- product image(s) -->
                                <a class="shop-item-image" href="/store/item/Dick-Taylor-Black-Fig">
                                    <img class="img-responsive" src="/assets/store_media/full/MD0001-1.png" alt="shop first image" />
                                    <img class="img-responsive" src="/assets/store_media/full/MD0001-2.png" alt="shop hover image" />
                                </a>
                                <!-- /product image(s) -->

                            </div>

                            <div class="shop-item-summary text-center">
                                <h2>Madecasse - Toasted Coconut</h2>

                                <hr/>

                                <!-- rating -->
                                <div class="row">
                                    <img width="50" src="/assets/store_media/flavor_profiles/infused.png" />
                                    <img width="50" src="/assets/store_media/flavor_profiles/dark.png" />
                                    <img width="50" src="/assets/store_media/flavor_profiles/coarse.png" />
                                </div>
                                <!-- /rating -->

                                <hr/>

                                <!-- price -->
                                <div class="shop-item-price">
                                    $ 9.95 CAD
                                </div>
                                <!-- /price -->
                            </div>

                            <!-- buttons -->
                            <div class="shop-item-buttons text-center">
                                <a class="btn btn-default" href="/store/item/Dick-Taylor-Black-Fig"><i class="fa fa-cart-plus"></i> Add to Cart</a>
                            </div>
                            <!-- /buttons -->
                        </div>
                        <!-- /item -->

                        <!-- item -->
                        <div id="featured-item-2" class="shop-item nomargin">

                            <div class="thumbnail">
                                <!-- product image(s) -->
                                <a class="shop-item-image" href="/store/item/Dick-Taylor-Black-Fig">
                                    <!-- CAROUSEL -->
                                    <div class="owl-carousel owl-padding-0 nomargin" data-plugin-options='{"singleItem": true, "autoPlay": 3000, "navigation": false, "pagination": false, "transitionStyle":"fadeUp"}'>
                                        <img class="img-responsive" src="/assets/store_media/full/DT0001-1.png" alt="">
                                        <img class="img-responsive" src="/assets/store_media/full/DT0001-2.png" alt="">
                                    </div>
                                    <!-- /CAROUSEL -->
                                </a>
                                <!-- /product image(s) -->
                            </div>

                            <div class="shop-item-summary text-center">
                                <h2>Dick Taylor - Black Fig</h2>

                                <hr/>

                                <!-- rating -->
                                <div class="row">
                                    <img width="50" src="/assets/store_media/flavor_profiles/sweet.png" />
                                    <img width="50" src="/assets/store_media/flavor_profiles/infused.png" />
                                    <img width="50" src="/assets/store_media/flavor_profiles/dark.png" />
                                </div>
                                <!-- /rating -->

                                <hr/>

                                <!-- price -->
                                <div class="shop-item-price">
                                    $ 11.95 CAD
                                </div>
                                <!-- /price -->
                            </div>

                            <!-- buttons -->
                            <div class="shop-item-buttons text-center">
                                <a class="btn btn-default" href="/store/item/Dick-Taylor-Black-Fig"><i class="fa fa-cart-plus"></i> Add to Cart</a>
                            </div>
                            <!-- /buttons -->
                        </div>
                        <!-- /item -->

                        <!-- item -->
                        <div id="featured-item-3" class="shop-item nomargin">

                            <div class="thumbnail">
                                <!-- product image(s) -->
                                <a class="shop-item-image" href="/store/item/Ritual-Fleur-De-Sel">
                                    <img class="img-responsive" src="/assets/store_media/full/RI0001-1.png" alt="shop first image" />
                                    <img class="img-responsive" src="/assets/store_media/full/RI0001-2.png" alt="shop hover image" />
                                </a>
                                <!-- /product image(s) -->

                            </div>

                            <div class="shop-item-summary text-center">
                                <h2>Ritual - Fleur de Sel</h2>

                                <hr/>

                                <!-- rating -->
                                <div class="row">
                                    <img width="50" src="/assets/store_media/flavor_profiles/smooth.png" />
                                    <img width="50" src="/assets/store_media/flavor_profiles/salted.png" />
                                    <img width="50" src="/assets/store_media/flavor_profiles/infused.png" />
                                </div>
                                <!-- /rating -->

                                <hr/>

                                <!-- price -->
                                <div class="shop-item-price">
                                    $ 7.95 CAD
                                </div>
                                <!-- /price -->
                            </div>

                            <!-- buttons -->
                            <div class="shop-item-buttons text-center">
                                <a class="btn btn-default" href="/store/item/Ritual-Fleur-De-Sel"><i class="fa fa-cart-plus"></i> Add to Cart</a>
                            </div>
                            <!-- /buttons -->
                        </div>
                        <!-- /item -->

                        <!-- item -->
                        <div id="featured-item-4" class="shop-item nomargin">

                            <div class="thumbnail">
                                <!-- product image(s) -->
                                <a class="shop-item-image" href="/store/item/Vintage-Plantations-75-Dark">
                                    <img class="img-responsive" src="/assets/store_media/full/VI0001-1.png" alt="shop first image" />
                                </a>
                                <!-- /product image(s) -->
                            </div>

                            <div class="shop-item-summary text-center">
                                <h2>Vintage Plantations - 75% Dark</h2>

                                <hr/>

                                <!-- rating -->
                                <div class="row">
                                    <img width="50" src="/assets/store_media/flavor_profiles/strong.png" />
                                    <img width="50" src="/assets/store_media/flavor_profiles/smooth.png" />
                                    <img width="50" src="/assets/store_media/flavor_profiles/dark.png" />
                                </div>
                                <!-- /rating -->

                                <hr/>

                                <!-- price -->
                                <div class="shop-item-price">
                                    $ 7.50 CAD
                                </div>
                                <!-- /price -->
                            </div>

                            <!-- buttons -->
                            <div class="shop-item-buttons text-center">
                                <a class="btn btn-default" href="/store/item/Vintage-Plantations-75-Dark"><i class="fa fa-cart-plus"></i> Add to Cart</a>
                            </div>
                            <!-- /buttons -->
                        </div>
                        <!-- /item -->

                        <!-- item -->
                        <div id="featured-item-5" class="shop-item nomargin">

                            <div class="thumbnail">
                                <!-- product image(s) -->
                                <a class="shop-item-image" href="/store/item/Palette-De-Bine-Tanzanie">
                                    <img class="img-responsive" src="/assets/store_media/full/PA0001-1.png" alt="shop first image" />
                                </a>
                                <!-- /product image(s) -->
                            </div>

                            <div class="shop-item-summary text-center">
                                <h2>Palette De Bine - 72% Tanzanie </h2>

                                <hr/>

                                <!-- rating -->
                                <div class="row">
                                    <img width="50" src="/assets/store_media/flavor_profiles/strong.png" />
                                    <img width="50" src="/assets/store_media/flavor_profiles/smooth.png" />
                                    <img width="50" src="/assets/store_media/flavor_profiles/dark.png" />
                                </div>
                                <!-- /rating -->

                                <hr/>

                                <!-- price -->
                                <div class="shop-item-price">
                                    $ 10.95 CAD
                                </div>
                                <!-- /price -->
                            </div>

                            <!-- buttons -->
                            <div class="shop-item-buttons text-center">
                                <a class="btn btn-default" href="/store/item/Vintage-Plantations-75-Dark"><i class="fa fa-cart-plus"></i> Add to Cart</a>
                            </div>
                            <!-- /buttons -->
                        </div>
                        <!-- /item -->

                        <!-- item -->
                        <div id="featured-item-6" class="shop-item nomargin">

                            <div class="thumbnail">
                                <!-- product image(s) -->
                                <a class="shop-item-image" href="/store/item/Raaka-Pink-Sea-Salt">
                                    <img class="img-responsive" src="/assets/store_media/full/RA0001-1.png" alt="shop first image" />
                                    <img class="img-responsive" src="/assets/store_media/full/RA0001-2.png" alt="shop hover image" />
                                </a>
                                <!-- /product image(s) -->
                            </div>

                            <div class="shop-item-summary text-center">
                                <h2>Raaka - Pink Sea Salt</h2>

                                <hr/>

                                <!-- rating -->
                                <div class="row">
                                    <img width="50" src="/assets/store_media/flavor_profiles/salted.png" />
                                    <img width="50" src="/assets/store_media/flavor_profiles/infused.png" />
                                    <img width="50" src="/assets/store_media/flavor_profiles/citrus.png" />
                                </div>
                                <!-- /rating -->

                                <hr/>

                                <!-- price -->
                                <div class="shop-item-price">
                                    $ 9.95 CAD
                                </div>
                                <!-- /price -->
                            </div>

                            <!-- buttons -->
                            <div class="shop-item-buttons text-center">
                                <a class="btn btn-default" href="/store/item/Raaka-Pink-Sea-Salt"><i class="fa fa-cart-plus"></i> Add to Cart</a>
                            </div>
                            <!-- /buttons -->
                        </div>
                        <!-- /item -->

                        <!-- item -->
                        <div id="featured-item-7" class="shop-item nomargin">

                            <div class="thumbnail">
                                <!-- product image(s) -->
                                <a class="shop-item-image" href="/store/item/Robert-Chocolate-70-Cocoa">
                                    <img class="img-responsive" src="/assets/store_media/full/RC0001-1.png" alt="shop hover image" />
                                    <img class="img-responsive" src="/assets/store_media/full/RC0001-2.png" alt="shop first image" />
                                </a>
                                <!-- /product image(s) -->
                            </div>

                            <div class="shop-item-summary text-center">
                                <h2>Robert Chocolate - 70%</h2>

                                <hr/>

                                <!-- rating -->
                                <div class="row">
                                    <img width="50" src="/assets/store_media/flavor_profiles/smooth.png" />
                                    <img width="50" src="/assets/store_media/flavor_profiles/dark.png" />
                                </div>
                                <!-- /rating -->

                                <hr/>

                                <!-- price -->
                                <div class="shop-item-price">
                                    $ 9.95 CAD
                                </div>
                                <!-- /price -->
                            </div>

                            <!-- buttons -->
                            <div class="shop-item-buttons text-center">
                                <a class="btn btn-default" href="/store/item/Robert-Chocolate-70-Cocoa"><i class="fa fa-cart-plus"></i> Add to Cart</a>
                            </div>
                            <!-- /buttons -->
                        </div>
                        <!-- /item -->

                    </div>
                </div>

            </section>
            <!-- /FEATURED -->

        </div>
    </section>

    <!-- Include the footer template -->
    <%- include pages/templates/footer.ejs %>


</div>

    <script src="/assets/plugins/Morphext-2.4.4/dist/morphext.min.js"></script>
    <script>
        $("#js-rotating").Morphext({
        // The [in] animation type. Refer to Animate.css for a list of available animations.
        animation: "fadeIn",
        // An array of phrases to rotate are created based on this separator. Change it if you wish to separate the phrases differently (e.g. So Simple | Very Doge | Much Wow | Such Cool).
        separator: ",",
        // The delay between the changing of each phrase in milliseconds.
        speed: 4000,
        complete: function () {
        // Called after the entrance animation is executed.
        }
        });
    </script>

</body>
</html>