<section id="pricing" ng-controller="signupCtrl">
    <div class="container-fluid bg-greyz">
        <div class="container">
            <!-- Header -->
            <header>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 wow fadeInDown margin-top-40">
                        <h1>Sign Up!</h1>
                    </div>
                </div>
            </header>

            <div>
                <!-- Content -->
                <div class="row" ng-if="formPage==1">
                    <div class="margin-bottom-40">
                        <h3 class="text-center">CHOOSE A PLAN</h3>
                        <p class="text-center">Select The Right Quantity From Our Packages. Don't worry, if you buy to many or too little you can change your subscription at any time! </p>
                    </div>
                    <div ng-repeat="plan in formPlans" class="col-xs-12 col-sm-3 i wow fadeInLeft animated" data-wow-duration="0.5s" data-wow-delay="0.2s" ng-click="selectPlan(plan.id)">
                        <div class="wrap borderedHover">
                            <div class="c">
                                <h3>{{ plan.name }}</h3>
                                <div class="price price-lg"><sup>$</sup>{{ (plan.amount/100).toFixed(2) }}</div>
                                <div class="info">
                                    {{ plan.metadata.desc }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Content -->
                <div class="row" ng-if="formPage==2">
                    <div class="margin-bottom-40">
                        <h3 class="text-center">Your Shipping Info</h3>
                        <p class="text-center">We need to make sure we send the "package" to the right person</p>
                    </div>

                    <div class="col-lg-7 col-lg-offset-2">
                        <form class="form-horizontal" novalidate>
                            <div class="form-group" ng-class="{ 'has-error' : validationErrors.name }">
                                <label class="col-sm-2 control-label margin-top-20" for="fn">Full Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-normal" id="fn" placeholder="" ng-model="userInfo.name">
                                    <p class="text-danger" ng-show="validationErrors.name">{{ validationErrors.name }}</p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : validationErrors.address.line1 }">
                                <label class="col-sm-2 control-label margin-top-20" for="ad">Address</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-normal" id="ad" placeholder="" ng-model="userInfo.address.line1">
                                    <p class="text-danger" ng-show="validationErrors.address.line1">{{ validationErrors.address.line1 }}</p>
                                </div>
                                <div class="col-sm-10 col-sm-offset-2">
                                    <input type="text" class="form-control input-normal" id="ad" placeholder="" ng-model="userInfo.address.line2">
                                    <p class="text-danger" ng-show="validationErrors.address.line2">{{ validationErrors.address.line2 }}</p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : validationErrors.address.city }">
                                <label class="col-sm-2 control-label margin-top-20" for="city">City</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-normal" id="city" placeholder="" ng-model="userInfo.address.city">
                                    <p class="text-danger" ng-show="validationErrors.address.city">{{ validationErrors.address.city }}</p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : validationErrors.address.state }">
                                <label class="col-sm-2 control-label margin-top-20" for="state">Province / State</label>
                                <div class="col-sm-10">
                                    <select id="state" class="form-control input-normal" ng-options="o as o.name for o in formOptions.provinces" ng-model="userInfo.address.state">
                                    </select>
                                    <p class="text-danger" ng-show="validationErrors.address.state">{{ validationErrors.address.state }}</p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : validationErrors.address.country }">
                                <label class="col-sm-2 control-label margin-top-20" for="country">Country</label>
                                <div class="col-sm-10">
                                    <select id="country" class="form-control input-normal" ng-options="o as o.name for o in formOptions.countries" ng-model="userInfo.address.country">
                                    </select>
                                    <p class="text-danger" ng-show="validationErrors.address.country">{{ validationErrors.address.country }}</p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : validationErrors.address.postal_code }">
                                <label class="col-sm-2 control-label margin-top-20" for="postal_code">Postal Code</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-normal" id="postal_code" placeholder="" ng-model="userInfo.address.postal_code">
                                    <p class="text-danger" ng-show="validationErrors.address.postal_code">{{ validationErrors.address.postal_code }}</p>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error' : validationErrors.email }">
                                <label class="col-sm-2 control-label margin-top-20" for="ea">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control input-normal" id="ea" placeholder="" ng-model="userInfo.email">
                                    <p class="text-danger" ng-show="validationErrors.email">{{ validationErrors.email }}</p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : validationErrors.password }">
                                <label class="col-sm-2 control-label margin-top-20" for="p">Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control input-normal" id="p" placeholder="" ng-model="userInfo.password">
                                    <p class="text-danger" ng-show="validationErrors.password">{{ validationErrors.password }}</p>
                                </div>
                            </div>

                            <!-- Skip registration option if user is buying a gift -->
                            <div ng-show="userInfo.subscription.planId.toUpperCase().indexOf('GIFT') > -1" class="form-group">
                                <p>Check this if you would like to skip registration for the one-time gift</p>
                                <input type="checkbox" ng-model="skipRegistration" />
                            </div>

                            <button type="submit" class="btn btn-default margin-top-20 pull-right" ng-click="next(3)">Next</button>
                            <button type="submit" class="btn btn-default margin-top-20 pull-right" ng-click="goBack(1)">Back</button>
                        </form>
                    </div>
                </div>

                <!-- Content -->
                <div class="row" ng-if="formPage==3">
                    <div class="margin-bottom-40">
                        <h3 class="text-center">Your Payment Details</h3>
                        <p class="text-center">Unfortunately condoms don't grow on trees ...yet</p>
                    </div>

                    <div class="col-lg-7 col-lg-offset-2">
                        <form class="form-horizontal" novalidate>
                            <div class="form-group" ng-class="{ 'has-error' : validationErrors.source.name }">
                                <label class="col-sm-2 control-label margin-top-20" for="chn">Card Holder Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-normal" id="chn" placeholder="Name as it appears on card" ng-model="userInfo.source.name">
                                    <p class="text-danger" ng-show="validationErrors.source.name">{{ validationErrors.source.name }}</p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : validationErrors.source.number }">
                                <label class="col-sm-2 control-label margin-top-20" for="cn">Card Number</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-normal" id="cn" placeholder="" ng-model="userInfo.source.number">
                                    <p class="text-danger" ng-show="validationErrors.source.number">{{ validationErrors.source.number }}</p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : validationErrors.exp_month || validationErrors.exp_year }">
                                <label class="col-sm-2 control-label margin-top-20" for="exp_mon">Expiration</label>
                                <div class="col-sm-4">
                                    <select id="exp_mon" class="form-control input-normal" placeholder="Month" ng-options="mon as mon.name for mon in formOptions.ccExp.month" ng-model="userInfo.source.exp_month">
                                    </select>
                                    <p class="text-danger" ng-show="validationErrors.source.exp_month">{{ validationErrors.source.exp_month }}</p>
                                </div>
                                <div class="col-sm-4 col-sm-offset-1">
                                    <select class="form-control input-normal" id="exp_year" placeholder="Year" ng-model="userInfo.source.exp_year" ng-options="year for year in formOptions.ccExp.year">
                                        <option ng-repeat="option in formOptions.ccExp.year" value="{{ option.id }}">{{ option.name }}</option>
                                    </select>
                                    <p class="text-danger" ng-show="validationErrors.source.exp_year">{{ validationErrors.source.exp_year }}</p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : validationErrors.source.cvc }">
                                <label class="col-sm-2 control-label margin-top-20" for="cvv">Card CVV</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-normal" id="cvv" placeholder="" ng-model="userInfo.source.cvc">
                                    <p class="text-danger" ng-show="validationErrors.source.cvc">{{ validationErrors.source.cvc }}</p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : validationErrors.source.address_zip }">
                                <label class="col-sm-2 control-label margin-top-20" for="cn">Postal Code</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-normal" id="pc" placeholder="" ng-model="userInfo.source.address_zip">
                                    <p class="text-danger" ng-show="validationErrors.source.address_zip">{{ validationErrors.source.address_zip }}</p>
                                </div>
                            </div>
                            <button ng-disabled="processingReg" type="submit" class="btn btn-default margin-top-20 pull-right" ng-click="completeRegistration()">Register</button>
                            <button type="submit" class="btn btn-default margin-top-20 pull-right" ng-click="goBack(2)">Back</button>
                        </form>
                    </div>
                </div>

            </div>

            <div ng-show="subErr" class="alert alert-danger">Error subscribing to plan. Please go to your account management page to resolve the issue.</div>

        </div>
    </div>
</section>