[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak .ng-hide {
    display: none !important;
}

.color-visa {
    color: #0157A2;
}

.color-amex {
    color: #007BC1;
}

.color-mastercard {
    color: #0A3A82;
}

.color-discover {
    color: #F68121;
}

.color-diners-club {
    color: #004A97;
}

.color-jcb {
    color: #003A8F;
}

.box-light-grey {
    color:#414141;
    background-color:#c6c6c6 !important;
}

.bg-mainimage {
     background: url('../images/raaka-bg.png');
     background-repeat: no-repeat;
     background-size: cover;
 }



.btn-flat-green {
 background-color: #27ae60; color: #FFF !important;
 }

.btn-mega {
     width: 300px;
     height:60px;
     font-size: 32px;
     line-height: 32px;
 
 }

.bg-royal-blue {
     background-color: #2c3e50;
 }

.bg-emerald-green {
     background-color: #27ae60;
 }

.color-emerald-green {
     color: #27ae60;
 }
.main-sep {
     height: 80px;
 }

.secondary-sep {
     height: 60px;
 }

.font-arvo {
     font-family: 'Arvo', serif;
 }

.font-spin {
     font-family: 'Spinnaker', sans-serif;
 }

.white-maker {
    height: 40px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.test-gradient {
    background: -webkit-radial-gradient(#ecf0f1, #2ecc71, #27ae60); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#ecf0f1, #2ecc71, #27ae60); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#ecf0f1, #2ecc71, #27ae60); /* For Fx 3.6 to 15 */
    background: radial-gradient(#ecf0f1, #2ecc71, #27ae60); /* Standard syntax (must be last) */
}