[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak .ng-hide {
    display: none !important;
}

.color-visa {
    color: #0157A2;
}

.color-amex {
    color: #007BC1;
}

.color-mastercard {
    color: #0A3A82;
}

.color-discover {
    color: #F68121;
}

.color-diners-club {
    color: #004A97;
}

.color-jcb {
    color: #003A8F;
}
