[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak .ng-hide {
    display: none !important;
}

/* Set Default Font */
body {
    font-family: 'Maven Pro', sans-serif !important;
}

/* General Colour Scheme */

.cc-color-teal {
    color: #88aa9a !important;
}

.cc-color-dark-brown {
    color: #49241e !important;
}

.cc-color-grey {
    color: #939393 !important;
}

/* End Colour Scheme */


/* Fonts */

.font-journal {
    font-family: journal;
}

.font-amatica {
    font-family: 'Amatica SC', cursive;
}

.font-maven-pro {
    font-family: 'Maven Pro', sans-serif;
}


.font-lobster {
    font-family: 'Lobster Two', cursive;
}

.font-nixie {
    font-family: 'Nixie One', cursive;
}

.font-arvo {
    font-family: 'Arvo', serif;
}

.font-arimo {
    font-family: 'Arimo', sans-serif;
}

.font-spin {
    font-family: 'Spinnaker', sans-serif;
}

.font-muli {
    font-family: 'Muli', sans-serif;
}

.font-playfair {
    font-family: 'Playfair Display', serif;
}

.font-patua {
    font-family: 'Patua One', cursive;
}

.font-oswald {
    font-family: 'Oswald', sans-serif;
}

/* End Fonts */

@font-face {
    font-family: journal;
    src: url(../fonts/journal.ttf);
}




.border-none {
    border: none;
}

.border-dark-brown {
    border-color: #49241e;
}

.border-cc-grey {
    border-color: #939393 !important;
}


.img-wrapper {
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.img-wrapper img {
    position: relative;
    left: 300%;
    margin-left: -600%;
}

.post-content {
    background: none repeat scroll 0 0;
    text-shadow: 0 0 5px rgba(0,0,0,0.9);
    margin: 0 auto;
    text-align:right;
    position: relative;
    margin-top: 100px;
    width:60%;
}


.margin-top-5 {
    margin-top: 5px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-top-25 {
    margin-top: 25px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-100 {
    margin-bottom: 100px !important;
}

.margin-bottom-neg-5 {
    margin-bottom: -5px !important;
}

.margin-bottom-neg-10 {
    margin-bottom: -10px !important;
}

.margin-bottom-neg-20 {
    margin-bottom: -20px !important;
}

.margin-bottom-neg-50 {
    margin-bottom: -50px !important;
}

.margin-top-neg-20 {
    margin-top: -20px !important;
}

.margin-top-neg-30 {
    margin-top: -30px !important;
}

.margin-top-neg-50 {
    margin-top: -50px !important;
}

.margin-left-2 {
    margin-left: 2px !important;
}

.margin-left-5 {
    margin-left: 5px !important;
}

.margin-left-neg-20 {
    margin-left: -20px !important;
}

.margin-right-5 {
    margin-right: 5px !important;
}


.full-height {
    height: 2000px;
}



.color-visa {
    color: #0157A2;
}

.color-amex {
    color: #007BC1;
}

.color-mastercard {
    color: #0A3A82;
}

.color-discover {
    color: #F68121;
}

.color-diners-club {
    color: #004A97;
}

.color-jcb {
    color: #003A8F;
}

.box-light-grey {
    color:#414141;
    background-color:#c6c6c6 !important;
}

.bg-mainimage {
     background: url('../images/bgtest.png');
     background-repeat: no-repeat;
     background-size: cover;
 }


.subscription-banner-height {
    height: 200px;

}
.subscription-banner-padding-md {
    height: 40px;
}


.btn-flat-green {
    background-color: #27ae60; color: #FFF !important;
 }

.btn-dark-brown {
    background-color: #49241e; color: #FFF !important;
    border: none;
}
.btn-dark-brown:hover,
.btn-dark-brown:focus,
.btn-dark-brown:active {
    color:#fff !important;
    background-color:#434343;
    border: none;
}

.btn-mega {
     width: 300px;
     height:60px;
     font-size: 32px;
     line-height: 32px;
 }

.bg-royal-blue {
     background-color: #2c3e50;
 }

.bg-emerald-green {
     background-color: #27ae60;
 }
.bg-cocoa {
    background-color: #34495e;
}
.bg-chocolate-brown {
    background-color: #49241e;
}

.cc-bg-teal {
    background-color: #88aa9a;
}

.color-emerald-green {
     color: #27ae60;
 }
.main-sep {
     height: 80px;
 }

.secondary-sep {
    line-height: 50px;
    padding-top:10px;
 }

.secondary-sep-100 {
    height: 100px;
}


.white-maker {
    height: 40px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.test-gradient {
    background: -webkit-radial-gradient(#ecf0f1, #2ecc71, #27ae60); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#ecf0f1, #2ecc71, #27ae60); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#ecf0f1, #2ecc71, #27ae60); /* For Fx 3.6 to 15 */
    background: radial-gradient(#ecf0f1, #2ecc71, #27ae60); /* Standard syntax (must be last) */
}

.thick-pricing-box {
    border-width: 5px !important;
    border-color: #27ae60;
}

.blog-image {
    height:300px;
}

.semi-trans {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;

    background-color: rgba(0,0,0,0.55);
    margin-left: auto ;
    margin-right: auto ;
    padding-bottom: 30px;
    padding-top: 30px;

}

.felt-bg {
    background: url('../images/headerpattern.png');
    background-repeat: repeat;
}

.emb-bg {
    background: url('../images/dark_embroidery.png');
    background-repeat: repeat;
}

.bg-brown {
 background-color: #252525; !important;
}

.customStroke {
    border: red solid 1px;
}
.chocolate-bg {
    background: url('../images/blog_images/chocolate-bg.png');
    -webkit-background-size: cover;
    background-size: cover;
}

.color-facebook {
    color: #3b5998;
}

.color-twitter {
    color: #00aced;
}
.color-instagram {
    color: #125688;
}

img.resize-shop-item-thumbnail {
    height: 150px;
    width: auto;
}

img.resize-shop-product {
    height: 450px;
    width: 300px;
    overflow: hidden;
}

.payment-method-border-default {
    border: 2px solid #34495e;
}

.payment-method-border-error {
    border: 4px solid red;
}

.no-border {
    border: none;
}

.shop-filter-side-button {
    margin-top: 5px;
    opacity: 0.8;
}

.hide-overflow {
    overflow: hidden !important;
}

.faded-panel {
    opacity: 0.5;
}

.product-profile-thumbnail {
    height: 75px;
    width: auto;
}

.product-qty-select {
    width: 65px;
}

.zoom-overlay-icon {
    top: 50%;
    left: 50%;
    position: absolute;
}

.shop-thumbnail-fixed-size {
    height :300px;
    width :200px;
    overflow :hidden;
}

.bg-golden {
    background-color: #f39c12 ;
}

.bg-alizan {
    background-color: #e74c3c;
}
.moms-h1 {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    line-height: 46px;
    font-size: 42px;
    margin: 0 0 23px 0;
}
.moms-h2 {
    font-family: 'EB Garamond', serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2px;
    margin: 0 0 23px 0;
}
.moms-p {
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 23px 0;
}

.bg-mom {
    background-color: white;
}

.bg-ameth {
    background-color: #9b59b6;
}

.moms-h2-small {
    font-family: 'EB Garamond', serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1px;
    margin: 0 0 13px 0;
}

.color-cocoa-brown {
    color: #3B2314;
}

.color-cocoa-secondary {
    color: #754C28
}

.landing-header {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 45px;
}

.bg-yellow {
    background-color:#D78F00 ;
}

.bg-soft-green {
    background-color: #A2C563;
}

.bg-soft-purple {
    background-color: #CD88AF;
}

.bg-soft-blue {
    background-color: #8FA6DA;
}

.sub-para {
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
}


.landing-sub {
    font-size: 50px;
    margin-bottom: 20px;
    line-height: 50px;
}



/* Media Queries for Lander */

@media screen and (max-width:480px) {
#chocolate-gift {
 width: 250px;
    height: 175px;
}  
    
    #theobromo {
        width: 250px;
        height: 300px;
    }

    #theobromocontainer {
        margin-top: 2px;
    }
    
    
}