<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->

<head>
    <%- include templates/head.ejs %>
</head>

<body class="smoothscroll enable-animation font-spin">

    <!-- wrapper -->
    <div id="wrapper">

        <<!-- Include the header template -->
        <%- include templates/header.ejs %>

        <section>
            <div class="container">

                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h1 class="pricing-head font-cursive">
                            The Blog!
                        </h1>
                        <hr/>
                    </div>
                    <!-- POST ITEM -->
                    <div class="blog-post-item col-md-4 col-sm-4">

                        <!-- OWL SLIDER -->
                        <div class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"items": 1, "autoPlay": 3000, "autoHeight": false, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "progressBar":"false"}'>
                            <div>
                                <img class="img-responsive" src="../assets/images/blog_images/contest-image.png" alt="">
                            </div>
                            <div>
                                <img class="img-responsive" src="../assets/images/blog_images/chocolate-bg.png" alt="">
                            </div>
                        </div>
                        <!-- /OWL SLIDER -->

                        <h2><a href="/blog/free-chocolate-givaway">Free Chocolate Giveaway!</a></h2>

                        <ul class="blog-post-info list-inline">
                            <li>
                                <i class="fa fa-clock-o"></i>
                                <span class="font-lato">February 6, 2016 - Joseph Grande - Co-Founder | CocoaCouriers</span>
                            </li>
                        </ul>

                        <p>We want you to try our subscription box for free, we have a contest running that will allow you to enter for a chance to win
                        a box and have it shipped directly to your house!</p>
                        <a href="/blog/free-chocolate-givaway" class="btn btn-reveal btn-default">
                            <i class="fa fa-plus"></i>
                            <span>Read More</span>
                        </a>

                    </div>
                    <!-- /POST ITEM -->


                    <!-- POST ITEM -->
                    <div class="blog-post-item col-md-4 col-sm-4">

                        <!-- OWL SLIDER -->
                        <div class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"items": 1, "autoPlay": 3000, "autoHeight": false, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "progressBar":"false"}'>
                            <div>
                                <img class="img-responsive" src="../assets/images/blog_images/Valentines-facebook-promo-2.png" alt="">
                            </div>
                            <div>
                                <img class="img-responsive" src="../assets/images/blog_images/Valentine-1.png" alt="">
                            </div>
                        </div>
                        <!-- /OWL SLIDER -->

                        <h2><a href="/blog/valentines-day-gift">Valentine's 2016 Gift!</a></h2>

                        <ul class="blog-post-info list-inline">
                            <li>
                                <i class="fa fa-clock-o"></i>
                                <span class="font-lato">February 2, 2016 - Joseph Grande - Co-Founder | CocoaCouriers</span>
                            </li>
                        </ul>

                        <p>We've put together one of the most delicious Valentine's Day Gift imaginable and we want your special someone to love their gift this year! We think
                        this gift is the perfect fit for any chocolate lover, just wait til' she tastes these creations!</p>
                        <a href="/blog/valentines-day-gift" class="btn btn-reveal btn-default">
                            <i class="fa fa-plus"></i>
                            <span>Read More</span>
                        </a>

                    </div>
                    <!-- /POST ITEM -->

                    <!-- POST ITEM -->
                    <div class="blog-post-item col-md-4 col-sm-4">

                        <!-- OWL SLIDER -->
                        <div class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"items": 1, "autoPlay": 3000, "autoHeight": false, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "progressBar":"false"}'>
                            <div>
                                <img class="img-responsive" src="../assets/images/blog_images/whats-the-deal-with-infusions-1.jpg" alt="">
                            </div>
                            <div>
                                <img class="img-responsive" src="/assets/images/blog_images/whats-the-deal-with-infusions-2.jpg" alt="">
                            </div>
                        </div>
                        <!-- /OWL SLIDER -->

                        <h2><a href="/blog/whats-the-deal-with-chocolate-infusions">What's the Deal with Chocolate Infusions?</a></h2>

                        <ul class="blog-post-info list-inline">
                            <li>
                                <i class="fa fa-clock-o"></i>
                                <span class="font-lato">January 26, 2015 - Joseph Grande - Co-Founder | CocoaCouriers</span>
                            </li>
                        </ul>

                        <p>For the last few months we at Cocoa Couriers have been getting amazing chocolate samples coming from finest cocoa beans and artisanal chocolatiers around the world.
                            It is slowly becoming apparent through our chocolate tasting events...</p>
                        <a href="/blog/whats-the-deal-with-chocolate-infusions" class="btn btn-reveal btn-default">
                            <i class="fa fa-plus"></i>
                            <span>Read More</span>
                        </a>

                    </div>
                    <!-- /POST ITEM -->




                    <!-- POST ITEM -->
                    <div class="blog-post-item col-md-4 col-sm-4">

                        <!-- OWL SLIDER -->
                        <div class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"items": 1, "autoPlay": 3000, "autoHeight": false, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "progressBar":"false"}'>
                            <div>
                                <img class="img-responsive" src="../assets/images/blog_images/women_workers.jpg" alt="">
                            </div>
                            <div>
                                <img class="img-responsive" src="../assets/images/blog_images/quality_fairtrade.jpg" alt="">
                            </div>
                        </div>
                        <!-- /OWL SLIDER -->

                        <h2><a href="/blog/what-is-fair-trade">What Is Fair Trade?</a></h2>

                        <ul class="blog-post-info list-inline">
                            <li>
                                <i class="fa fa-clock-o"></i>
                                <span class="font-lato">January 14, 2016</span>
                            </li>
                        </ul>

                        <p>Ok, so lets finally look a little bit into what fair trade means to us in North America. For those of you who haven't seen "The Dark Side of Chocolate" (It's a
                            documentary) do yourself a favor and watch it, it's a great look...</p>
                        <a href="/blog/what-is-fair-trade" class="btn btn-reveal btn-default">
                            <i class="fa fa-plus"></i>
                            <span>Read More</span>
                        </a>

                    </div>
                    <!-- /POST ITEM -->


                    <!-- POST ITEM -->
                    <div class="blog-post-item col-md-4 col-sm-4">

                        <!-- OWL SLIDER -->
                        <div class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"items": 1, "autoPlay": 3000, "autoHeight": false, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "progressBar":"false"}'>
                            <div>
                                <img class="img-responsive" src="/assets/images/blog_images/tasting1.png" alt="">
                            </div>
                            <div>
                                <img class="img-responsive" src="/assets/images/blog_images/tasting2.png" alt="">
                            </div>
                        </div>
                        <!-- /OWL SLIDER -->

                        <h2><a href="/blog/Cocoa-Couriers-First-Annual-Tasting-Event">CocoaCouriers 1st Annual..</a></h2>

                        <ul class="blog-post-info list-inline">
                            <li>
                                <i class="fa fa-clock-o"></i>
                                <span class="font-lato">December 10, 2015</span>
                            </li>
                        </ul>

                        <p>The first annual CocoaCouriers tasting event is put together for our customers as a way to input their feedback on our abr selection over the next year by tasting and rating the newest creations on the market.</p>
                        <a href="/blog/Cocoa-Couriers-First-Annual-Tasting-Event" class="btn btn-reveal btn-default">
                            <i class="fa fa-plus"></i>
                            <span>Read More</span>
                        </a>

                    </div>
                    <!-- /POST ITEM -->

                    <!-- POST ITEM -->
                    <div class="blog-post-item col-md-4 col-sm-4">

                        <!-- OWL SLIDER -->
                        <div class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"items": 1, "autoPlay": 3000, "autoHeight": false, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "progressBar":"false"}'>
                            <div>
                                <img class="img-responsive" src="/assets/images/blog-why-cost-so-much.png" alt="">
                            </div>
                            <div>
                                <img class="img-responsive" src="../assets/images/blog-why-cost-so-much-2.png" alt="">
                            </div>
                        </div>
                        <!-- /OWL SLIDER -->

                        <h2><a href="/blog/Why-Does-Chocolate-Cost-So-Much">Why Does Chocolate Cost So Much</a></h2>

                        <ul class="blog-post-info list-inline">
                            <li>
                                <i class="fa fa-clock-o"></i>
                                <span class="font-lato">December 10, 2015</span>
                            </li>
                        </ul>

                        <p>I’m sure we’re all pretty familiar with the days where we could go to the corner store and get a king sized mars bar for 75 cents.
                            Fast forward 20 years and we are at a time where chocolate prices have begun to spike higher and higher and the trend continues as we move forward.</p>
                        <a href="/blog/Why-Does-Chocolate-Cost-So-Much" class="btn btn-reveal btn-default">
                            <i class="fa fa-plus"></i>
                            <span>Read More</span>
                        </a>

                    </div>
                    <!-- /POST ITEM -->



                    <!-- POST ITEM -->
                    <!--<div class="blog-post-item col-md-4 col-sm-4">

                        <!-- OWL SLIDER -->
                        <!--<div class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"items": 1, "autoPlay": 3000, "autoHeight": false, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "progressBar":"false"}'>
                            <div>
                                <img class="img-responsive" src="../assets/images/blog_images/box1-image-1.png" alt="">
                            </div>
                            <div>
                                <img class="img-responsive" src="../assets/images/blog_images/box1-image-2.png" alt="">
                            </div>
                        </div>
                        <!-- /OWL SLIDER -->

                        <!--<h2><a href="/blog/month-1-box">December 2015 Box Review</a></h2>

                        <ul class="blog-post-info list-inline">
                            <li>
                                <i class="fa fa-clock-o"></i>
                                <span class="font-lato">December 22, 2015</span>
                            </li>
                        </ul>

                        <p>These are very exciting times for Cocoa Couriers with the launch of our First Months Box of Artisan Chocolate.
                            We have four different companies in this first box, and here is a little bit about...</p>
                        <a href="/blog/month-1-box" class="btn btn-reveal btn-default">
                            <i class="fa fa-plus"></i>
                            <span>Read More</span>
                        </a>
                    </div>
                    <!-- /POST ITEM -->

                </div>
            </div>
        </section>

        <%- include templates/footer.ejs %>

    </div>

</body>
</html>