<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
        <%- include templates/head.ejs %>
	</head>

	<body class="smoothscroll enable-animation">

		<!-- wrapper -->
		<div id="wrapper">

            <!-- Include the header template -->
            <%- include templates/header.ejs %>

            <div class="col-md-6 padding-0">
                <img class="img-responsive" src="/assets/images/typewriter.png" alt="contactus typewriter"/>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <h1 class="margin-top-60 text-center font-muli">Hit us Up!</h1>
                        <h4 class="text-center font-playfair">Send us a message, <br/>Or just say Hi!<br/><br/>
                            <a href="mailto:info@cocoacouriers.com">
                                <span class="color-emerald-green">info@cocoacouriers.com</span>
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-3 col-sm-12 col-md-6 margin-top-60 text-center">
                        <h2 class="font-muli">The Social Stuff!</h2>
                        <div class="col-xs-12 col-sm-3 text-center">
                            <a href="https://www.pinterest.com/Cocoa_Couriers/"><i class="icon icon-pinterest icon-5x"></i></a>
                        </div>
                        <div class="col-xs-12 col-sm-3 text-center">
                            <a href="https://www.facebook.com/cocoacouriers/"><i class="icon icon-facebook icon-5x"></i></a>
                        </div>
                        <div class="col-xs-12 col-sm-3 text-center">
                            <a href="https://twitter.com/CocoaCouriers"> <i class="icon icon-twitter icon-5x"></i></a>
                        </div>
                        <div class="col-xs-12 col-sm-3 text-center">
                            <a href="https://www.instagram.com/cocoacouriers/"><i class="icon icon-instagram icon-5x"></i></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-12 padding-0">
                <!-- INSTANSIVE WIDGET --><script src="//instansive.com/widget/js/instansive.js"></script><iframe src="//instansive.com/widgets/6f7d16825aa28a488bdef2ebe62af4b98bc0eff1.html" id="instansive_6f7d16825a" name="instansive_6f7d16825a" scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
            </div>

        </div>

        <!-- Include the header template -->
        <%- include templates/footer.ejs %>

	</body>
</html>