<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->

<head>
    <%- include templates/head.ejs %>
</head>

<body class="smoothscroll enable-animation font-spin">

    <!-- wrapper -->
    <div id="wrapper">

        <!-- Include the header template -->
        <%- include templates/header.ejs %>

        <div class="row">
            <div class="col-sm-12 text-center margin-top-60">
                <h1 class="font-cursive small-line">Meet Our Makers</h1>
                <h4>We add new makers all the time so be sure to check back!</h4>
                <hr/>
            </div>
        </div>

        <!-- -->
        <section>
            <div class="container">

                <div class="row"><!-- item -->
                    <div class="col-md-2"><!-- company logo -->
                        <img src="/assets/images/partners/acalli.png" class="img-responsive" alt="company logo">
                    </div>
                    <div class="col-md-10"><!-- company detail -->
                        <h4 class="margin-bottom-10">Acalli Chocolate</h4>
                        <p>The name Acalli (ah-CALL-ee) means “canoe” in Nahuatl, the same language that gave us the word “chocolate.” This Artisan maker is based out of New Orleans in the USA but sorces their cacao through direct relationships with farmers in South America. </p>
                    </div>
                </div><!-- /item -->

                <hr />

                <div class="row"><!-- item -->
                    <div class="col-md-2"><!-- company logo -->
                        <img src="/assets/images/partners/brasstown.png" class="img-responsive" alt="company logo">
                    </div>
                    <div class="col-md-10"><!-- company detail -->
                        <h4 class="margin-bottom-10">Brasstown Chocolate</h4>
                        <p>Brasstown calls North Carolina home, established by Rom Still and Barbara Price they have quickly been taking the chocolate world by storm, winning multiple international chocolate awards within 2014 and 2015! </p>
                    </div>
                </div><!-- /item -->

                <hr />

                <div class="row"><!-- item -->
                    <div class="col-md-2"><!-- company logo -->
                        <img src="/assets/images/partners/habitual.png" class="img-responsive" alt="company logo">
                    </div>
                    <div class="col-md-10"><!-- company detail -->
                        <h4 class="margin-bottom-10">Habitual Chocolate</h4>
                        <p>Habitual Chocolate is one of the best artisan chocolate makers located in Woodstock, Ontario, Canada. These handmade bars are crafted with precision and sold at many market locations in and around Woodstock and London Ontario.</p>
                    </div>
                </div><!-- /item -->

                <hr />

                <div class="row"><!-- item -->
                    <div class="col-md-2"><!-- company logo -->
                        <img src="/assets/images/partners/hello_cocoa.png" class="img-responsive" alt="company logo">
                    </div>
                    <div class="col-md-10"><!-- company detail -->
                        <h4 class="margin-bottom-10">Hello Cocoa</h4>
                        <p>Hello Cocoa is a pioneer of bean to bar chocolate located in Fayetteville, Arkansas, USA. They make several delicious lines of bars and are an up and coming star in the chocolate world.</p>
                    </div>
                </div><!-- /item -->

                <hr />

                <div class="row"><!-- item -->
                    <div class="col-md-2"><!-- company logo -->
                        <img src="/assets/images/partners/kyya.png" class="img-responsive" alt="company logo">
                    </div>
                    <div class="col-md-10"><!-- company detail -->
                        <h4 class="margin-bottom-10">Kyya</h4>
                        <p>One of the fastest growing chocolate makers in the USA Kyya chocolate is making huge waves in the chocolate scene. Located in Elm Springs, Arkansas
                        they import their beans directly from the farmers and ensure the quality of the beans are top notch. Kyya has been making a huge variety of chocolate infused
                        with so many delightful flavors such as pumpkin spice and Chai Tea.</p>
                    </div>
                </div><!-- /item -->
                <hr />

                <div class="row"><!-- item -->
                    <div class="col-md-2"><!-- company logo -->
                        <img src="/assets/images/partners/letterpress.png" class="img-responsive" alt="company logo">
                    </div>
                    <div class="col-md-10"><!-- company detail -->
                        <h4 class="margin-bottom-10">Letterpress Chocolate</h4>
                        <p>Letterpress is a great artisan maker located in LA, California and features single-origin and many times single farm cacao in their bars. They are true experts in sourcing ethical product and helping develop their farmer's quality of life.
                        Their chocolate speaks volumes about their passion and we know you will love it too!</p>
                    </div>
                </div><!-- /item -->
                <hr />

                <div class="row"><!-- item -->
                    <div class="col-md-2"><!-- company logo -->
                        <img src="/assets/images/partners/marsatta-chocolate.png" class="img-responsive" alt="company logo">
                    </div>
                    <div class="col-md-10"><!-- company detail -->
                        <h4 class="margin-bottom-10">Marsatta Chocolate</h4>
                        <p>Located in Rodondo Beach, California Marsatta has been working with chocolate for many years and has perfected the art. Jeffray Gardner the owner of Marsatta has
                        been an inspiration to the people around him and was sponsored by the LA Kings association on his kickstarter campaign.  </p>
                    </div>
                </div><!-- /item -->
                <hr />

                <div class="row"><!-- item -->
                    <div class="col-md-2"><!-- company logo -->
                        <img src="/assets/images/partners/maverick.png" class="img-responsive" alt="company logo">
                    </div>
                    <div class="col-md-10"><!-- company detail -->
                        <h4 class="margin-bottom-10">Maverick Chocolate</h4>
                        <p>Maverick is a family owned and operated bean-to-bar chocolate maker located in Cincinnati, OH and has won multiple awards for their chocolate. Their product lines include
                        multiple infusions which incorporate subtle flavors such as lemon and vanilla. Their beautiful factory store is a must see when visiting Cincinnati.</p>
                    </div>
                </div><!-- /item -->
                <hr />

                <div class="row"><!-- item -->
                    <div class="col-md-2"><!-- company logo -->
                        <img src="/assets/images/partners/pitchdark.png" class="img-responsive" alt="company logo">
                    </div>
                    <div class="col-md-10"><!-- company detail -->
                        <h4 class="margin-bottom-10">Pitch Dark Chocolate</h4>
                        <p>A Portland, Oregon crafter compelled to forge a new yet authentic manner for understanding chocolate. From initial roasting to
                            final packaging, every aspect of production is carefully considered to ensure the ultimate tasting experience for the everyday connoisseur.
                            Combining proven old-world methods with new and innovative technology, Pitch Dark assures the best practices to highlight the
                            character and personality of their handpicked single origin cocoa beans</p>
                    </div>
                </div><!-- /item -->
                <hr />

                <div class="row"><!-- item -->
                    <div class="col-md-2"><!-- company logo -->
                        <img src="/assets/images/partners/raaka.png" class="img-responsive" alt="company logo">
                    </div>
                    <div class="col-md-10"><!-- company detail -->
                        <h4 class="margin-bottom-10">Rakka Chocolate</h4>
                        <p>This Brooklyn, NY producer is beautifully branded and makes some of the most amazing chocolate New York has to offer. They are committed to supporting the farmers
                        from which they buy their cacao beans. </p>
                    </div>
                </div><!-- /item -->
                <hr />

                <div class="row"><!-- item -->
                    <div class="col-md-2"><!-- company logo -->
                        <img src="/assets/images/partners/ritual.png" class="img-responsive" alt="company logo">
                    </div>
                    <div class="col-md-10"><!-- company detail -->
                        <h4 class="margin-bottom-10">Ritual Chocolate</h4>
                        <p>Located in Park City, Utah, Ritual Chocolate handcrafts small batch, bean-to-bar chocolate using the early traditions of chocolate making to bring together
                            old European methods with a modern American style.
                            Founded in 2010 by Robbie Stout and Anna Davies,
                            their mission is to produce exceptional quality chocolate while celebrating the complexity of the cacao bean.
                            </p>
                    </div>
                </div><!-- /item -->

                <hr />

                <div class="row"><!-- item -->
                    <div class="col-md-2"><!-- company logo -->
                        <img src="/assets/images/partners/robert.png" class="img-responsive" alt="company logo">
                    </div>
                    <div class="col-md-10"><!-- company detail -->
                        <h4 class="margin-bottom-10">Chocolaterie Robert</h4>
                        <p>One of the most long running chocolate businesses we work with, Chocolaterie Robert has been in business since 1940 operating in Madagascar, Africa. They distribute chocolate through out europe but you wil be
                            hard pressed to find their chocolate in North America...Just yet!</p>
                            <p>
                            Robert has won many international chocolate awards and boasts some of the most outstanding flavor profiles around.

                           </p>
                    </div>
                </div><!-- /item -->

                <hr />

                <div class="row"><!-- item -->
                    <div class="col-md-2"><!-- company logo -->
                        <img src="/assets/images/partners/soulroasters.png" class="img-responsive" alt="company logo">
                    </div>
                    <div class="col-md-10"><!-- company detail -->
                        <h4 class="margin-bottom-10">Soul Roasters</h4>
                        <p>This fast growing Toronto chocolate maker is making some fantastic chocolate you absolutely have to try. They are located in many small shops around Toronto and
                            pair very well with coffee. </p>
                    </div>
                </div><!-- /item -->
                <hr />

                <div class="row"><!-- item -->
                    <div class="col-md-2"><!-- company logo -->
                        <img src="/assets/images/partners/vintage_plantations.png" class="img-responsive" alt="company logo">
                    </div>
                    <div class="col-md-10"><!-- company detail -->
                        <h4 class="margin-bottom-10">Vintage Plantations</h4>
                        <p>Vintage Plantations harvests, ferments, and dries their cocoa at the plantation using native heirloom beans exclusively from sustainable cocoa farms.
                            They roast their own cocoa to maintain high levels of antioxidants and preserve the aroma of
                            Ecuador's "nacional" cocoa.</p>
                    </div>
                </div><!-- /item -->

            </div>
        </section>
        <!-- / -->

        <!-- Include the header template -->
        <%- include templates/footer.ejs %>

    </div>

</body>
</html>