<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>
    <%- include templates/head.ejs %>

    <link rel="stylesheet" href="/assets/plugins/spinner/spinner.css" />
</head>

<body class="smoothscroll enable-animation font-spin ng-cloak" ng-app="subscribe" ng-controller="signupCtrl" ng-cloak>

    <!-- wrapper -->
    <div id="wrapper">

        <!-- Include the header template -->
        <%- include templates/header.ejs %>

        <div class="container">

            <div ng-include="templateUrl"></div>

            <div class="row">
                <div class="col-sm-12 text-center"><h1 class="font-cursive">We Love Our Partners!</h1></div>
            </div>
            <div class="text-center margin-top-10 margin-bottom-100">
                <div class="owl-carousel nomargin" data-plugin-options='{"singleItem": false, "autoPlay": true}'>
                    <div>
                        <img class="img-responsive" src="/assets/images/partners/acalli.png" alt="">
                    </div>
                    <div>
                        <img class="img-responsive" src="/assets/images/partners/brasstown.png" alt="">
                    </div>
                    <div>
                        <img class="img-responsive" src="/assets/images/partners/habitual.png" alt="">
                    </div>
                    <div>
                        <img class="img-responsive" src="/assets/images/partners/hello_cocoa.png" alt="">
                    </div>
                    <div>
                        <img class="img-responsive" src="/assets/images/partners/kyya.png" alt="">
                    </div>
                    <div>
                        <img class="img-responsive" src="/assets/images/partners/ritual.png" alt="">
                    </div>
                    <div>
                        <img class="img-responsive" src="/assets/images/partners/starchild.png" alt="">
                    </div>
                    <div>
                        <img class="img-responsive" src="/assets/images/partners/pitchdark.png" alt="">
                    </div>
                </div>
                <div class="margin-top-30">
                    <a href="/blog" class="btn btn-3d btn-lg wow fadeInUp btn-primary" data-wow-delay="0.59"><i class="glyphicon glyphicon-user"></i>Learn More</a>
                </div>
            </div>

        </div>
        <!-- /Container -->


        <!-- Include the header template -->
        <%- include templates/footer.ejs %>

    </div>


    <script type="text/javascript" src="/assets/plugins/angular/angular.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/bootstrap/js/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script type="text/javascript" src="/subscribe-app/subscribe-app.js"></script>

</body>
</html>