<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->

<head>
    <%- include templates/head.ejs %>
</head>

<body class="smoothscroll enable-animation font-spin">

<!-- wrapper -->
<div id="wrapper">

    <!-- Include the header template -->
    <%- include templates/header.ejs %>

    <section class="page-header page-header-xs">
        <div class="container">
            <h1 class="text-center">COCOA COURIERS TERMS AND CONDITIONS</h1>
            <hr/>
        </div>
    </section>

    <section>
        <div class="container">

            <div class="col-xs-12">
                <p>
                    PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY PRIOR TO USING THIS

                    WEBSITE AND ITS SERVICES. THESE TERMS AND CONDITIONS ARE APPLICABLE TO YOU

                    UPON YOUR ACCESSING THE SITE AND THEY CONTAIN IMPORTANT INFORMATION

                    ABOUT YOUR RIGHTS AND OBLIGATIONS, AS WELL AS LIMITATIONS AND EXCLUSIONS

                    THAT MAY APPLY TO YOU.
                </p>

                <h4>
                    ACCEPTANCE OF TERMS (“AGREEMENT”)
                </h4>
                <p>
                    Welcome to www.CocoaCouriers.com (the “Website”), owned and operated by 916290 Canada Inc.,

                    doing business as, Cocoa Couriers (“Cocoa Couriers” or “the Company”) The following terms and

                    conditions (the “Terms”) are the sole Terms of the Company and apply to all content contained within the

                    Company’s Website.

                    By accessing and using the Cocoa Couriers Website, by ordering services or products sold on this

                    Website and associated pages (collectively, the “Services”) and/or by indicating your acceptance below,

                    you (“you” or “user”) acknowledge that you have read, accepted and agreed to be bound by all the Terms

                    set forth herein. Access to and use of the Cocoa Couriers Website and its Services are provided subject to

                    your approval, acceptance and agreement of these Terms. If you do not approved, accepted or agreed to

                    these Terms you should immediately terminate your access to and use of the Website and the Services.
                </p>
                <p>
                    <strong>
                        Note that all of the Terms are subject to the laws of the place where you live, and some of them

                        might not be binding on you under those laws.
                    </strong>
                </p>

                <h4>
                    MODIFICATION
                </h4>
                <p>
                    Cocoa Couriers reserves the right to, at any time and for any reason, review, modify, supplement and/or

                    discontinue these Terms, in whole or in part, including any Services (including products) offered, as it

                    sees fit and without notice or liability to you or any other person, and the Company will amend these

                    Terms to reflect any changes at any time and within its sole discretion.  It is your responsibility to check

                    back frequently to read the most recent version of these Terms and discontinue your use of the Website if

                    you do not accept the changes.  The Company will not be held liable or responsible, directly or indirectly,

                    to any user for any loss or damage of any kind sustained as a result of any such modifications,

                    suspensions or discontinuances.  These Terms were last modified on April 4, 2016.
                </p>

                <h4>
                    PROPRIETARY RIGHTS AND USE OF WEBSITE
                </h4>
                <p>
                    Cocoa Couriers retains all rights protected by copyright, trademark, trade name and other proprietary

                    rights and laws, whether registered or unregistered. This proprietary information and its corresponding

                    rights cover all portions of the Website, including but not limited to any and all related site design, words,

                    logos, phrases, text, photographic and digitally generated images, code and the collection and

                    arrangement thereof affiliated with Cocoa Couriers and its Services. These proprietary rights further

                    extend to the textual content of all blogs published on the Website, and the authors of these blogs retain

                    all additional proprietary rights to the content contained within their respective blogs, including but not

                    limited to text and all photographic and digitally generated images contained therein.
                </p>
                <p>
                    Cocoa Couriers permits all users of the Website to electronically view, download, copy and print the

                    materials and subject matter provided on the Website, including but not limited to invoices, receipts,

                    product information and Account (as defined below) details, but such permission is granted solely and

                    exclusively for the user’s personal use and only in connection with such user registering an Account with

                    the Company, placing an order to purchase or using any Services (including products). Nothing in these

                    Terms or on this Website will be construed as granting or conferring, either expressly, by implication or

                    otherwise, a licence or other right to a user to use any proprietary information belonging to the Company.
                </p>
                <p>
                    Any use of proprietary information for commercial purposes, copying, selling, licencing, public

                    performing, public displaying, editing, adapting, distributing, reproducing, re-transmitting, modifying,

                    republication, reverse engineering, creating of derivative works or any and all other such exploitation and

                    unauthorized use, in whole or in part, of this Website and this Website’s content or materials without the

                    prior permission and authorization of Cocoa Couriers is strictly prohibited and may constitute

                    infringement of the Company’s proprietary rights. Cocoa Couriers reserves the right to take any action it

                    deems necessary to restrain, cease and reprimand any and all such unauthorized or prohibited activity,

                    including legal action. The Company reserves the right, at its sole discretion, to terminate any user’s

                    rights and access to the Website and the Services provided therein, at any time and without any prior

                    notice. You are solely and fully responsible for all consequences, however remote, resulting from your

                    use of this Website or the Services.
                </p>
                <p>
                    At times, this Website may refer to the proprietary rights of third parties, including but not limited to the

                    copyrights, names, trade names and trademarks of manufacturers and/or “Our Partners” and their products

                    and services, social media channels (including without limitation, Facebook, Twitter, Pinterest, Instagram

                    or Snapchat) and financial institutions and services (including without limitation, VISA, Mastercard,

                    American Express, Discover). All proprietary rights, names, trade names and trademarks of these

                    applicable third parties are those of their corresponding owners. Cocoa Couriers prohibits any

                    unauthorized use of the trademarks or trade names of any third parties.  The Company will not be held

                    liable for any unauthorized use of any third party proprietary materials.
                </p>

                <h4>
                    USER PARTICIPATION DISCLAIMER
                </h4>
                <p>
                    Cocoa Couriers reserves the right to refuse service to any user for any reason and at any time.
                </p>
                <p>
                    Cocoa Couriers is not in any manner responsible for the content of any communications and materials

                    posted to or created by users accessing the site (“User Content”), including any product reviews.  The

                    Company does not screen, edit or review User Content before it is posted to the Website. Please note that

                    User Content does not necessarily reflect the views of the Company, and the Company disclaims all

                    responsibility for any User Content and for any losses or expenses resulting from its use or appearance on

                    the Website.
                </p>
                <p>
                    If any User Content is found to be abusive, obscene, defamatory, fraudulent, threatening, invasive of

                    privacy rights, libelous, deceptive, misleading, offensive, in violation of any intellectual property rights,

                    constitutes harassment, or found to be inappropriate or objectionable in any other way, Cocoa Couriers

                    reserves the right to remove or block such User Content.
                </p>
                <p>
                    If you provide User Content, you grant the Company a non-exclusive, royalty-free, perpetual, irrevocable,

                    and fully sub-licensable right to use and commercialize such User Content in any way and for any

                    purpose without providing any compensation to you or any other person.  You also grant the Company

                    the right to use the name you submit with the User Content, if any, in connection with the Company’s

                    rights herein.
                </p>

                <h4>
                    DESCRIPTION AND CONDITIONS OF SERVICES
                </h4>
                <p>
                    Cocoa Couriers offers monthly delivery services, by subscription (“Subscription Services”), of premium

                    artisan <strong>[chocolate]</strong> bars (the “products”) manufactured by the third parties list in the “Our Partners” page

                    of this Website.  Subscription Services are not mandatory and all products may be purchased on a one-

                    time basis. All services are offered exclusively online through the Website. All Subscription Services

                    automatically renew unless cancelled (see below cancellation policy) and are offered in various payment

                    increments, including without limitation, 1 month, 3 months and 6 months payment increments.

                    Purchasers may choose the increment that best fits their needs.
                </p>
                <h5>
                    <i>Automatic Re-Billing</i>
                </h5>
                <p>
                    All Subscription Services, no matter the increment, are subject to automatic re-billing. All Subscription

                    Services are automatically re-billed on the date (the “Subscription Re-Billing Date”) which is either the

                    15th day of each month if the payment increments are 1 month apart, or the 15th day of the first month of

                    each period if the payment increments are either 3 or 6 month apart.  All boxes subject to Subscription

                    Services are packaged and shipped on or shortly after the 15th day of each month.
                </p>
                <p>
                    BY PURCHASING SUBSCRIPTION SERVICES, YOU ACCEPT RESPONSIBILITY FOR THESE

                    RECURRING AUTOMATIC RE-BILLING CHARGES, PRIOR TO YOUR CANCELLATION. YOU,

                    AS A USER OF SUBSCRIPTION SERVICES, HEREBY AUTHORIZE COCOA COURIERS TO BILL

                    YOUR APPLICABLE CREDIT CARD FOR EACH AUTOMATIC RENEWAL.
                </p>
                <h5>
                    <i>Cancellation Policy</i>
                </h5>
                <p>
                    All Subscription Services may be cancelled at any time and for any reason by sending an email to the

                    Company at <a href="mailto:info@cocoacouriers.com">info@cocoacouriers.com</a>, setting out your intention to cancel the Subscription Services.

                    Cancellation requests must be submitted to Cocoa Couriers <strong>before</strong> the next applicable Subscription Re-

                    Billing Date. Submission is acknowledged and considered received as at the time such notice arrives in

                    the Company’s electronic Inbox. THIS TIMELINE IS STRICTLY ENFORCED. IT IS YOUR

                    RESPONSIBILITY TO ENSURE THIS TIMELINE IS ADHERED TO. Cocoa Couriers reserves the

                    right to refuse any refund requests on Subscription Services that are received <strong>on or after</strong> the Subscription

                    Re-Billing Date.
                </p>
                <h5>
                    <i>Cocoa Couriers Online Account Responsibilities</i>
                </h5>
                <p>
                    When you place an order on this Website you will create a Cocoa Couriers online account (“Account”)

                    which will use your email address as a username and you will be asked to provide a password.  All

                    holders of an Account are solely responsible for maintaining the confidentiality and accuracy of the

                    Account information, include all passwords and personal information, and all holders of an Account are

                    solely responsible for any and all activity that occurs under the Account. Should any Account information

                    change, it is the user’s exclusive responsibility to update the Account to reflect any applicable

                    modifications, and Cocoa Couriers does not accept any responsibility for any inaccurate Account

                    information as it reflects a particular user. Individuals under 18 years of age cannot order Services

                    (including products) or set up an Account for this Website.
                </p>
                <p>
                    Do not share your Account information with any person or permit any other person to use your Account.

                    Any unauthorized use of an Account or breach of Account security, suspected or otherwise, must be

                    immediately brought to the attention of Cocoa Couriers by sending an email to <a href="mailto:info@cocoacouriers.com">info@cocoacouriers.com</a>

                    describing the unauthorized use or breach of the Account. The Company will do its best to address

                    unauthorized Account use as it sees fit, and the Company cannot and will not be held liable for any

                    damage or loss arising from a user’s failure to comply with these requirements.
                </p>
                <h5>
                    <i>Product Availability</i>
                </h5>
                <p>
                    All products in stock will be listed on the Website and correspondingly capable of being added to a cart

                    for purchase. If a product is not in stock, the Company will use commercially reasonable efforts to list it

                    on the Website as “out of stock”. Cocoa Couriers will strive to fulfill all placed orders. However, due to

                    factors outside the Company’s control, products may not be available from time to time. The Company

                    will not be held responsible for any products that are not available at the time of purchase and the

                    Company does not guarantee the timeline for when a product that is out of stock to be back in stock and

                    available for purchase. Your patience and cooperation is appreciated.
                </p>

                <h4>
                    PRIVACY POLICY
                </h4>
                <p>
                    The information that a user provides are part of their Account, through placing an order, or any other

                    information provided to the Company through this Website, is subject to the Company’s Privacy Policy

                    You confirm that you have read and understand the Privacy Policy and acknowledge that the terms of the

                    Privacy Policy are incorporated into these Terms, and you agree that the terms of the Privacy Policy are

                    reasonable.  You consent to the collection, use and disclosure of your personal information by the

                    Company in accordance with the terms of and for the purposes set out in the Company’s Privacy Policy.
                </p>

                <h4>
                    DISCLAIMERS
                </h4>
                <p>
                    Use of this Website and its Services (including products) are at a users’ own risk. All products on this

                    Website are provided on an “AS IS” and “AS AVAILABLE” basis. Cocoa Couriers disclaims all

                    warranties, conditions and representations, whether statutory, express, implied or otherwise, to the

                    absolute fullest extent permitted by the applicable law, including but not limited to all warranties of

                    merchantability, non-infringement, durability, merchantable quality and fitness for a particular purpose.
                </p>
                <h5>
                    <i>Product Information</i>
                </h5>
                <p>
                    Cocoa Couriers has made reasonable efforts to accurately display product opinions, descriptions and

                    specifications on the Website, including but not limited to information on manufacturers, makers, maker

                    locations, ingredient origins, cocoa bean origins, cocoa percentages, weights, general ingredients, taste,

                    colour, nutrition facts, nutritional information and flavour profiles. The accuracy of all product

                    specifications is exclusively the responsibility of the third party manufacturers of each applicable product.

                    Cocoa Couriers relies on the information provided by these third party manufacturers and the Company

                    will not be held liable for any inaccurate or misleading product information of any kind, however

                    expressed.
                </p>
                <p>
                    To the best of the Company’s knowledge and awareness, products are certified Organic and Fair Trade.

                    To the extent that it is discovered any products are not certified Organic and Fair Trade, Cocoa Couriers

                    will not be held responsible for these inconsistencies.
                </p>
                <h5>
                    <i>Consumption Risks</i>
                </h5>
                <p>
                    All product information is general in nature and does not constitute nor replace any medical or

                    professional advice. Consumption and use of all products available on the Website are at a users’ own

                    risk. Consumption includes but is not limited to the eating, ingestion and digestion of all products.
                </p>
                <p>
                    Cocoa Couriers will not be held responsible for any damages (as defined below) resulting from the use

                    and consumption of products, including but not limited to damages arising from any and all dietary and

                    allergenic circumstances, even if Cocoa Couriers has been advised of the possibility of such damages. If a

                    user is personally concerned about any consumption risks, such user should consult a professional prior to

                    consumption.
                </p>
                <h5>
                    <i>Functionality of Website</i>
                </h5>
                <p>
                    Cocoa Couriers has made every reasonable effort possible to display colors, images and product

                    information accurately and legibly, and as precisely as such display would appear offline to the human

                    eye. The Company does not guarantee that an individual users’ digital display setting will accurately

                    display this information and Cocoa Couriers will not be held responsible for any inconsistency between

                    online abstract images and the affiliated physical product of same.
                </p>
                <p>
                    The Company does not represent or warrant that the functions contained on the Website nor that the

                    transmission of all information contained therein will be sent securely, uninterrupted, free of errors, and

                    free of viruses, worms or other intrusive and harmful digital components. The Company will not be held

                    responsible for the transmission of information that may result in any of these aforementioned matters,

                    nor does the Company guarantee that defects will be corrected. The Company is not responsible for any

                    components of the Website that are not compatible with a users’ computer and corresponding software,

                    nor will the Company be held responsible for any damage that may result to a users’ computer system,

                    electronic files, media and software from use of this Website.
                </p>
                <p>
                    For the purpose of these Terms, “damages” means any and all kinds of damages, whether direct, indirect,

                    consequential, incidental, special, compensatory or punitive damages.
                </p>

                <h4>
                    LIMITATIONS OF LIABILITY
                </h4>
                <p>
                    IF THE COMPANY SHOULD BE FOUND LIABLE FOR ANY LOSS OR DAMAGE WHICH

                    ARISES OUT OF OR IS IN ANY WAY CONNECTED WITH ANY OF THE FUNCTIONS OR USES

                    OF THE WEBSITE OR ITS CONTENT, OR ANY OF THE SERVICES (INCLUDING PRODUCTS)

                    OFFERED ON THE WEBSITE, THE LIABILITY OF THE COMPANY WILL IN NO EVENT

                    EXCEED IN THE AGGREGATE THE AMOUNT PAID BY YOU UNDER THE TERMS FOR THE

                    SPECIFIC PRODUCT TO WHICH THE LOSS OR DAMAGE RELATES.
                </p>
                <p>
                    IN NO EVENT WILL THE COMPANY BE LIABLE FOR ANY INJURY, LOSS, CLAIM, DAMAGE,

                    OR ANY SPECIAL, EXEMPLARY, PUNITIVE, DIRECT, INDIRECT, INCIDENTIAL,

                    COMPENSATORY OR CONSEQUENTIAL DAMAGES OF ANY KIND (INCLUDING BUT NOT

                    LIMITED TO ECONOMIC LOSS, LOST PROFITS OR LOST SAVINGS), WHETHER BASED IN

                    CONTRACT, TORT, STRICT LIABILITY, OR OTHERWISE, WHICH ARISES OUT OF OR IS IN

                    ANY WAY CONNECTED WITH ANY USE OF THE WEBSITE OR ITS CONTENT, THE

                    OPERATION OF THIS WEBSITE OR ANY FAILURE OR DELAY IN THE OPERATION OF THIS

                    WEBSITE (INCLUDING, BUT NOT LIMITED TO THE INABILITY TO USE ANY COMPONENT

                    OF THE WEBSITE FOR PURCHASE), OR ANY OF THE PRODUCTS OR SERVICES OFFERED

                    ON THE WEBSITE, EVEN IF ADVISED OF THE POSSIBILITY OF DAMAGES.
                </p>

                <h4>
                    PRICES, SHIPPING, RETURNS AND RISK OF LOSS
                </h4>
                <h5>
                    <i>Pricing and Payment Methods</i>
                </h5>
                <p>
                    All priced listed prior to Checkout are displayed in CAD or USS and do not include shipping charges, if

                    applicable, and taxes (including without limitation, HST, GST, PST or QST). Any applicable shipping

                    charges and taxes will be applied to final orders upon Checkout.
                </p>
                <p>
                    In the event a product price is inaccurately listed, Cocoa Couriers reserves the right to refuse or cancel

                    any orders that have been placed for such product, whether or not the order has been confirmed and a

                    user’s credit card has been charged. If a user’s credit card has been charged and the order is cancelled

                    because of an inaccurate price, Cocoa Couriers will credit the user’s credit card account in the amount of

                    the incorrect price as soon as is reasonably possible.
                </p>
                <p>
                    Cocoa Couriers reserves the right to restrict Payment Methods to those available on Checkout. All

                    payment is subject to the <a href="https://stripe.com/docs/security">Security Terms of Stripe</a>. IT IS YOUR SOLE RESPONSIBILITY TO REVIEW

                    AND BECOME COMFORTABLE WITH STRIPE’S SECURITY TERMS. Cocoa Couriers will not be

                    held responsible for any damages, losses, expenses or costs resulting from a user not complying with this

                    recommendation.
                </p>
                <h5>
                    <i>Shipping and Delivery</i>
                </h5>
                <p>
                    All Subscription Services and individual orders may be tracked after shipping has occurred through your

                    Account.  All shipments and deliveries will be sent to the applicable Shipping Address provided by users

                    upon confirming orders. IT IS A USER’S RESPONSIBILITY TO ENSURE THAT THE SHIPPING

                    ADDRESS PROVIDED ACCURATELY REFLECTS THE DESIRED DESTINATION FOR ORDERS.

                    Cocoa Couriers will not be held responsible for any inconsistencies and errors as a result of a user

                    providing an incorrect address or inaccurately indicating that a Shipping Address and Billing Address are

                    different.
                </p>
                <p>
                    Addresses for delivery may be changed at any time by either sending an email to

                    info@cocoacouriers.com requesting the address change, or if applicable, by logging into a users’

                    Account. Address change submissions must be submitted prior to a users’ next applicable renewal billing

                    charge date in order to affect an individual monthly shipment. If a Notice of Address Change is sent via

                    email, such notice is acknowledged and considered received as at the time the email arrives in the

                    info@cocoacouriers.com electronic Inbox or changed in the user’s Account. THIS TIMELINE IS

                    STRICTLY ENFORCED. IT IS THE USERS RESPONSIBILITY TO ENSURE THIS TIMELINE IS

                    ADHERED TO. Cocoa Couriers does not accept any responsibility for improperly shipped deliveries if

                    any notice to change address requests are received on or after the applicable date.
                </p>
                <h5>
                    <i>Return Policy</i>
                </h5>
                <p>
                    All orders are subject to the Company’s Return Policy stated below. You confirm that you have read and

                    understand the Return Policy, you acknowledge that the terms of the Return Policy are incorporated into

                    these Terms, and you agree that the terms of the Return Policy are reasonable. Cocoa Couriers will

                    guarantee your money back should the bars not make it to their destination. We use postal service

                    tracking as the primary resource to identify if the product has made it to its destination. This service is

                    managed by Canada Post and the United States Postal Service and is how we determine delivery. If the

                    products do not make it to you we will send you an equivalent replacement order or return your money,

                    whichever is desired by the customer. Please direct all issues to info@cocoacouriers.com and we will do

                    our best to make it right.
                </p>
                <p>
                    Due to perishable nature of the bars, we will not accept returns and are unable to cancel orders once they

                    are shipped. We do our best to protect your products from heat so in warmer months be sure to take your

                    products in quickly from the mailbox. We package our boxes with proprietary bio-degradable insulation

                    that enables to keep your product protected for multiple days, however leaving the box in direct sun for

                    extended periods of time can cause melting. We are unable to accept refunds when chocolate has melted.
                </p>
                <h5>
                    <i>Fraud Protection</i>
                </h5>
                <p>
                    Orders may be screened for any unauthorized or illegal action, including but not limited to any and all

                    fraudulent activity, suspected or otherwise. If the Company suspects fraudulent, illegal or unauthorized

                    activity has occurred through an order of any product, the Company reserves the right to refuse an order

                    or contact the entity that has purchased an order at the phone number, email address or address provided

                    in a user’s Account or upon confirming an order. Cocoa Couriers further reserves the right to cancel any

                    Accounts or refuse to ship orders to addresses because of suspected fraudulent, illegal or unauthorized

                    activity. Should legal action be required, Cocoa Couriers reserves the right to utilize any means necessary,

                    including employment of applicable law enforcement measures, to ensure fraudulent, illegal or

                    unauthorized activity is caught, contained and apprehended immediately.
                </p>

                <h4>
                    THIRD PARTY LINKS
                </h4>
                <p>
                    At times, other websites operated by third parties may be linked to this Website. Cocoa Couriers

                    maintains no control over these third party linked websites, even if the third party is affiliated with the

                    Company and its products, and Cocoa Couriers has not reviewed any of the content that may be contained

                    within these third party linked websites. Users of this Website are free to click on and access any and all

                    third party linked websites contained on this Website, and are doing so at the user’s own risk. Cocoa

                    Couriers maintains no control over the activities and services offered, privacy and data collection

                    practices of any third party linked websites and the Company will not be held liable for any

                    inconsistencies, issues or user conflicts that may arise from a user’s linking to these third party websites

                    and utilizing its services, whether that linking and utilization is voluntary or involuntary.
                </p>

                <h4>
                    SURVIVAL AND TERMINATION
                </h4>
                <p>
                    These Terms under the headings DISCLAIMERS, LIMITATION OF LIABILITY, and

                    INDEMNIFICATION shall survive the termination of your access to this Website,

                    www.CocoaCouriers.com.
                </p>
                <p>
                    If in Cocoa Couriers (in its sole discretion) knows or suspects a user has failed to comply with any

                    provision of the Terms, the Company reserves the right to immediately terminate any agreement between

                    the Company and the user, with or without notice, by any means necessary.
                </p>

                <h4>
                    GENERAL
                </h4>
                <p>
                    These Terms will be governed by the laws of the Province of Ontario, Canada and the federal laws of

                    Canada applicable in that province.  You consent and submit to the exclusive jurisdiction of the courts

                    located in the City of Toronto, Ontario, Canada, in all disputes arising out of or relating to the use of the

                    Website, these Terms, or the Company’s Services (including products).
                </p>
                <p>
                    These Terms will be severable.  In the event that any provision is determined to be unenforceable or

                    invalid, that provision will nonetheless be enforced to the fullest extent permitted by applicable law, and

                    that determination will not affect the validity or enforceability of any other remaining provisions of these

                    Terms.
                </p>
                <p>
                    These Terms, together with the policies incorporated by reference, constitute the entire agreement

                    between you and Cocoa Couriers relating to the subject matter hereof, and supersede any prior

                    understandings or agreements (whether electronic, oral or written).  These Terms may not be amended or

                    modified except by the Company as set out above.
                </p>

                <h4>
                    ELECTRONIC COMMUNICATION
                </h4>
                <p>
                    When you visit the Website or send emails to us, you are communicating with us electronically.  You

                    consent to receive communication from us electronically.  We will communicate with you by email or by

                    posting notices on the Website.  You agree that all agreements, notices, disclosures and other

                    communications that we provide to you electronically satisfy any legal requirement that such

                    communications be in writing.
                </p>

            </div>
        </div>
    </section>

    <!-- Include the header template -->
    <%- include templates/footer.ejs %>

</div>
</body>
</html>