<div class="row heading-title heading-dotted text-center margin-top-60">
    <h1 class="pricing-head" ng-show="formPage==1">
        Select the Package That Fits You
    </h1>
    <h1 class="pricing-head" ng-show="formPage==2">
        Shipping and Billing Details
    </h1>
    <h1 class="pricing-head" ng-show="formPage==3">
        Order Has Been Completed
    </h1>
</div>

<div class="row" ng-init="activeTab=1">

    <!-- Choose a plan -->
    <div ng-if="formPage==1">
        <ul class="nav nav-tabs nav-button-tabs">
            <li class="btn-lg" ng-class="{ 'active' : activeTab==1 }"><a href="" ng-click="activeTab=1">Subscription</a></li>
            <li class="btn-lg" ng-class="{ 'active' : activeTab==2 }"><a href="" ng-click="activeTab=2"><i class="glyphicon glyphicon-gift"></i>&nbsp;Gift</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane" ng-class="{ 'active' : activeTab==1 }">

                <div class="col-md-4 col-sm-4">
                    <div class="price-clean">
                        <h1 class="pricing-head">Pay Every 12 Months</h1>
                        <h4>
                            <sup>$</sup>30.99<em>/month</em>
                        </h4>
                        <h5> YEARLY </h5>
                        <hr />
                        <p>$371.88 Every Year</p>
                        <hr />
                        <p>Cancel Anytime</p>
                        <hr />
                        <p>Shipped On the 3rd Week of Each Month</p>
                        <hr />

                        <a href="" ng-disabled="formPlans.length==0" ng-click="selectPlan('annual_cad')" class="btn btn-3d btn-success btn-block btn-lg">SELECT</a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="price-clean">
                        <h1 class="pricing-head">Pay Every 3 Months</h1>
                        <h4>
                            <sup>$</sup>32.99<em>/month</em>
                        </h4>
                        <h5> QUARTERLY </h5>
                        <hr />
                        <p>$98.87 Every 3 Months</p>
                        <hr />
                        <p>Cancel Anytime</p>
                        <hr />
                        <p>Shipped On the 3rd Week of Each Month</p>
                        <hr />

                        <a href="" ng-disabled="formPlans.length==0" ng-click="selectPlan('quarterly_cad')" class="btn btn-3d btn-success btn-block btn-lg">SELECT</a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="price-clean">
                        <h1 class="pricing-head">Month to Month</h1>
                        <h4>
                            <sup>$</sup>34.99<em>/month</em>
                        </h4>
                        <h5> Month to Month </h5>
                        <hr />
                        <p>$34.99 Every Month</p>
                        <hr />
                        <p>Cancel Anytime</p>
                        <hr />
                        <p>Shipped On the 3rd Week of Each Month</p>
                        <hr />

                        <a href="" ng-disabled="formPlans.length==0" ng-click="selectPlan('monthly_cad')" class="btn btn-3d btn-success btn-block btn-lg">SELECT</a>
                    </div>
                </div>

            </div>

            <div class="tab-pane" ng-class="{ 'active' : activeTab==2 }">

                <div class="col-sm-3 col-sm-3">
                    <div class="price-clean">
                        <h1 class="pricing-head">12 Month Gift</h1>
                        <h4>
                            <sup>$</sup>30.99<em>/month</em>
                        </h4>
                        <h5> YEARLY </h5>
                        <hr />
                        <p>$371.88 Every Year</p>
                        <hr />
                        <p>Cancel Anytime</p>
                        <hr />
                        <p>Shipped On the 3rd Week of Each Month</p>
                        <hr />

                        <a href="" ng-disabled="formPlans.length==0" ng-click="selectPlan('annual_cad_gift')" class="btn btn-3d btn-success btn-block btn-lg"><i class="glyphicon glyphicon-gift"></i>Give a Gift</a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class="price-clean">
                        <h1 class="pricing-head">3 Month Gift</h1>
                        <h4>
                            <sup>$</sup>32.99<em>/month</em>
                        </h4>
                        <h5> QUARTERLY </h5>
                        <hr />
                        <p>$98.87 Every 3 Months</p>
                        <hr />
                        <p>Cancel Anytime</p>
                        <hr />
                        <p>Shipped On the 3rd Week of Each Month</p>
                        <hr />

                        <a href="" ng-disabled="formPlans.length==0" ng-click="selectPlan('quarterly_cad_gift')" class="btn btn-3d btn-success btn-block btn-lg"><i class="glyphicon glyphicon-gift"></i>Give a Gift</a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class="price-clean">
                        <h1 class="pricing-head">1 Month Gift</h1>
                        <h4>
                            <sup>$</sup>34.99<em>/month</em>
                        </h4>
                        <h5> Month to Month </h5>
                        <hr />
                        <p>$34.99 Every Month</p>
                        <hr />
                        <p>Cancel Anytime</p>
                        <hr />
                        <p>Shipped On the 3rd Week of Each Month</p>
                        <hr />

                        <a href="" ng-disabled="formPlans.length==0" ng-click="selectPlan('onetime_gift_cad')" class="btn btn-3d btn-success btn-block btn-lg"><i class="glyphicon glyphicon-gift"></i>Give a Gift</a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class="price-clean">
                        <h1 class="font-cursive">Holiday Gift Box</h1>
                        <hr/>
                        <h4>
                            <sup>$</sup>49.95
                        </h4>
                        <hr/>

                        <a href="" ng-disabled="formPlans.length==0" ng-click="selectPlan('holidaygiftbox_gift_cad')" class="btn btn-3d btn-success btn-block btn-lg">SELECT</a>
                    </div>
                </div>

            </div>
        </div>

    </div>


    <!-- Shipping Information -->
    <div ng-if="formPage==2">
        <form class="row clearfix" novalidate>
            <div class="col-lg-7 col-sm-7 margin-top-30">
                <div class="heading-title">
                    <h4>Shipping Address</h4>
                </div>

                <fieldset class="margin-top-30">
                    <div class="row">
                        <div class="col-lg-12 form-group" ng-class="{ 'has-error' : validationErrors.name }">
                            <label for="billing_firstname">Full Name *</label>
                            <input id="billing_firstname" name="billing[firstname]" type="text" class="form-control required" ng-model="userInfo.name" />
                            <p class="text-danger" ng-show="validationErrors.name">{{ validationErrors.name }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 form-group" ng-class="{ 'has-error' : validationErrors.address.line1 }">
                            <label for="billing_address1">Address *</label>
                            <input id="billing_address1" name="billing[address][]" type="text" class="form-control required" placeholder="Address 1" ng-model="userInfo.address.line1" />
                            <p class="text-danger" ng-show="validationErrors.address.line1">{{ validationErrors.address.line1 }}</p>

                            <input id="billing_address2" name="billing[address][]" type="text" class="form-control margin-top-10" placeholder="Address 2" ng-model="userInfo.address.line2" />
                            <p class="text-danger" ng-show="validationErrors.address.line2">{{ validationErrors.address.line2 }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 form-group" ng-class="{ 'has-error' : validationErrors.address.city }">
                            <label for="billing_city">City *</label>
                            <input id="billing_city" name="billing[city]" type="text" class="form-control required" ng-model="userInfo.address.city" />
                            <p class="text-danger" ng-show="validationErrors.address.city">{{ validationErrors.address.city }}</p>
                        </div>
                        <div class="col-md-6 col-sm-6 form-group" ng-class="{ 'has-error' : validationErrors.address.state }">
                            <label for="shipping_state">State/Province *</label>
                            <select id="shipping_state" class="form-control input-normal" ng-options="o as o.name for o in formOptions.provinces" ng-model="userInfo.address.state">
                            </select>
                            <p class="text-danger" ng-show="validationErrors.address.state">{{ validationErrors.address.state }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 form-group" ng-class="{ 'has-error' : validationErrors.address.postal_code }">
                            <label for="billing_zipcode">Postal/Zip Code *</label>
                            <input id="billing_zipcode" name="billing[zipcode]" type="text" class="form-control required" ng-model="userInfo.address.postal_code" />
                            <p class="text-danger" ng-show="validationErrors.address.postal_code">{{ validationErrors.address.postal_code }}</p>
                        </div>
                        <div class="col-md-6 col-sm-6" ng-class="{ 'has-error' : validationErrors.address.country }">
                            <label>Country *</label>
                            <select id="country" class="form-control input-normal" ng-options="o as o.name for o in formOptions.countries" ng-model="userInfo.address.country">
                            </select>
                            <p class="text-danger" ng-show="validationErrors.address.country">{{ validationErrors.address.country }}</p>
                        </div>
                    </div>

                </fieldset>

                <hr class="margin-top-60 margin-bottom-30"/>

                <div class="heading-title margin-top-60">
                    <h4>Billing Information</h4>
                </div>
                <fieldset class="margin-top-30">
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="fa fa-cc-visa fa-3x" ng-class="{ 'color-visa' : identifyCardType()==='visa', 'text-gray' : identifyCardType()!=='visa' }"></span>
                            <span class="fa fa-cc-mastercard fa-3x" ng-class="{ 'color-mastercard' : identifyCardType()==='mastercard', 'text-gray' : identifyCardType()!=='mastercard' }"></span>
                            <span class="fa fa-cc-amex fa-3x" ng-class="{ 'color-amex' : identifyCardType()==='amex', 'text-gray' : identifyCardType()!=='amex' }"></span>
                            <span class="fa fa-cc-discover fa-3x" ng-class="{ 'color-discover' : identifyCardType()==='discover', 'text-gray' : identifyCardType()!=='discover' }"></span>
                            <span class="fa fa-cc-diners-club fa-3x" ng-class="{ 'color-diners-club' : identifyCardType()==='diners-club', 'text-gray' : identifyCardType()!=='diners-club' }"></span>
                            <span class="fa fa-cc-jcb fa-3x" ng-class="{ 'color-jcb' : identifyCardType()==='jcb', 'text-gray' : identifyCardType()!=='jcb' }"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group" ng-class="{ 'has-error' : validationErrors.source.name }">
                            <label>Name On Card *</label>
                            <input type="text" class="form-control input-normal" id="chn" ng-model="userInfo.source.name">
                            <p class="text-danger" ng-show="validationErrors.source.name">{{ validationErrors.source.name }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group" ng-class="{ 'has-error' : validationErrors.source.number }">
                            <label>Card Number *</label>
                            <input type="text" class="form-control input-normal" id="chn" ng-model="userInfo.source.number">
                            <p class="text-danger" ng-show="validationErrors.source.name">{{ validationErrors.source.number }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 form-group" ng-class="{ 'has-error' : validationErrors.source.exp_month }">
                            <label>Expiry Month *</label>
                            <select id="exp_mon" class="form-control input-normal" ng-options="mon as mon.name for mon in formOptions.ccExp.month" ng-model="userInfo.source.exp_month">
                            </select>
                            <p class="text-danger" ng-show="validationErrors.source.exp_month">{{ validationErrors.source.exp_month }}</p>
                        </div>
                        <div class="col-md-6 col-sm-6 form-group" ng-class="{ 'has-error' : validationErrors.source.exp_year }">
                            <label>Expiry Year *</label>
                            <select class="form-control input-normal" id="exp_year" ng-model="userInfo.source.exp_year" ng-options="year for year in formOptions.ccExp.year">
                                <option ng-repeat="option in formOptions.ccExp.year" value="{{ option.id }}">{{ option.name }}</option>
                            </select>
                            <p class="text-danger" ng-show="validationErrors.source.exp_year">{{ validationErrors.source.exp_year }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 form-group" ng-class="{ 'has-error' : validationErrors.source.cvc }">
                            <label>CVV2 *</label>
                            <input type="text" class="form-control required" ng-model="userInfo.source.cvc" />
                            <p class="text-danger" ng-show="validationErrors.source.cvc">{{ validationErrors.source.cvc }}</p>
                        </div>
                        <div class="col-md-6 col-sm-6 form-group" ng-class="{ 'has-error' : validationErrors.source.address_zip }">
                            <label>Postal/Zip Code *</label>
                            <input type="text" class="form-control required" ng-model="userInfo.source.address_zip" />
                            <p class="text-danger" ng-show="validationErrors.source.address_zip">{{ validationErrors.source.address_zip }}</p>
                        </div>
                    </div>
                </fieldset>

                <hr class="margin-top-60 margin-bottom-30"/>

                <div class="heading-title">
                    <h4>Account Setup</h4>
                </div>
                <fieldset class="margin-top-60">
                    <div class="row">
                        <div class="col-md-6 col-sm-6" ng-class="{ 'has-error' : validationErrors.email }">
                            <label for="account_email">Email *</label>
                            <input id="account_email" name="billing[email]" type="text" class="form-control required" ng-model="userInfo.email" />
                            <p class="text-danger" ng-show="validationErrors.email">{{ validationErrors.email }}</p>
                        </div>
                        <div class="col-md-6 col-sm-6" ng-class="{ 'has-error' : validationErrors.password }">
                            <label for="account_password">Password *</label>
                            <input id="account_password" name="billing[email]" type="password" class="form-control required" ng-model="userInfo.password" />
                            <p class="text-danger" ng-show="validationErrors.password">{{ validationErrors.password }}</p>
                        </div>
                    </div>
                </fieldset>
                <p class="margin-top-20">We create a simple account for you, in case there is an issue with processing your payment, or your package destination address changes.</p>

                <hr class="margin-top-60 margin-bottom-30"/>

                <fieldset class="margin-top-60">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <label>Coupon Code</label>
                            <div class="input-group" ng-class="{ 'has-error' : validationErrors.couponCode }">
                                <input class="form-control" ng-model="misc.testCouponCode" />
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" ng-click="applyCoupon()">
                                        Apply
                                    </button>
                                </span>
                            </div>
                            <p class="text-danger" ng-show="validationErrors.couponCode">{{ validationErrors.couponCode }}</p>
                            <p class="text-success" ng-show="userInfo.subscription.couponCode.length>0">Successfully applied coupon!</p>
                        </div>
                    </div>
                </fieldset>

            </div>

            <div class="col-lg-5 col-sm-5">
                <div class="clearfix margin-top-30">
                    <div class="toggle-content">

                        <div class="heading-title">
                            <h4>Order Details</h4>
                        </div>

                        <div class="clearfix">
                            <h2 class="pull-left" style="margin-top:-10px;"><span class="label label-default">1x</span></h2>
                            <h4 class="pull-left margin-left-20"> {{ chosenPlan.cleanName }}</h4>
                            <h4 class="pull-right">$ {{ (chosenPlan.amount/100).toFixed(2) }}</h4>
                        </div>
                        <span class="clearfix">
                            <button type="submit" class="btn btn-xs btn-default margin-bottom-20 pull-right" ng-click="goBack(1)">Change Plan</button>
                        </span>
                        <span class="clearfix">
                            <span class="pull-right">- $ {{ misc.discount.toFixed(2) }}</span>
                            <span class="pull-left">Coupon Discount:  <em class="text-green" ng-show="misc.discount > 0">{{ userInfo.subscription.id }}</em></span>
                        </span>
                        <span class="clearfix">
                            <!-- <span class="pull-right" ng-show="userInfo.address.country.id!=='CA'">$ {{ misc.shippingCharge.toFixed(2) }}</span> -->
                            <span class="pull-right" ng-show="userInfo.address.country==''">$ 0.00</span>
                            <span class="pull-right" ng-hide="userInfo.address.country==''"><strong>FREE !</strong></span>
                            <span class="pull-left">Shipping:</span>
                        </span>

                        <hr />

                        <span class="clearfix">
                            <span class="pull-right">$ {{ ( (chosenPlan.amount/100) - misc.discount + misc.shippingCharge ).toFixed(2) }}</span>
                            <strong class="pull-left">Subtotal:</strong>
                        </span>
                        <span class="clearfix">
                            <span ng-show="userInfo.address.country.id==='CA'" class="pull-right">$ {{(tax.rate*( (chosenPlan.amount/100) - misc.discount + misc.shippingCharge)).toFixed(2) }}</span>
                            <span ng-show="userInfo.address.country.id==='CA'" class="pull-left">Tax {{ tax.desc }}:</span>
                            <span class="pull-left">&nbsp;</span>
                        </span>

                        <hr />

                        <span class="clearfix">
                            <span class="pull-right size-20">$ {{ ( (chosenPlan.amount/100) - misc.discount + misc.shippingCharge + parseFloat( (tax.rate*( (chosenPlan.amount/100) - misc.discount + misc.shippingCharge)).toFixed(2) ) ).toFixed(2) }}</span>
                            <strong class="pull-left">TOTAL:</strong>
                        </span>

                        <hr />

                        <button type="submit" ng-disabled="processingReg" class="btn btn-primary btn-lg btn-block" ng-click="completeRegistration()">
                            Place Order <span class="fa fa-chevron-circle-right"></span>
                        </button>

                        <div ng-show="globalValidationFailed" class="alert alert-danger margin-top-30">
                            <strong>Please resolve the highlighted form errors</strong>
                        </div>

                    </div>
                </div>
            </div>

        </form>

        <div ng-show="subErr" class="alert alert-danger">Error completing checkout. Your have not yet been charged. Please go to your <strong><a href="/My-Account">Account Management Page</a></strong> to verify your payment method and subscription.</div>

    </div>

</div>