<div class="row heading-title heading-dotted text-center margin-top-60">
    <h1 class="pricing-head" ng-show="formPage==1">
        Select the Package That Fits You
    </h1>
    <h1 class="pricing-head" ng-show="formPage==2">
        Shipping and Billing Details
    </h1>
    <h1 class="pricing-head" ng-show="formPage==3">
        Order Has Been Completed
    </h1>
</div>

<div class="row">

    <!-- Choose a plan -->
    <div ng-show="formPage==1">

        <div class="btn-group margin-left-30">
            <label class="btn btn-success btn-xlg" ng-model="activeTab" uib-btn-radio="'plan'" style="font-size:20px;"><span class="fa fa-calendar"></span>&nbsp;&nbsp;Monthly Subscriptions</label>
            <label class="btn btn-success btn-xlg" ng-model="activeTab" uib-btn-radio="'gift'" style="font-size:20px;"><span class="fa fa-gift"></span>&nbsp;&nbsp;Gift Boxes</label>
        </div>

        <hr class="margin-bottom-40 margin-top-40" />

        <div ng-show="activeTab=='plan'" class="container" ng-class="{ 'active' : activeTab.subscription }">

            <div class="col-md-3 col-sm-3" ng-repeat="plan in formPlans">
                <div class="price-clean">
                    <h1 class="pricing-head" ng-if="plan.interval_count>1">{{ plan.interval_count }} Month Prepaid Plan</h1>
                    <h3 class="pricing-head" ng-if="plan.interval_count===1">
                        Monthly<br/>
                        <span class="text-black" ng-if="indexOf(plan.id, 'starter')>-1">
                            Starter Plan
                        </span>
                        <span class="text-black" ng-if="indexOf(plan.id, 'starter')<0">
                            Plan
                        </span>
                    </h3>
                    <h4>
                        <sup>$</sup>{{ (plan.amount/plan.interval_count/100).toFixed(2) }}<em> / month</em>
                    </h4>
                    <h5 ng-if="plan.interval_count===12"> ${{ plan.amount/100 }} ANNUALLY </h5>
                    <h5 ng-if="plan.interval_count===3"> ${{ plan.amount/100 }} QUARTERLY </h5>
                    <h5 ng-if="plan.interval_count===1"> ${{ plan.amount/100 }} MONTHLY </h5>
                    <p ng-show="indexOf(plan.id, 'starter')>-1" class="text-gray">3 Premium Artisan Bars</p>
                    <p ng-show="indexOf(plan.id, 'starter')<0" class="text-gray">4 Premium Artisan Bars</p>
                    <hr />
                    <div ng-show="plan.interval_count==1">
                        <h3 class="text-green">
                            <br/>
                            <span class="fa fa-gift text-success"></span>
                            <br/>
                            <br/>
                        </h3>
                    </div>
                    <div ng-show="plan.interval_count==3">
                        <h3 class="text-green">
                            <br/>
                            <span class="fa fa-gift text-success"></span>
                            <br/>
                            <span class="fa fa-gift text-success"></span>
                            <span class="fa fa-gift text-success"></span>
                        </h3>
                    </div>
                    <div ng-show="plan.interval_count==12">
                        <h3>
                            <span class="fa fa-gift text-success"></span>
                            <span class="fa fa-gift text-success"></span>
                            <span class="fa fa-gift text-success"></span>
                            <span class="fa fa-gift text-success"></span>
                            <br/>
                            <span class="fa fa-gift text-success"></span>
                            <span class="fa fa-gift text-success"></span>
                            <span class="fa fa-gift text-success"></span>
                            <span class="fa fa-gift text-success"></span>
                            <br/>
                            <span class="fa fa-gift text-success"></span>
                            <span class="fa fa-gift text-success"></span>
                            <span class="fa fa-gift text-success"></span>
                            <span class="fa fa-gift text-success"></span>
                        </h3>
                    </div>
                    <hr />
                    <h2>FREE SHIPPING!</h2>

                    <hr />

                    <a href="" ng-disabled="formPlans.length==0" ng-if="!loggedIn" ng-click="selectPlan(plan.id)" class="btn btn-3d btn-success btn-block btn-lg">CHOOSE PLAN</a>

                    <a href="" ng-disabled="formPlans.length==0 || updatingPlan" ng-if="loggedIn" ng-hide="plan.id.split('_')[0] === cleanActivePlanId" ng-click="updateRecurringPlan(plan.id)" class="btn btn-3d btn-success btn-block btn-lg">CHANGE TO THIS</a>
                    <a href="" ng-show="plan.id.split('_')[0] === cleanActivePlanId" class="btn btn-3d btn-info btn-block btn-lg">CURRENT PLAN</a>
                </div>
            </div>

            <h4 class="col-md-12 margin-top-20">Choose a plan for automatic monthly delivery of premium artisan chocolate to your door! Packaged and shipped after the 15th of each month. Cancel at anytime, no strings attached.</h4>

        </div>

        <div ng-show="activeTab=='gift'" class="container" ng-class="{ 'active' : activeTab.gift }">

            <div class="col-sm-3" ng-repeat="gift in formGifts">
                <div class="price-clean">
                    <div class="ribbon">
                        <div class="ribbon-inner"><span class="fa fa-gift"></span>&nbsp;GIFT</div>
                    </div>
                    <h1 class="pricing-head" ng-if="gift.interval_count>1">{{ gift.interval_count }} Month <br/> Prepaid Gift</h1>
                    <h1 class="pricing-head" ng-if="gift.interval_count===1">
                        Gift A <br/>
                        <span class="text-black" ng-if="indexOf(gift.id, 'starter')>-1">
                            Starter Box
                        </span>
                        <span class="text-black" ng-if="indexOf(gift.id, 'starter')<0">
                            Box
                        </span>
                    </h1>
                    <h4>
                        <sup>$</sup>{{ (gift.amount/gift.interval_count/100).toFixed(2) }}<em> <i ng-hide="gift.interval_count===1">/ month</i></em>
                    </h4>
                    <h5 ng-if="gift.interval_count===12"> ${{ gift.amount/100 }} </h5>
                    <h5 ng-if="gift.interval_count===3"> ${{ gift.amount/100 }} </h5>
                    <h5 ng-if="gift.interval_count===1"> ${{ gift.amount/100 }} </h5>
                    <p ng-show="indexOf(gift.id, 'starter')>-1" class="text-gray">3 Premium Artisan Bars</p>
                    <p ng-show="indexOf(gift.id, 'starter')<0" class="text-gray">4 Premium Artisan Bars</p>
                    <hr />
                    <div ng-show="gift.interval_count==1">
                        <h3 class="text-green">
                            <br/>
                            <span class="fa fa-gift text-success"></span>
                            <br/>
                            <br/>
                        </h3>
                    </div>
                    <div ng-show="gift.interval_count==3">
                        <h3 class="text-green">
                            <br/>
                            <span class="fa fa-gift text-success"></span>
                            <br/>
                            <span class="fa fa-gift text-success"></span>
                            <span class="fa fa-gift text-success"></span>
                        </h3>
                    </div>
                    <div ng-show="gift.interval_count==12">
                        <h3>
                            <span class="fa fa-gift text-success"></span>
                            <span class="fa fa-gift text-success"></span>
                            <span class="fa fa-gift text-success"></span>
                            <span class="fa fa-gift text-success"></span>
                            <br/>
                            <span class="fa fa-gift text-success"></span>
                            <span class="fa fa-gift text-success"></span>
                            <span class="fa fa-gift text-success"></span>
                            <span class="fa fa-gift text-success"></span>
                            <br/>
                            <span class="fa fa-gift text-success"></span>
                            <span class="fa fa-gift text-success"></span>
                            <span class="fa fa-gift text-success"></span>
                            <span class="fa fa-gift text-success"></span>
                        </h3>
                    </div>
                    <hr />
                    <h2>FREE SHIPPING!</h2>

                    <hr/>

                    <a href="" ng-disabled="formPlans.length==0" ng-click="selectPlan(gift.id)" class="btn btn-3d btn-success btn-block btn-lg"><i class="glyphicon glyphicon-gift"></i> SELECT GIFT</a>
                </div>
            </div>

            <h4 class="col-md-12 margin-top-20">Gift boxes provide you with a way to share the joy of premium chocolate with those close to you! One time gifts are packaged and shipped right away, multi-month plans ship after the 15th.</h4>

        </div>


    </div>


    <!-- Shipping Information -->
    <div ng-show="formPage==2">
        <form class="row clearfix" novalidate>
            <div class="col-lg-7 col-sm-7 margin-top-20">

                <div class="box-static box-light-grey margin-bottom-40">
                    <div class="box-title">
                        <h4 ng-show="!loggedIn">Shipping Address</h4>
                        <h4 ng-show="loggedIn && chosenPlan.metadata.is_gift==='false'">Shipping Address <a href="/My-Account" class="btn btn-xs btn-success pull-right">Edit</a></h4>
                        <h4 ng-show="loggedIn && chosenPlan.metadata.is_gift==='true'">Gift Recipient Shipping Address</h4>
                    </div>

                    <fieldset class="margin-top-30" ng-show="!loggedIn || (loggedIn && chosenPlan.metadata.is_gift==='true')">
                        <div class="col-lg-12 form-group" ng-class="{ 'has-error' : validationErrors.name }">
                            <label for="billing_firstname"><small>Full Name *</small></label>
                            <input id="billing_firstname" name="billing[firstname]" type="text" class="form-control required" ng-model="userInfo.name" />
                            <p class="text-danger" ng-show="validationErrors.name">{{ validationErrors.name }}</p>
                        </div>
                        <div class="col-lg-12 form-group" ng-class="{ 'has-error' : validationErrors.address.line1 }">
                            <label for="billing_address1"><small>Address *</small></label>
                            <input id="billing_address1" name="billing[address][]" type="text" class="form-control required" ng-model="userInfo.address.line1" />
                            <p class="text-danger" ng-show="validationErrors.address.line1">{{ validationErrors.address.line1 }}</p>

                            <label for="billing_address1"><small>Apt/Suite</small></label>
                            <input id="billing_address2" name="billing[address][]" type="text" class="form-control" ng-model="userInfo.address.line2" />
                            <p class="text-danger" ng-show="validationErrors.address.line2">{{ validationErrors.address.line2 }}</p>
                        </div>
                        <div class="col-md-6 col-sm-6 form-group" ng-class="{ 'has-error' : validationErrors.address.city }">
                            <label for="billing_city"><small>City *</small></label>
                            <input id="billing_city" name="billing[city]" type="text" class="form-control required" ng-model="userInfo.address.city" />
                            <p class="text-danger" ng-show="validationErrors.address.city">{{ validationErrors.address.city }}</p>
                        </div>
                        <div class="col-md-6 col-sm-6 form-group" ng-class="{ 'has-error' : validationErrors.address.postal_code }">
                            <label for="billing_zipcode"><small>Postal/Zip Code *</small></label>
                            <input id="billing_zipcode" name="billing[zipcode]" type="text" class="form-control required" ng-model="userInfo.address.postal_code" />
                            <p class="text-danger" ng-show="validationErrors.address.postal_code">{{ validationErrors.address.postal_code }}</p>
                        </div>
                        <div class="col-md-6 col-sm-6 form-group" ng-class="{ 'has-error' : validationErrors.address.state }">
                            <label for="shipping_state"><small>State/Province *</small></label>
                            <select id="shipping_state" class="form-control input-normal" ng-options="o as o.name for o in formOptions.provinces" ng-model="userInfo.address.state">
                            </select>
                            <p class="text-danger" ng-show="validationErrors.address.state">{{ validationErrors.address.state }}</p>
                        </div>
                        <div class="col-md-6 col-sm-6" ng-class="{ 'has-error' : validationErrors.address.country }">
                            <label><small>Country *</small></label>
                            <select id="country" class="form-control input-normal" ng-options="o as o.name for o in formOptions.countries" ng-model="userInfo.address.country">
                            </select>
                            <p class="text-danger" ng-show="validationErrors.address.country">{{ validationErrors.address.country }}</p>
                        </div>
                    </fieldset>

                    <fieldset class="margin-top-30" ng-show="loggedIn && chosenPlan.metadata.is_gift==='false'">
                        <div class="col-lg-12 form-group">
                            <p class="form-control-static">{{ customer.shipping.name }}</p>
                        </div>
                        <div class="col-lg-12 form-group">
                            <p class="form-control-static">{{ customer.shipping.address.line1 }}</p>
                            <p ng-hide="customer.shipping.address.line2.length===0" class="form-control-static">{{ customer.shipping.address.line2 }}</p>
                        </div>
                        <div class="col-lg-12 form-group">
                            <p class="form-control-static">{{ customer.shipping.address.city }}, {{ customer.shipping.address.state.id }}</p>
                        </div>
                        <div class="col-lg-12 form-group">
                            <p class="form-control-static">{{ customer.shipping.address.postal_code }}</p>
                        </div>
                        <div class="col-lg-12 form-group">
                            <p class="form-control-static">{{ customer.shipping.address.country.name }}</p>
                        </div>
                    </fieldset>
                </div>


                <div class="box-static box-light-grey margin-bottom-40">
                    <div class="box-title">
                        <h4>Billing Information <a href="/My-Account" ng-show="loggedIn" class="btn btn-xs btn-success pull-right">Edit</a></h4>
                    </div>
                    <fieldset class="margin-top-20" ng-show="!loggedIn">
                        <div class="col-xs-12 margin-bottom-10">
                            <span class="fa fa-cc-visa fa-2x" ng-class="{ 'color-visa' : identifyCardType()==='visa', 'text-gray' : identifyCardType()!=='visa' }"></span>
                            <span class="fa fa-cc-mastercard fa-2x" ng-class="{ 'color-mastercard' : identifyCardType()==='mastercard', 'text-gray' : identifyCardType()!=='mastercard' }"></span>
                            <span class="fa fa-cc-amex fa-2x" ng-class="{ 'color-amex' : identifyCardType()==='amex', 'text-gray' : identifyCardType()!=='amex' }"></span>
                            <span class="fa fa-cc-discover fa-2x" ng-class="{ 'color-discover' : identifyCardType()==='discover', 'text-gray' : identifyCardType()!=='discover' }"></span>
                            <span class="fa fa-cc-diners-club fa-2x" ng-class="{ 'color-diners-club' : identifyCardType()==='diners-club', 'text-gray' : identifyCardType()!=='diners-club' }"></span>
                            <span class="fa fa-cc-jcb fa-2x" ng-class="{ 'color-jcb' : identifyCardType()==='jcb', 'text-gray' : identifyCardType()!=='jcb' }"></span>
                        </div>
                        <div class="col-xs-12 form-group" ng-class="{ 'has-error' : validationErrors.source.name }">
                            <label><small>Name On Card *</small></label>
                            <input type="text" class="form-control input-normal" id="chn" ng-model="userInfo.source.name">
                            <p class="text-danger" ng-show="validationErrors.source.name">{{ validationErrors.source.name }}</p>
                        </div>
                        <div class="col-xs-12 form-group" ng-class="{ 'has-error' : validationErrors.source.number }">
                            <label><small>Card Number *</small></label>
                            <input type="text" class="form-control input-normal" id="chn" ng-model="userInfo.source.number">
                            <p class="text-danger" ng-show="validationErrors.source.number">{{ validationErrors.source.number }}</p>
                        </div>
                        <div class="col-md-6 col-sm-6 form-group" ng-class="{ 'has-error' : validationErrors.source.exp_month }">
                            <label><small>Expiry Month *</small></label>
                            <select id="exp_mon" class="form-control input-normal" ng-options="mon as mon.name for mon in formOptions.ccExp.month" ng-model="userInfo.source.exp_month">
                            </select>
                            <p class="text-danger" ng-show="validationErrors.source.exp_month">{{ validationErrors.source.exp_month }}</p>
                        </div>
                        <div class="col-md-6 col-sm-6 form-group" ng-class="{ 'has-error' : validationErrors.source.exp_year }">
                            <label><small>Expiry Year *</small></label>
                            <select class="form-control input-normal" id="exp_year" ng-model="userInfo.source.exp_year" ng-options="year for year in formOptions.ccExp.year">
                                <option ng-repeat="option in formOptions.ccExp.year" value="{{ option.id }}">{{ option.name }}</option>
                            </select>
                            <p class="text-danger" ng-show="validationErrors.source.exp_year">{{ validationErrors.source.exp_year }}</p>
                        </div>
                        <div class="col-md-6 col-sm-6 form-group" ng-class="{ 'has-error' : validationErrors.source.cvc }">
                            <label><small>CVC</small></label>
                            <input type="text" class="form-control required" ng-model="userInfo.source.cvc" />
                            <p class="text-danger" ng-show="validationErrors.source.cvc">{{ validationErrors.source.cvc }}</p>
                        </div>
                        <div class="col-md-6 col-sm-6 form-group" ng-class="{ 'has-error' : validationErrors.source.address_zip }">
                            <label><small>Postal/Zip Code *</small></label>
                            <input type="text" class="form-control required" ng-model="userInfo.source.address_zip" />
                            <p class="text-danger" ng-show="validationErrors.source.address_zip">{{ validationErrors.source.address_zip }}</p>
                        </div>
                        <div class="col-md-6 col-sm-6 margin-top-10">
                            <label><small>Coupon Code</small></label>
                            <div class="input-group" ng-class="{ 'has-error' : validationErrors.couponCode }">
                                <input class="form-control" ng-model="misc.testCouponCode" />
                            <span class="input-group-btn">
                                <button class="btn btn-primary" ng-click="applyCoupon()">
                                    Apply
                                </button>
                            </span>
                            </div>
                            <p class="text-danger" ng-show="validationErrors.couponCode">{{ validationErrors.couponCode }}</p>
                            <p class="text-success" ng-show="misc.discount>0">Successfully applied coupon!</p>
                        </div>
                    </fieldset>

                    <fieldset class="margin-top-30" ng-show="loggedIn">
                        <div class="col-lg-12 form-group">
                            <p class="form-control-static">
                                <span ng-if="customer.sources.data[0].brand=='Visa'" class="fa fa-cc-visa fa-2x color-visa"></span>
                                <span ng-if="customer.sources.data[0].brand=='Mastercard'" class="fa fa-cc-mastercard fa-2x color-mastercard"></span>
                                <span ng-if="customer.sources.data[0].brand=='Amex'" class="fa fa-cc-amex fa-2x color-amex"></span>
                                <span ng-if="customer.sources.data[0].brand=='Discover'" class="fa fa-cc-discover fa-2x color-discover"></span>
                                <span ng-if="customer.sources.data[0].brand=='Diners-club'" class="fa fa-cc-diners-club fa-2x color-diners-club"></span>
                                <span ng-if="customer.sources.data[0].brand=='JCB'" class="fa fa-cc-jcb fa-2x color-jcb"></span>
                                &nbsp;**** **** **** {{ customer.sources.data[0].last4 }}
                            </p>
                        </div>
                        <div class="col-md-6 col-sm-6 margin-top-10">
                            <label><small>Coupon Code</small></label>
                            <div class="input-group" ng-class="{ 'has-error' : validationErrors.couponCode }">
                                <input class="form-control" ng-model="misc.testCouponCode" />
                            <span class="input-group-btn">
                                <button class="btn btn-primary" ng-click="applyCoupon()">
                                    Apply
                                </button>
                            </span>
                            </div>
                            <p class="text-danger" ng-show="validationErrors.couponCode">{{ validationErrors.couponCode }}</p>
                            <p class="text-success" ng-show="misc.discount>0">Successfully applied coupon!</p>
                        </div>
                    </fieldset>
                </div>

                <div class="box-static box-light-grey" ng-hide="loggedIn">
                    <div class="box-title">
                        <h4>Account Setup</h4>
                    </div>
                    <fieldset class="margin-top-20" ng-show="localUser==null">
                        <div class="col-md-6 col-sm-6" ng-class="{ 'has-error' : validationErrors.email }">
                            <label for="account_email"><small>Email *</small></label>
                            <input id="account_email" name="billing[email]" type="text" class="form-control required" ng-model="userInfo.email" />
                            <p class="text-danger" ng-show="validationErrors.email">{{ validationErrors.email }}</p>
                        </div>
                        <div class="col-md-6 col-sm-6" ng-class="{ 'has-error' : validationErrors.password }">
                            <label for="account_password"><small>Password *</small></label>
                            <input id="account_password" name="billing[email]" type="password" class="form-control required" ng-model="userInfo.password" />
                            <p class="text-danger" ng-show="validationErrors.password">{{ validationErrors.password }}</p>
                        </div>
                    </fieldset>
                    <fieldset class="margin-top-20" ng-show="localUser!=null">
                        <div class="col-md-6 col-sm-6" ng-class="{ 'has-error' : validationErrors.email }">
                            <label for="account_email"><small>Email *</small></label>
                            <p class="form-control-static required">{{ localUser.email }}</p>
                        </div>
                        <div class="col-md-6 col-sm-6" ng-class="{ 'has-error' : validationErrors.password }">
                            <label for="account_password"><small>Password *</small></label>
                            <p class="form-control-static required">********</p>
                        </div>
                    </fieldset>
                    <small>We create a simple account for you, in case there is an issue with processing your payment, or your package destination address changes.</small>
                </div>

                <div ng-hide="loggedIn" class="margin-top-30">
                    <button type="submit" ng-disabled="processingReg" class="btn btn-success btn-lg btn-block" ng-click="completeRegistration()">
                        Place Order <span class="fa fa-chevron-circle-right"></span>
                    </button>
                    <div ng-show="processingReg" class="margin-top-20 pull-right three-quarters-loader">
                        Processing Order...
                    </div>
                </div>

            </div>

            <div class="col-lg-5 col-sm-5">
                <div class="clearfix margin-top-30">
                    <div class="toggle-content">

                        <div class="heading-title">
                            <h4>Order Details</h4>
                        </div>

                        <hr/>

                        <div ng-show="chosenPlan.metadata.is_gift=='false'" class="clearfix">
                            <h4 class="pull-left"> {{ chosenPlan.cleanName }}</h4>
                            <h4 class="pull-right">$ {{ (chosenPlan.amount/100).toFixed(2) }}</h4>
                        </div>
                        <div ng-show="chosenPlan.metadata.is_gift=='true'" class="clearfix">
                            <div class="pull-left">
                                <button class="btn margin-bottom-neg-10 margin-left-2" ng-click="changeGiftQuantity(true)"><span class="text-black fa fa-plus"></span></button>
                                <h2><span class="label label-default">{{ userInfo.subscription.giftQuantity }}x</span></h2>
                                <button class="btn margin-top-neg-50 margin-left-2" ng-click="changeGiftQuantity(false)"><span class="text-black fa fa-minus"></span></button>
                            </div>
                            <h4 class="pull-left margin-top-40 margin-left-20"> {{ chosenPlan.cleanName }}</h4>
                            <h4 class="pull-right margin-top-40">$ {{ ( userInfo.subscription.giftQuantity * (chosenPlan.amount/100) ).toFixed(2) }}</h4>
                        </div>
                        <span class="clearfix">
                            <button type="submit" class="btn btn-sm btn-block btn-info margin-bottom-20" ng-click="goBack(1)">Switch Selected (Go Back)</button>
                        </span>
                        <span class="clearfix">
                            <span class="pull-right">- $ {{ misc.discount.toFixed(2) }}</span>
                            <span class="pull-left">Coupon Discount:  <em class="text-green" ng-show="misc.discount > 0">{{ userInfo.subscription.id }}</em></span>
                        </span>
                        <span class="clearfix">
                            <h3><span class="pull-right label label-success" ><strong>FREE !</strong></span></h3>
                            <span class="pull-left">Shipping:</span>
                        </span>

                        <hr />

                        <span class="clearfix">
                            <span class="pull-right">$ {{ ( (userInfo.subscription.giftQuantity * (chosenPlan.amount/100)) - misc.discount + misc.shippingCharge ).toFixed(2) }}</span>
                            <strong class="pull-left">Subtotal:</strong>
                        </span>
                        <span class="clearfix">
                            <span class="pull-right">$ {{(tax.rate*( (userInfo.subscription.giftQuantity * (chosenPlan.amount/100)) - misc.discount + misc.shippingCharge)).toFixed(2) }}</span>
                            <span class="pull-left">Tax {{ tax.desc }}:</span>
                            <span class="pull-left">&nbsp;</span>
                        </span>

                        <hr />

                        <span class="clearfix">
                            <span class="pull-right size-20">$ {{ ( (userInfo.subscription.giftQuantity * (chosenPlan.amount/100)) - misc.discount + misc.shippingCharge + parseFloat( (tax.rate*( (userInfo.subscription.giftQuantity * (chosenPlan.amount/100)) - misc.discount + misc.shippingCharge)).toFixed(2) ) ).toFixed(2) }}</span>
                            <strong class="pull-left">TOTAL:</strong>
                        </span>

                        <hr />

                        <button type="submit" ng-disabled="processingReg" class="btn btn-success btn-lg btn-block" ng-click="completeRegistration()">
                            <span ng-if="!loggedIn">Place Order <span class="fa fa-chevron-circle-right"></span></span>
                            <span ng-if="loggedIn && chosenPlan.metadata.is_gift==='true'">Place Order <span class="fa fa-chevron-circle-right"></span></span>
                            <span ng-if="loggedIn && chosenPlan.metadata.is_gift==='false'">Change Plan <span class="fa fa-refresh"></span></span>
                        </button>

                        <div ng-show="globalValidationFailed" class="alert alert-danger margin-top-30">
                            <strong>There were issues with your information</strong>
                        </div>

                        <div ng-show="processingReg" class="margin-top-20 pull-right three-quarters-loader">
                            Processing Order...
                        </div>

                        <div class="margin-top-30">
                            <div class="pull-left margin-top-10">
                                <img src="/assets/images/cc/Visa.png" />
                                <img src="/assets/images/cc/Mastercard.png" />
                                <img src="/assets/images/cc/American-Express.png" />
                                <br/>
                                <div class="margin-top-10">
                                    <img src="/assets/images/cc/Discover.png" />
                                    <img src="/assets/images/cc/Diners-Club.png" />
                                    <img src="/assets/images/cc/JCB.png" />
                                </div>
                            </div>
                            <div class="pull-left margin-top-30 margin-left-50">
                                <a href="https://stripe.com/help/security" target="_blank">
                                    <img src="/assets/images/security_seals/powered_by_stripe.png" />
                                </a>
                            </div>
                            <div class="pull-right">
                                <img class="pull-right" src="/assets/images/security_seals/comodo_secure_100x85_white.png" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </form>

        <div ng-show="subErr" class="alert alert-danger">Error completing checkout. Your have not yet been charged. Please go to your <strong><a href="/My-Account">Account Management Page</a></strong> to verify your payment method and subscription.</div>

    </div>

    <!-- Order Confirmation page -->
    <div ng-show="formPage==3">

        <section>
            <div class="container">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Thank you, {{ userInfo.name }}.</h3>

                        <p>
                            Your order has been successfully placed. <br/>
                            If you would like to modify your gift, plan, or information, please go to the <a href="/My-Account">management panel</a><br />
                        </p>

                        <hr />

                        <p>
                            Enjoy your premium fair trade chocolate,<br />
                            <strong>Cocoa Couriers</strong>
                        </p>
                    </div>
                </div>
                <!-- /CHECKOUT FINAL MESSAGE -->

            </div>
        </section>

    </div>

    <hr class="margin-bottom-100"/>

</div>