<!--paralax section-->
<section class="bg-black dark margin-bottom-neg-50">

    <div class="hidden-xs">
        <div class="container">

            <div class="col-xs-4 text-center">
                <h4>COCOA COURIERS</h4>
                <a href="/" class="text-white">ABOUT</a><br/>
                <a href="/partners" class="text-white">OUR PARTNERS</a><br/>
                <a href="http://blog.cocoacouriers.com" class="text-white">BLOG</a><br/>
                <a href="/store" class="text-white">OUR CHOCOLATES</a>
            </div>
            <div class="col-xs-4 text-center">
                <h4>FAQ</h4>
                <a href="/terms" class="text-white">SHIPPING</a><br/>
                <a href="/terms" class="text-white">TERMS OF USE</a><br/>
                <a href="/terms" class="text-white">PRIVACY POLICY</a>
            </div>
            <div class="col-xs-4 text-center">
                <h4>CONTACT</h4>
                <a href="mailto:info@cocoacouriers.com" class="text-white">INFO@COCOACOURIERS.COM</a>
            </div>

            <div class="col-xs-12 margin-top-20 text-center">
                <hr class="border-white border-top-1" />
            </div>

            <div class="col-xs-12 margin-top-20 text-center">
                <h4>FOLLOW US</h4>
                <ul class="list-inline list-unstyled">
                    <li>
                        <a target="_blank" href="https://www.facebook.com/cocoacouriers" class="social-icon social-icon-border social-facebook">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://twitter.com/CocoaCouriers" class="social-icon social-icon-border social-twitter">
                            <i class="icon-twitter"></i>
                            <i class="icon-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://instagram.com/cocoacouriers" class="social-icon social-icon-border social-instagram">
                            <i class="icon-instagram"></i>
                            <i class="icon-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.pinterest.com/cocoacouriers/" class="social-icon social-icon-border social-pinterest">
                            <i class="icon-pinterest"></i>
                            <i class="icon-pinterest"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="row margin-left-20 margin-right-20">
            <div class="text-center">
                <div class="pull-left">
                    <span class="text-white size-11" id="copyrightDate"></span>
                </div>

                <div class="pull-right">
                    <span class="fa fa-cc-visa text-white"></span>
                    <span class="fa fa-cc-mastercard text-white"></span>
                    <span class="fa fa-cc-amex text-white"></span>
                    <span class="fa fa-cc-discover text-white"></span>
                    <span class="fa fa-cc-diners-club text-white"></span>
                    <span class="fa fa-cc-jcb text-white"></span>
                    <span class="size-11 text-white">&nbsp;&nbsp;&nbsp;Accepted</span>
                </div>
            </div>
        </div>
    </div>

    <div class="visible-xs">
        <div class="container margin-top-neg-50">

            <div class="col-xs-6 text-left">
                <h4>COCOA</h4>
                <a href="/" class="text-white">ABOUT</a><br/>
                <a href="/partners" class="text-white">OUR PARTNERS</a><br/>
                <a href="http://blog.cocoacouriers.com" class="text-white">BLOG</a><br/>
                <a href="/store" class="text-white">OUR CHOCOLATES</a>
            </div>
            <div class="col-xs-6 text-right">
                <h4>FAQ</h4>
                <a href="/terms" class="text-white">SHIPPING</a><br/>
                <a href="/terms" class="text-white">TERMS OF USE</a><br/>
                <a href="/terms" class="text-white">PRIVACY POLICY</a>
            </div>

            <div class="col-xs-12 margin-top-20 text-center">
                <hr class="border-white border-top-1" />
            </div>

            <div class="col-xs-12 margin-top-20 text-center">
                <h4>FOLLOW US</h4>
                <ul class="list-inline list-unstyled">
                    <li>
                        <a target="_blank" href="https://www.facebook.com/cocoacouriers" class="social-icon social-icon-border social-facebook">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://twitter.com/CocoaCouriers" class="social-icon social-icon-border social-twitter">
                            <i class="icon-twitter"></i>
                            <i class="icon-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://instagram.com/cocoacouriers" class="social-icon social-icon-border social-instagram">
                            <i class="icon-instagram"></i>
                            <i class="icon-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.pinterest.com/cocoacouriers/" class="social-icon social-icon-border social-pinterest">
                            <i class="icon-pinterest"></i>
                            <i class="icon-pinterest"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="row margin-left-20 margin-right-20">
            <div class="text-center">
                <span class="fa fa-cc-visa text-white"></span>
                <span class="fa fa-cc-mastercard text-white"></span>
                <span class="fa fa-cc-amex text-white"></span>
                <span class="fa fa-cc-discover text-white"></span>
                <span class="fa fa-cc-diners-club text-white"></span>
                <span class="fa fa-cc-jcb text-white"></span>
                <span class="size-11 text-white">&nbsp;Accepted</span>
                <br/>
                <span class="text-white size-11">&copy; Cocoa Couriers</span>
            </div>
        </div>
    </div>

</section>

<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>


<script>
    jQuery(document).ready(function() {var currentYear = new Date().getFullYear();jQuery('#copyrightDate').text('\u00A9 ' + currentYear + ', CocoaCouriers.com')});
</script>
