<!--paralax section-->
<section class="parallax parallax-2" style="background-image: url('/assets/images/bg.png');">
    <div class="overlay dark-8"><!-- dark overlay [1 to 9 opacity] --></div>

    <div class="container center-block">

        <div class="text-center">
            <h3 class="nomargin">Share Us With Friends, Follow Us on Social Media!</h3>
        </div>
        <div class="col-sm-10 col-sm-offset-2">
            <ul class="margin-top-80 social-icons list-unstyled">
                <li>
                    <a target="_blank" href="https://www.facebook.com/cocoacouriers">
                        <i class="fa fa-facebook"></i>
                        <h4>Facebook</h4>
                        <span>Be Our Friend</span>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://twitter.com/CocoaCouriers">
                        <i class="fa fa-twitter"></i>
                        <h4>Twitter</h4>
                        <span>Follow Us</span>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://instagram.com/cocoacouriers">
                        <i class="fa fa-instagram"></i>
                        <h4>Instagram</h4>
                        <span>See Our Images</span>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.pinterest.com/cocoacouriers/">
                        <i class="fa fa-pinterest"></i>
                        <h4>Pinterest</h4>
                        <span>Visual Discovery</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</section>

<!--paralax section-->
<!-- /wrapper -->

<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>

<!-- JAVASCRIPT FILES -->
<script type="text/javascript" src="/assets/plugins/jquery/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/assets/plugins/jquery/js-cookie.min.js"></script>
<script type="text/javascript">var plugin_path = '/assets/plugins/';</script>
<script type="text/javascript" src="/assets/js/scripts.js"></script>

<script type="text/javascript">
    (function() {
        window._pa = window._pa || {};
        // _pa.orderId = "myOrderId"; // OPTIONAL: attach unique conversion identifier to conversions
        // _pa.revenue = "19.99"; // OPTIONAL: attach dynamic purchase values to conversions
        // _pa.productId = "myProductId"; // OPTIONAL: Include product ID for use with dynamic ads
        var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
        pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.marinsm.com/serve/56b8e3ecd1db8fef59000194.js";
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
    })();
</script>

<script type="text/javascript" src="/assets/js/loc.js"></script>

<script type="text/javascript">
    var cart = Cookies.get('cartPidQs');
    var subInCart = Cookies.get('subPid');
    $(document).ready( function() {
        var cartLen = 0;
        if (cart) {
            var cartObj = jQuery.parseJSON(cart);
            cartLen += cartObj.length;
        }
        if (subInCart) {
            cartLen += 1;
        }
        $( '#top-bar-cart-item-count' ).text(cartLen);
    });

</script>
