<!-- Top Bar -->
<div id="topBar" class="dark">
    <div class="container">

        <ul class="top-links list-inline">
            <li><a href="/">HOME</a></li>
            <li><a href="/My-Account">ACCOUNT</a></li>
        </ul>

        <div class="social-icons pull-right hidden-xs">
            <a href="https://www.facebook.com/cocoacouriers" class="social-icon social-icon-sm social-icon-transparent social-facebook" data-toggle="tooltip" data-placement="bottom" title="Facebook">
                <i class="icon-facebook"></i>
                <i class="icon-facebook"></i>
            </a>
            <a href="https://twitter.com/CocoaCouriers" class="social-icon social-icon-sm social-icon-transparent social-twitter" data-toggle="tooltip" data-placement="bottom" title="Twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
            </a>
            <a href="https://instagram.com/cocoacouriers" class="social-icon social-icon-sm social-icon-transparent social-gplus" data-toggle="tooltip" data-placement="bottom" title="Instagram">
                <i class="icon-instagram"></i>
                <i class="icon-instagram"></i>
            </a>
            <a href="https://www.pinterest.com/c_couriers/" class="social-icon social-icon-sm social-icon-transparent social-linkedin" data-toggle="tooltip" data-placement="bottom" title="Pintrest">
                <i class="icon-pinterest"></i>
                <i class="icon-pinterest"></i>
            </a>
        </div>
    </div>
</div>
<!-- /Top Bar -->


<div id="header" class="sticky clearfix dark">

    <!-- TOP NAV -->
    <header id="topNav">
        <div class="container">

            <!-- Mobile Menu Button -->
            <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Logo -->
            <a class="logo pull-left" href="index.html">
                <img src="assets/images/Logo-full.png" alt="" />
            </a>


            <!--
                Top Nav

                AVAILABLE CLASSES:
                submenu-dark = dark sub menu
            -->
            <div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
                <nav class="nav-main">

                    <ul id="topMain" class="nav nav-pills nav-main">
                        <li class=""><!-- HOME -->
                            <a class="" href="/">
                                HOME
                            </a>
                        </li>
                        <li class=""><!-- HOME -->
                            <a class="" href="/blog">
                                LEARN
                            </a>
                        </li>
                        <li class=""><!-- HOME -->
                            <a class="" href="subscribe">
                                SUBSCRIBE
                            </a>
                        </li>
                        <li class=""><!-- HOME -->
                            <a class="" href="/partners">
                                OUR PARTNERS
                            </a>
                        </li>
                        <li class=""><!-- HOME -->
                            <a class="" href="/subscribe?gift">
                                GIFTS
                            </a>
                        </li>


                    </ul>

                </nav>
            </div>

        </div>
    </header>
    <!-- /Top Nav -->

</div>