<!-- Top Bar -->
<div id="topBar">
    <div class="container">

        <ul class="top-links list-inline pull-right">
            <li>
                <div class="dropdown-toggle no-text-underline margin-left-10 margin-right-10">
                    <img class="flag-lang" id="top-bar-country-img" src="" width="16" height="11" alt="lang" />
                    <span id="top-bar-country-text"></span>
                </div>
            </li>
            <li>
                <a class="no-text-underline" href="/My-Account"><i class="fa fa-user hidden-xs"></i> MY ACCOUNT</a>
            </li>
        </ul>

    </div>
</div>
<!-- /Top Bar -->

<!-- Include the header template -->
<div id="header" class="sticky clearfix">

    <!-- TOP NAV -->
    <header id="topNav">
        <div class="container">

            <!-- Mobile Menu Button -->
            <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                <i class="fa fa-bars"></i>
            </button>


            <ul class="pull-right nav nav-pills nav-second-main">
                <li>
                    <a href="/store/cart">
                        <span id="top-bar-cart-item-count" class="badge badge-aqua badge-corner">0</span>
                        <i class="fa size-20 fa-shopping-cart"></i>
                    </a>
                </li>
            </ul>


            <!-- Logo -->
            <a class="logo pull-left" href="/">
                <img src="/assets/images/CC_WebLogo.png" alt="" />
            </a>

            <div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
                <nav class="nav-main">

                    <ul id="topMain" class="nav nav-pills nav-main size-20">
                        <li>
                            <a href="/store/subscribe" class="cc-color-dark-brown" alt="Subscribe">
                                <strong>TASTE</strong>
                            </a>
                        </li>
                        <li>
                            <a href="/store/item/classic-gift-box" class="cc-color-dark-brown" alt="Chocolate Gifts">
                                <strong>GIFTS</strong>
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.cocoacouriers.com" class="cc-color-dark-brown" alt="Learn More about chocolate">
                                <strong>BLOG</strong>
                            </a>
                        </li>
                    </ul>

                </nav>
            </div>

        </div>
    </header>
    <!-- /Top Nav -->

</div>

<script type="text/javascript" src="/assets/js/loc.js"></script>

<script type="text/javascript">
    var cart = Cookies.get('cartPidQs');
    var subInCart = Cookies.get('subPid');
    $(document).ready( function() {
        var cartLen = 0;
        if (cart) {
            var cartObj = jQuery.parseJSON(cart);
            cartLen += cartObj.length;
        }
        if (subInCart) {
            cartLen += 1;
        }
        $( '#top-bar-cart-item-count' ).text(cartLen);
    });

</script>