<div id="header" class="sticky clearfix dark">

    <!-- TOP NAV -->
    <header id="topNav">
        <div class="container">

            <!-- Mobile Menu Button -->
            <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Logo -->
            <a class="logo pull-left" href="/">
                <img src="/assets/images/Logo-full.png" alt="" />
            </a>

            <div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
                <nav class="nav-main">

                    <ul id="topMain" class="nav nav-pills nav-main">
                        <!--
                        <li class="">
                            <a class="" href="/">
                                HOME
                            </a>
                        </li>
                        -->
                        <li class="">
                            <a class="" href="/store">
                                SHOP
                            </a>
                        </li>
                        <li class="">
                            <a class="" href="subscribe">
                                SUBSCRIBE
                            </a>
                        </li>
                        <li class="">
                            <a class="" href="/subscribe?gift">
                                GIFTS
                            </a>
                        </li>
                        <li class="">
                            <a class="" href="/blog">
                                LEARN
                            </a>
                        </li>
                        <li class="">
                            <a class="" href="/partners">
                                OUR PARTNERS
                            </a>
                        </li>
                        <li>
                            <a href="/My-Account">
                                MY ACCOUNT
                            </a>
                        </li>
                    </ul>

                </nav>
            </div>

        </div>
    </header>
    <!-- /Top Nav -->

</div>